.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.blackLink {
    color: #181818;
    cursor: pointer;
}

.blackLink:hover {
    color: #23527c;
    text-decoration: underline;
}

.minHeight {
    min-height: 80px;
}

.minHeightSmaller {
    min-height: 60px;
}

.profileTable {
    border-collapse: separate;
    border: none;
    margin-bottom: 20px;
}

.profileTable h4 {
    margin-bottom: 8px;
    margin-top: 6px;
}

.profileTable tr {
    border: none;
}

.profileTable td {
    border: solid 1px #DDD;
    border-bottom: none;
}

.profileTable tr:first-child td:first-child {
    border-top-left-radius: 7px;
}

.profileTable tr:first-child td:last-child {
    border-top-right-radius: 7px;
}

.profileTable tr:last-child td:first-child {
    border-bottom-left-radius: 7px;
}

.profileTable tr:last-child td:last-child {
    border-bottom: solid 1px #DDD;
    border-bottom-right-radius: 7px;
}

.rendered {
    padding: 8px;
    text-align: left;
    margin-top: 2px;
}

.rendered h1:first-child {
    margin-top: 0;
}

.rendered h2:first-child {
    margin-top: 0;
}

.rendered h3:first-child {
    margin-top: 0;
}

.rendered h4:first-child {
    margin-top: 0;
}

.rendered h5:first-child {
    margin-top: 0;
}

.rendered h6:first-child {
    margin-top: 0;
}

.rendered h1:last-child {
    margin-bottom: 0;
}

.rendered h2:last-child {
    margin-bottom: 0;
}

.rendered h3:last-child {
    margin-bottom: 0;
}

.rendered h4:last-child {
    margin-bottom: 0;
}

.rendered h5:last-child {
    margin-bottom: 0;
}

.rendered h6:last-child {
    margin-bottom: 0;
}

.settingsTable {
    border-collapse: separate;
    border: 1px solid #DDD;
    border-radius: 7px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.settingsTable > tbody > tr > th {
    border: none;
    border-bottom: 1px solid #DDD;
    vertical-align: middle;
}

.settingsTable > tbody > tr:last-of-type > th {
    border: none;
}

.settingsTable > tbody > tr > td {
    border: none;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
}

.settingsTable > tbody > tr:last-of-type > td {
    border-bottom: none;
}

.table > thead > tr > th {
    background-color: #dcdcdc;
    border-bottom: 2px solid #ddd;
    vertical-align: middle;
}

.tableRow {
    border-bottom: 1px solid #ddd;
}

.tableRow:last-of-type {
    border-bottom: none;
}

#contents h1, #contents h2, #contents h3, #contents h4, #contents h5, #contents h6 {
    margin-top: 0;
}

textarea {
    margin-top: 2px;
    width: 100%;
    padding: 6px;
}
