[Unit]
Description=DBHub.io API daemon
Documentation=https://github.com/sqlitebrowser/dbhub.io
Requires=network-online.target
Wants=network-online.target
AssertFileIsExecutable=/usr/local/bin/api

[Service]
Environment="LD_LIBRARY_PATH=/home/dbhub/git_repos/dbhub.io/local/lib"
ExecStart=/usr/local/bin/api
WorkingDirectory=/home/dbhub/git_repos/dbhub.io
User=dbhub
Group=dbhub
PermissionsStartOnly=true
NonBlocking=true
SuccessExitStatus=0
StandardOutput=journal
StandardError=inherit
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
