[[ define "aboutPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="aboutView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2 data-cy="aboutus">About Us</h2>

            <h3><a id="whatis"></a>What is DBHub.io</h3>

            <p>We - <a href="https://github.com/orgs/sqlitebrowser/people">the people</a> behind
                <a href="http://sqlitebrowser.org">DB Browser for SQLite</a> (DB4S) - are adding an optional "Cloud"
                storage service for SQLite databases.</p>

            <h3><a id="why"></a>Why?</h3>

            <p>It's pretty simple. :)</p>

            <p>
                We've been putting time into DB4S for years, it's fairly popular (150k+ downloads every month), and
                we'd like to be able <br/> to both work on it full time & have actual lives.
            </p>

            <p>If we can generate sufficient ongoing revenue to make this all work, then yay, everyone wins! :)</p>

            <h3><a id="howopen"></a>How much is Open Source?</h3>

            <p>
                <i><b>Everything</b></i> is open source (<a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL3</a>
                or later).
            </p>

            <p>
                Nothing held back, no "open core", etc.  This is real, actual, proper, Open Source.  Not the fake
                variety. :)
            </p>

            <h3><a id="intendedfeatures"></a>Features we intend to include</h3>

            <p>
                Most of these are still "in development" or will come along later, they're all on our definite To Do
                list:
            </p>

            <table border="0">
                <tr><td style="padding: 5px;"><i class="fa fa-database fa-lg"></i></td><td>Basic send/receive of SQLite databases from DB4S (SQLite Browser)</td></tr>
                <tr><td style="padding: 5px;"><i class="fa fa-arrow-circle-right fa-lg"></i></td><td>Management of uploaded files. eg delete, rename, etc</td></tr>
                <tr><td style="padding: 5px;"><i class="fa fa-calendar fa-lg"></i></td><td>Online viewer/editor, with access controls</td></tr>
                <tr><td style="padding: 5px;"><i class="fa fa-sitemap fa-lg"></i></td><td>Teams + public/private databases</td></tr>
                <tr><td style="padding: 5px;"><i class="fa fa-balance-scale fa-lg"></i></td><td>Versioning for databases + basic "diff" support</td></tr>
                <tr><td style="padding: 5px;"><i class="fa fa-list-ol fa-lg"></i></td><td>An "Issues" section (trouble ticketing) for your databases</td></tr>
                <tr><td style="padding: 5px;"><i class="fa fa-indent fa-lg"></i></td><td>Forks, Pull Requests, Merging as per GitHub model</td></tr>
                <tr><td style="padding: 5px;"><i class="fa fa-arrows-alt fa-lg"></i></td><td>Branches, as per the git concept</td></tr>
                <tr><td style="padding: 5px;"><i class="fa fa-file-text-o fa-lg"></i></td><td>Support for email replys to comments, for Issues/PR's/etc</td></tr>
                <tr><td style="padding: 5px;"><i class="fa fa-file-image-o fa-lg"></i></td><td>Drag &amp; drop image support for Issues/PR's/etc</td></tr>
                <tr><td style="padding: 5px;"><i class="fa fa-exchange fa-lg"></i></td><td>An API, so people can query/update their database from "<a href="https://serverless.com">Serverless</a>" applications</td></tr>
            </table>

            <h2><a id="pricing"></a>How much will it cost?</h2>

            <p>Completely undetermined at this stage. ;)</p>

            <p>The concept GitHub uses for pricing - free for public stuff, $ for private - is
                appealing, but <b><i>may</i></b> not work for databases.  At least initially everything
                will be free, which should give us a start towards understanding data usage patterns.</p>

            <p>With that we can develop a workable model, though it may take a few iterations.</p>

            <p>&nbsp;</p>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('aboutView', function($scope) {
    });
</script>
</body>
</html>
[[ end ]]
