[[ define "abouthead" ]]
<head>
    <meta charset="UTF-8">
    <title>DBHub.io - [[ .Meta.Title ]]</title>
    <script src="/js/angular-1.5.11.min.js"></script>
    <script src="/js/angular-sanitize-1.5.11.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <link href="/css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <style>
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
    <script src="/js/lock-10.11.min.js"></script>
</head>
[[ end ]]