[[ define "comparePage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="compareView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div>
    <div id="db-header-root"></div>
    <div class="row">
        <div class="col-md-1" style="padding: 0;">&nbsp;</div>
        <div class="col-md-10" style="text-align: center;">
            <h2 style="text-align: center;">Create a Merge Request</h2>
            <div ng-if="statusMessage != ''" style="text-align: center; padding-bottom: 8px;">
                <h4 style="color: {{ statusMessageColour }};">&nbsp;{{ statusMessage }}</h4>
            </div>
            <table class="table table-striped table-responsive settingsTable">
                <tr>
                    <th style="vertical-align: middle;" width="330px">
                        Title
                    </th>
                    <td style="vertical-align: middle; text-align: left;">
                        <input size="50" maxlength="80" ng-attr-placeholder="Please fill in a title for the new merge request" ng-model="mr.title"/>
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: middle;">
                        Source database<br />
                        <span style="font-weight: normal;">Where the new data is coming from</span>
                    </th>
                    <td style="vertical-align: middle; text-align: left;">
                        <span class="dropdown">
                            <span class="btn-group" uib-dropdown keyboard-nav="true">
                                <button id="sourcedb" type="button" class="btn">{{ sourceDB }}</button>

                                <button type="button" uib-dropdown-toggle class="btn btn-default">
                                    <span class="caret"></span>
                                </button>
                                <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                    <li ng-repeat="row in forkList" role="menuitem" ng-click="changeSourceDB(row)">
                                        <a href="">{{ row.database_owner + row.database_folder + row.database_name }}</a>
                                    </li>
                                </ul>
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: middle;">
                        Source branch<br />
                        <span style="font-weight: normal;">The branch in the source database to use</span>
                    </th>
                    <td style="vertical-align: middle; text-align: left;">
                        <span class="dropdown">
                            <span class="btn-group" uib-dropdown keyboard-nav="true">
                                <button id="sourcebranch" type="button" class="btn">{{ meta.SourceBranch }}</button>

                                <button type="button" uib-dropdown-toggle class="btn btn-default">
                                    <span class="caret"></span>
                                </button>
                                <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                    <li ng-repeat="row in meta.SourceBranches" role="menuitem" ng-click="changeSourceBranch(row)">
                                        <a href="">{{ row }}</a>
                                    </li>
                                </ul>
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: middle;">
                        Destination database<br />
                        <span style="font-weight: normal;">Where you'd like the data merged into</span>
                    </th>
                    <td style="vertical-align: middle; text-align: left;">
                        <span class="dropdown">
                            <span class="btn-group" uib-dropdown keyboard-nav="true">
                                <button id="destdb" type="button" class="btn">{{ destDB }}</button>

                                <button type="button" uib-dropdown-toggle class="btn btn-default">
                                    <span class="caret"></span>
                                </button>
                                <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                    <li ng-repeat="row in forkList" role="menuitem" ng-click="changeDestDB(row)">
                                        <a href="">{{ row.database_owner + row.database_folder + row.database_name }}</a>
                                    </li>
                                </ul>
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: middle;">
                        Destination branch<br />
                        <span style="font-weight: normal;">The target branch in the destination database</span>
                    </th>
                    <td style="vertical-align: middle; text-align: left;">
                        <span class="dropdown">
                            <span class="btn-group" uib-dropdown keyboard-nav="true">
                                <button id="destbranch" type="button" class="btn">{{ meta.DestBranch }}</button>

                                <button type="button" uib-dropdown-toggle class="btn btn-default">
                                    <span class="caret"></span>
                                </button>
                                <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                    <li ng-repeat="row in meta.DestBranches" role="menuitem" ng-click="changeDestBranch(row)">
                                        <a href="">{{ row }}</a>
                                    </li>
                                </ul>
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: top;">
                        Description<br />
                        <span style="font-weight: normal;">The purpose of this merge request</span>
                    </th>
                    <td style="vertical-align: middle; text-align: left;">
                        <uib-tabset active="0">
                            <uib-tab index="0">
                                <uib-tab-heading><span style="color: #555;">Edit</span></uib-tab-heading>
                                <div style="text-align: center;">
                                    <textarea rows="10" ng-attr-placeholder="Please add a summary for this merge request, describing what the new or changed data is for" ng-model="mr.desc"></textarea>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" select="getMarkdown(Math.random())">
                                <uib-tab-heading><span style="color: #555;">Preview</span></uib-tab-heading>
                                <div class="rendered minHeight" style="border: 1px solid #DDD;" ng-bind-html="markDownPreview"></div>
                            </uib-tab>
                        </uib-tabset>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-1" style="padding: 0;">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center; padding-top: 10px; padding-bottom: 15px;">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelCreate()">
            <input type="submit" class="btn btn-primary" value="Create" ng-click="createMR()">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" style="padding: 0;">&nbsp;</div>
        <div class="col-md-10" style="text-align: center; padding-bottom: 20px;">
            <h4 style="margin: 0;">Changes between the source and destination</h4>
            <table class="table table-responsive settingsTable" style="margin: 5px 0 0 0;">
                <thead>
                    <tr>
                        <th style="min-width: 50px; width: 200px; max-width: 200px;">Author</th>
                        <th style="min-width: 50px; width: 100px; max-width: 100px;">Commit ID</th>
                        <th style="min-width: 50%; width: 50%;">Commit message</th>
                        <th style="min-width: 50px; width: 150px; max-width: 150px;">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="commitList != ''" ng-repeat="row in commitList">
                        <td style="border-left: none;">
                            <a href="/{{ row.author_username }}" class="blackLink" style="vertical-align: middle;"><img ng-if="row.author_avatar != ''" ng-attr-src="{{ decodeAmp(row.author_avatar) }}" height="18" width="18" style="border: 1px solid #8c8c8c;"/> {{ row.author_name }}</a>
                        </td>
                        <td>
                            <span ng-if="Disc.open !== true" ng-bind="row.id | limitTo: 8" style="vertical-align: middle;"></span>
                            <a ng-if="Disc.open === true" href="{{ '/' + Disc.mr_details.source_owner + Disc.mr_details.source_folder + Disc.mr_details.source_database_name + '?branch=' + Disc.mr_details.source_branch + '&commit=' + row.id }}"><span ng-bind="row.id | limitTo: 8" class="blackLink" style="vertical-align: middle;"></span></a>
                        </td>
                        <td>
                            <span ng-bind="row.message" style="vertical-align: middle;"></span><span ng-if="row.message === ''" style="color: grey; vertical-align: middle;">This commit has no commit message</span>
                            <div ng-if="row.licence_change !== ''" style="color: red; border: 1px solid red; padding: 5px; margin-top: 8px; text-align: center;" ng-bind="row.licence_change"></div>
                        </td>
                        <td><span title="{{ row.timestamp | date : 'medium' }}" style="vertical-align: middle;">{{ getTimePeriodTxt(row.timestamp, true) }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1" style="padding: 0;">&nbsp;</div>
    </div>
    <!-- TODO: Some kind of preview would probably be useful -->
</div>
[[ template "script_db_header" . ]]
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('compareView', function($scope, $http, $httpParamSerializerJQLike) {
        $scope.meta = {
            DestBranch:     [[ .DestDBDefaultBranch ]],
            DestBranches:   [[ .DestDBBranches ]],
            SourceBranch:   [[ .SourceDBDefaultBranch ]],
            SourceBranches: [[ .SourceDBBranches ]],
            [[ if .Meta.LoggedInUser ]]
                Loggedin: "true",
            [[ else ]]
                Loggedin: "false",
            [[ end ]]
        };

        // Commit list and fork entries
        $scope.commitList = [[ .CommitList ]];
        $scope.forkList = [[ .Forks ]];

        // Variables used when sending the creation request
        $scope.mr = {"desc": "", "title": ""};
        $scope.dest = {
            "owner":  [[ .DestOwner ]],
            "folder": [[ .DestFolder ]],
            "name":   [[ .DestDBName ]]
        };
        $scope.source = {
            "owner":  [[ .SourceOwner ]],
            "folder": [[ .SourceFolder ]],
            "name":   [[ .SourceDBName ]]
        };

        // Variables used for display purposes only
        $scope.destDB = $scope.dest.owner + $scope.dest.folder + $scope.dest.name;
        $scope.sourceDB = $scope.source.owner + $scope.source.folder + $scope.source.name;

        // Handler for the cancel button.  Just bounces back to the database page
        $scope.cancelCreate = function() {
            window.location = "/[[ .Meta.Owner ]]/[[ .Meta.Database ]]";
        };

        // Update name of the destination branch in the drop down selector
        $scope.changeDestBranch = function(newBranch) {
            $scope.meta.DestBranch = newBranch;

            // Update displayed commit list
            $scope.updateCommitList();
        };

        // Updates the destination database name and branch list in the drop down selectors
        $scope.statusMessage = "";
        $scope.statusMessageColour = "red";
        $scope.changeDestDB = function(newRow) {
            // Retrieve the branch list for the newly selected database
            $http({
                method: "GET",
                url: "/x/branchnames",
                params: {
                        "dbname": newRow.database_name,
                        "folder": newRow.database_folder,
                        "username": newRow.database_owner
                    },
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // Update displayed destination database value
                $scope.destDB = newRow.database_owner + newRow.database_folder + newRow.database_name;

                // Update the values used when sending the creation request
                $scope.dest = {
                    "owner": newRow.database_owner,
                    "folder": newRow.database_folder,
                    "name": newRow.database_name
                };

                // Update displayed destination branch list
                $scope.meta.DestBranches = response.data.branches;
                $scope.meta.DestBranch = response.data.default_branch;

                // Reset any displayed error message
                $scope.statusMessage = "";
                $scope.statusMessageColour = "green";

                // Update displayed commit list
                $scope.updateCommitList();
            }, function failure(response) {
                // Retrieving the branch names failed, so display an error message
                $scope.statusMessageColour = "red";
                $scope.statusMessage = "Retrieving branch names for the destination database failed: " + response.data;
            });
        };

        // Update name of the source branch in the drop down selector
        $scope.changeSourceBranch = function(newBranch) {
            $scope.meta.SourceBranch = newBranch;

            // Update displayed commit list
            $scope.updateCommitList();
        };

        // Updates the source database name and branch list in the drop down selectors
        $scope.changeSourceDB = function(newRow) {
            // Retrieve the branch list for the newly selected database
            $http({
                method: "GET",
                url: "/x/branchnames",
                params: {
                        "dbname": newRow.database_name,
                        "folder": newRow.database_folder,
                        "username": newRow.database_owner
                    },
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // Update displayed source database value
                $scope.sourceDB = newRow.database_owner + newRow.database_folder + newRow.database_name;

                // Update the values used when sending the creation request
                $scope.source = {
                    "owner": newRow.database_owner,
                    "folder": newRow.database_folder,
                    "name": newRow.database_name
                };

                // Update displayed source branch list
                $scope.meta.SourceBranches = response.data.branches;
                $scope.meta.SourceBranch = response.data.default_branch;

                // Reset any displayed error message
                $scope.statusMessage = "";
                $scope.statusMessageColour = "green";

                // Update displayed commit list
                $scope.updateCommitList();
            }, function failure(response) {
                // Retrieving the branch names failed, so display an error message
                $scope.statusMessageColour = "red";
                $scope.statusMessage = "Retrieving branch names for the source database failed: " + response.data;
            });
        };

        // Sends the merge request creation details, and if successful then bounces to the newly created MR for it
        $scope.createMR = function() {
            if ($scope.meta.Loggedin !== "true") {
                // User needs to be logged in
                lock.show();
                return;
            }

            // Send the MR creation request
            $http({
                method: "POST",
                url: "/x/createmerge/",
                data: $httpParamSerializerJQLike({
                        "desc": encodeURIComponent($scope.mr.desc),
                        "destbranch": encodeURIComponent($scope.meta.DestBranch),
                        "destdbname": encodeURIComponent($scope.dest.name),
                        "destfolder": encodeURIComponent($scope.dest.folder),
                        "destowner": encodeURIComponent($scope.dest.owner),
                        "sourcebranch": encodeURIComponent($scope.meta.SourceBranch),
                        "sourcedbname": encodeURIComponent($scope.source.name),
                        "sourcefolder": encodeURIComponent($scope.source.folder),
                        "sourceowner": encodeURIComponent($scope.source.owner),
                        "title": encodeURIComponent($scope.mr.title),
                        "username": encodeURIComponent([[ .Meta.LoggedInUser ]])
                    }),
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // MR creation succeeded.  The response should include the MR # we'll bounce to
                let mrID = response.data.mr_id;
                window.location = "/merge/" + $scope.destDB + "?id=" + mrID;

            }, function failure(response) {
                // Creating the MR failed, so display an error message
                $scope.statusMessageColour = "Red";
                $scope.statusMessage = "Merge Request creation failed: " + response.data;
            });
        };

        // Change \u0026 to &
        $scope.decodeAmp = function(str) {
            return decodeURIComponent(str);
        };

        // Get rendered markdown from the server, for display in the description preview
        $scope.markDownPreview = "";
        $scope.getMarkdown = function() {
            // Call the server, asking for a rendered version of the markdown
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": encodeURIComponent($scope.mr.desc)}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) { $scope.markDownPreview = response.data; });
        };

        // Updates the commit list showing the difference between source and destination databases
        $scope.updateCommitList = function() {
            $http({
                method: "POST",
                url: "/x/diffcommitlist/",
                data: $httpParamSerializerJQLike({
                        "destbranch": encodeURIComponent($scope.meta.DestBranch),
                        "destdbname": encodeURIComponent($scope.dest.name),
                        "destfolder": encodeURIComponent($scope.dest.folder),
                        "destowner": encodeURIComponent($scope.dest.owner),
                        "sourcebranch": encodeURIComponent($scope.meta.SourceBranch),
                        "sourcedbname": encodeURIComponent($scope.source.name),
                        "sourcefolder": encodeURIComponent($scope.source.folder),
                        "sourceowner": encodeURIComponent($scope.source.owner)
                    }),
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // Retrieving the commit list succeeded, so update the displayed commit list
                $scope.commitList = response.data.commit_list;

                $scope.statusMessageColour = "green";
                $scope.statusMessage = "";
            }, function failure(response) {
                // Retrieving the commit list failed, so clear out the existing displayed list and display a message
                // about it
                $scope.commitList = {};
                $scope.statusMessageColour = "orange";
                $scope.statusMessage = "The selected source and destination can't be merged.  Please choose a different source and destination.";
            });
        };
    });
</script>
</body>
</html>
[[ end ]]
