[[ define "comparePage" ]]
[[ template "head" . ]]
<div id="db-header-root"></div>
<div class="container" id="discussion-create-mr"></div>
[[ template "script_db_header" . ]]
<script>
    const createMrData = {
        forkList: [[ .Forks ]],
        commitList: [[ .CommitList ]],

        sourceDbName: "[[ .SourceDBName ]]",
        sourceDbOwner: "[[ .SourceOwner ]]",
        sourceBranches: [[ .SourceDBBranches ]],
        sourceDbDefaultBranch: "[[ .SourceDBDefaultBranch ]]",

        destDbName: "[[ .DestDBName ]]",
        destDbOwner: "[[ .DestOwner ]]",
        destBranches: [[ .DestDBBranches ]],
        destDbDefaultBranch: "[[ .DestDBDefaultBranch ]]",
    };
</script>
[[ template "footer" . ]]
[[ end ]]
