[[ define "comparePage" ]]
<!doctype html>
<html>
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div>
    <div id="db-header-root"></div>
    <div id="discussion-create-mr"></div>
</div>
[[ template "script_db_header" . ]]
<script>
    const createMrData = {
        forkList: [[ .Forks ]],
        commitList: [[ .CommitList ]],

        sourceDbName: "[[ .SourceDBName ]]",
        sourceDbOwner: "[[ .SourceOwner ]]",
        sourceBranches: [[ .SourceDBBranches ]],
        sourceDbDefaultBranch: "[[ .SourceDBDefaultBranch ]]",

        destDbName: "[[ .DestDBName ]]",
        destDbOwner: "[[ .DestOwner ]]",
        destBranches: [[ .DestDBBranches ]],
        destDbDefaultBranch: "[[ .DestDBDefaultBranch ]]",
    };
</script>
[[ template "footer" . ]]
</body>
</html>
[[ end ]]
