[[ define "contributorsPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="contributorsView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center;">
                Contributors to
                <a class="blackLink" href="/[[ .Meta.Owner ]]">[[ .Meta.Owner ]]</a> /
                <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]">[[ .Meta.Database ]]</a>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="border: 1px solid #DDD; border-radius: 7px; margin-bottom: 10px; padding-bottom: 0;">
                <table class="table table-striped table-responsive" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>Contributor</th><th># of Commits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in Contributors" class="tableRow">
                            <td>
                                <div style="padding-top: 4px;">
                                    <img ng-if="row.avatar_url != ''" ng-attr-src="{{ decodeAmp(row.avatar_url) }}" height="30" width="30" style="border: 1px solid #8c8c8c;"/>
                                    <a class="blackLink" href="/{{ row.author_user_name }}" style="vertical-align: middle;">{{ row.author_name }}</a>
                                </div>
                            </td>
                            <td>
                                <div style="padding-top: 8px;" ng-bind="row.num_commits"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('contributorsView', function($scope) {
        $scope.Contributors = [[ .Contributors ]];

        // Change \u0026 to &
        $scope.decodeAmp = function(str) {
            return decodeURIComponent(str);
        };

        // Auth0
        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});
        $scope.showLock = function() {
            lock.show();
        };
    });
</script>
</body>
</html>
[[ end ]]