[[ define "contributorsPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="contributorsView">
[[ template "head" . ]]
<body>
<style>
    .blackLink {
        color: black;
    }
</style>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center;">
                Contributors to
                <a class="blackLink" href="/[[ .Meta.Owner ]]">[[ .Meta.Owner ]]</a> /
                <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]">[[ .Meta.Database ]]</a>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Contributor</th><th># of Commits</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in Contributors">
                        <td style="border-style: none;">
                            <div style="padding-top: 8px;"><a class="blackLink" href="/{{ row.author_user_name }}">{{ row.author_name }}</a></div>
                        </td>
                        <td style="border-style: none;">
                            <div style="padding-top: 8px;" ng-bind="row.num_commits"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('contributorsView', function($scope) {
        $scope.Contributors = [[ .Contributors ]];

        // Auth0
        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});
        $scope.showLock = function() {
            lock.show();
        };
    });
</script>
</body>
</html>
[[ end ]]