[[ define "createDiscussionPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="createDiscussionView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div class="container-fluid">
    <div id="db-header-root"></div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Create a new discussion</h3>
            <form action="/x/creatediscuss" method="post">
                <div class="mb-2">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" maxlength="80" required />
                </div>
                <div class="mb-2">
                    <label for="disctxt" class="form-label">Description<div class="form-text">Markdown (<a href="http://commonmark.org" target="_blank" rel="noopener noreferrer external">CommonMark</a> format) is supported</div></label>
                    <div class="markdown-editor" data-id="disctxt" data-rows="10" data-placeholder="Type in the discussion details then click the Create button"></div>
                </div>

                <input type="hidden" name="dbname" value="[[ .DB.Info.Database ]]">
                <input type="hidden" name="username" value="[[ .DB.Info.Owner ]]">
                <input type="submit" class="btn btn-success" value="Create">
                <input type="button" class="btn btn-secondary" value="Cancel" ng-click="cancelCreate()">
            </form>
        </div>
    </div>
</div>
[[ template "script_db_header" . ]]
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ngSanitize']);
    app.controller('createDiscussionView', function($scope, $http, $httpParamSerializerJQLike) {
        // Handler for the cancel button.  Just bounces back to the commits page
        $scope.cancelCreate = function() {
            window.location = "/discuss/[[ .DB.Info.Owner ]]/[[ .DB.Info.Database ]]";
        };
    });
</script>
</body>
</html>
[[ end ]]
