[[ define "createBranchPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="createbranchView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-10">
            <h2 style="text-align: center;">Create new branch</h2>
            <form action="/x/createbranch" method="post">
                <div style="text-align: center;"><i>From commit: [[ .Commit ]]</i></div>
                <table class="table table-striped table-responsive">
                    <tr>
                        <th style="vertical-align: middle;" width="25%">Name for the new branch:</th>
                        <td>
                            <input type="text" id="branch" name="branch" size="50" maxlength="80"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <b>Branch description</b><br /><br />
                            <i>Markdown (<a href="http://commonmark.org" target="_blank">CommonMark</a> format) is supported</i></td>
                        <td>
                            <div>
                                <uib-tabset active="active">
                                    <uib-tab index="0">
                                        <uib-tab-heading><span style="color: #555;">Edit</span></uib-tab-heading>
                                        <textarea id="branchdesc" name="branchdesc" rows="10" ng-attr-placeholder="A description for this branch"></textarea>
                                    </uib-tab>
                                    <uib-tab index="1" select="getMarkdown()">
                                        <uib-tab-heading><span style="color: #555;">Preview</span></uib-tab-heading>
                                        <div class="rendered minHeight" ng-bind-html="markDownPreview"></div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <input type="hidden" name="commit" value="[[ .Commit ]]">
                                <input type="hidden" name="dbname" value="[[ .Meta.Database ]]">
                                <input type="hidden" name="username" value="[[ .Meta.Owner ]]">
                                <input type="submit" class="btn btn-success" value="Create it">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('createbranchView', function($scope, $http, $httpParamSerializerJQLike) {
        // Get rendered markdown from the server, for display in the Commit Message preview tab
        $scope.markDownPreview = "";
        $scope.getMarkdown = function() {
            // Retrieve latest markdown text from the text area
            var txt = document.getElementById("branchdesc").value;

            // Call the server, asking for a rendered version of the markdown
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": encodeURIComponent(txt)}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) { $scope.markDownPreview = response.data; });
        };

        // Auth0
        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});
        $scope.showLock = function() {
            lock.show();
        };
    });
</script>
</body>
</html>
[[ end ]]