[[ define "createTagPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="createtagView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div>
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-10">
            <h2 style="text-align: center;">Create new tag or release</h2>
            <form action="/x/createtag" method="post">
                <div style="text-align: center;"><i>On commit: [[ .Commit ]]</i></div>
                <table class="table table-striped table-responsive">
                    <tr>
                        <th style="vertical-align: middle;" width="25%">Tag or release?</th>
                        <td>
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="radioType" ng-click="typeClick('tag')" uib-btn-radio="'tag'" data-cy="tagradio">Tag</label>
                                <label class="btn btn-default" ng-model="radioType" ng-click="typeClick('release')" uib-btn-radio="'release'" data-cy="relradio">Release</label>
                            </div>
                            <span ng-bind-html="typeDesc"></span>
                        </td>
                    </tr>
                    <tr>
                        <th style="vertical-align: middle;" width="25%">Name:</th>
                        <td>
                            <input id="tag" name="tag" size="50" maxlength="80" data-cy="nameinput"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <b>Description</b><br /><br />
                            <i>Markdown (<a href="http://commonmark.org" target="_blank">CommonMark</a> format) is supported</i></td>
                        <td>
                            <div>
                                <uib-tabset active="active">
                                    <uib-tab index="0" data-cy="edittab">
                                        <uib-tab-heading><span style="color: #555;">Edit</span></uib-tab-heading>
                                        <textarea id="tagdesc" name="tagdesc" rows="10" ng-attr-placeholder="A description for this tag or release" data-cy="desctext"></textarea>
                                    </uib-tab>
                                    <uib-tab index="1" select="getMarkdown()" data-cy="previewtab">
                                        <uib-tab-heading><span style="color: #555;">Preview</span></uib-tab-heading>
                                        <div class="rendered minHeight" ng-bind-html="markDownPreview" data-cy="previewdiv"></div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <input type="hidden" name="commit" value="[[ .Commit ]]">
                                <input type="hidden" name="dbname" value="[[ .DB.Info.Database ]]">
                                <input type="hidden" name="username" value="[[ .DB.Info.Owner ]]">
                                <input type="hidden" name="tagtype" value="{{ radioType }}">
                                <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelCreate()" data-cy="cancelbtn">
                                <input type="submit" class="btn btn-success" value="Create it" data-cy="createbtn">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('createtagView', function($scope, $http, $httpParamSerializerJQLike) {
        // Handler for the cancel button.  Just bounces back to the commits page
        $scope.cancelCreate = function() {
            window.location = "/commits/[[ .DB.Info.Owner ]]/[[ .DB.Info.Database ]]";
        };

        // Render markdown preview
        $scope.markDownPreview = "";
        $scope.getMarkdown = function() {
            // Retrieve latest markdown text from the text area
            let txt = document.getElementById("tagdesc").value;

            // Call the server, asking for a rendered version of the markdown
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": encodeURIComponent(txt)}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) { $scope.markDownPreview = response.data; });
        };

        // Set the type to tag by default
        $scope.radioType = "tag";
        $scope.typeDesc = "&nbsp; This will be a new <b>tag</b>.";

        // Update the tag/release description text
        $scope.typeClick = function(newValue) {
            if (newValue === "tag") {
                $scope.typeDesc = "&nbsp; This will be a new <b>tag</b>.";
            } else {
                $scope.typeDesc = "&nbsp; This will be a new <b>release</b>.";
            }
        };
    });
</script>
</body>
</html>
[[ end ]]
