[[ define "createDiscussionPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="createDiscussionView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div>
    <div id="db-header-root"></div>
    <div class="row">
        <div class="col-md-1" style="padding: 0;">&nbsp;</div>
        <div class="col-md-10">
            <h2 style="text-align: center;">Create a new discussion</h2>
            <form action="/x/creatediscuss" method="post">
                <table class="table table-striped table-responsive settingsTable">
                    <tr>
                        <th style="vertical-align: middle;" width="25%">Title:</th>
                        <td>
                            <input id="title" name="title" size="50" maxlength="80"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <b>Description</b><br /><br />
                            <i>Markdown (<a href="http://commonmark.org" target="_blank">CommonMark</a> format) is supported</i></td>
                        <td>
                            <div class="markdown-editor" data-id="disctxt" data-rows="10" data-placeholder="Type in the discussion details then click the 'Create it' button" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <input type="hidden" name="dbname" value="[[ .DB.Info.Database ]]">
                                <input type="hidden" name="username" value="[[ .DB.Info.Owner ]]">
                                <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelCreate()">
                                <input type="submit" class="btn btn-primary" value="Create">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
[[ template "script_db_header" . ]]
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('createDiscussionView', function($scope, $http, $httpParamSerializerJQLike) {
        // Handler for the cancel button.  Just bounces back to the commits page
        $scope.cancelCreate = function() {
            window.location = "/discuss/[[ .DB.Info.Owner ]]/[[ .DB.Info.Database ]]";
        };
    });
</script>
</body>
</html>
[[ end ]]
