[[ define "databasePage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="databaseView">
[[ template "head" . ]]
<body>
<style>
    .colHeader {
        color: #333333;
        text-decoration: none;
    }

    .colHeader:hover {
        text-decoration: underline;
    }
</style>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div id="db-header-root"></div>
    [[ if or (ne .DB.Info.OneLineDesc "No description") ((ne .DB.Info.SourceURL "")) ]]
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm" style="margin-bottom: 10px; border: 1px solid #DDD; border-radius: 7px;">
                    [[ if (ne .DB.Info.OneLineDesc "No description") ]]
                        <label id="viewdesc" ng-bind="meta.OneLineDesc" data-cy="onelinedesc"></label>
                    [[ end ]]
                    [[ if (ne .DB.Info.SourceURL "") ]]
                        <div>
                            <label>Source:</label> <a href="{{ meta.SourceURL }}" ng-bind="meta.SourceURL" data-cy="srcurl"></a>
                        </div>
                    [[ end ]]
                </div>
            </div>
        </div>
    [[ end ]]
    <div class="row">
        <div class="col-md-12">
            <div style="border: 1px solid #DDD; border-radius: 7px; margin-bottom: 10px;">
                <table width="100%" class="table" style="margin-bottom: 0; border: none;">
                    <tr style="border: none;">
                        <td style="border: none; border-right: 1px solid #DDD;">
                            <div style="text-align: center;">
                                <a href="/commits/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?branch={{ meta.Branch }}" class="blackLink" style="font-weight: bold;" data-cy="commitslnk">Commits: <span data-cy="commitscnt">{{ meta.Commits }}</span></a>
                            </div>
                        </td>
                        <td style="border: none; border-right: 1px solid #DDD;">
                            <div style="text-align: center;">
                                <a href="/branches/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" style="font-weight: bold;" data-cy="brancheslnk">Branches: <span data-cy="branchescnt">{{ meta.Branches }}</span></a>
                            </div>
                        </td>
                        <td style="border: none; border-right: 1px solid #DDD;">
                            <div style="text-align: center;">
                                <a href="/tags/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" style="font-weight: bold;" data-cy="tagslnk">Tags: <span data-cy="tagscnt">{{ meta.Tags }}</span></a>
                            </div>
                        </td>
                        <td style="border: none; border-right: 1px solid #DDD;">
                            <div style="text-align: center;">
                                <a href="/releases/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" style="font-weight: bold;" data-cy="rlslnk">Releases: <span data-cy="rlscnt">{{ meta.Releases }}</span></a>
                            </div>
                        </td>
                        <td style="border: none;">
                            <div style="text-align: center;">
                                <a href="/contributors/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" style="font-weight: bold;" data-cy="contlnk">Contributors: <span data-cy="contcnt">{{ meta.Contributors }}</span></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-8">
            <span class="pull-left">
                <div class="dropdown">
                    <div class="btn-group" uib-dropdown keyboard-nav="true">
                        <button id="viewtable" type="button" class="btn">Table/view: {{ db.Tablename }}</button>

                        <button type="button" uib-dropdown-toggle class="btn btn-default" data-cy="tabledropdown">
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                            <li ng-repeat="row in meta.Tables" role="menuitem" ng-click="changeTable(row)" data-cy="row-{{ row }}">
                                <a href="">{{ row }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" uib-dropdown keyboard-nav="true">
                        <button id="viewbranch" type="button" class="btn" data-cy="branchname">{{ 'Branch: ' + meta.Branch }}</button>

                        <button type="button" uib-dropdown-toggle class="btn btn-default" data-cy="branchdropdown">
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                            <li ng-repeat="row in meta.BranchList" role="menuitem" ng-click="changeBranch(row)" data-cy="branch-{{ row }}">
                                <a href="">{{ row }}</a>
                            </li>
                        </ul>
                    </div>
                    [[ if .Meta.LoggedInUser ]]
                        <a href="/compare/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="btn btn-primary" data-cy="newmrbtn">New Merge Request</a>
                        <button class="btn btn-primary" ng-click="uploadForm()" data-cy="uploadbtn">Upload database</button>
                    [[ end ]]
                </div>
            </span>
        </div>
        <div class="col-md-4">
            <span class="pull-right">
                <div class="btn-group" uib-dropdown keyboard-nav="true">
                    <button type="button" class="btn btn-success" uib-dropdown-toggle>
                        Clone database in DB4S <span class="caret"></span>
                    </button>
                    <ul uib-dropdown class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><input type="text" value="https://[[ .Config.DB4S.Server ]][[ if (ne .Config.DB4S.Port 443) ]]:[[ .Config.DB4S.Port ]][[ end ]]/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&branch=[[ .DB.Info.Branch ]]" id="db4sCloneLink" /></li>
                        <li><a href="#" onclick="copyToClipboard('db4sCloneLink');return false;">Copy link <span class="glyphicon glyphicon-link"></span></a></li>
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown keyboard-nav="true" data-cy="dldropdown">
                    <button type="button" class="btn btn-success" uib-dropdown-toggle>
                        Download database <span class="caret"></span>
                    </button>
                    <ul uib-dropdown class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="/x/download/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]" data-cy="dldb">Entire database ({{ meta.Size / 1024 | number : 0 }} KB)</a></li>
                        [[ if (le .DB.Info.DBEntry.Size 100000000) ]]
                            <!-- Don't display the CSV export options for large databases, as the current node setup doesn't have sufficient ram + swap for it. -->
                            <li><a href="/x/downloadcsv/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&table={{ db.Tablename }}" data-cy="dlcsv">Selected table as CSV</a></li>
                        [[ end ]]
                    </ul>
                </div>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="max-width: 100%; overflow: auto; border: 1px solid #DDD; border-radius: 7px 7px 0 0;">
                <table class="table table-bordered table-striped table-responsive" style="margin-bottom: 0; padding-bottom: 0;">
                    <thead>
                        <tr>
                            <th ng-repeat="header in db.ColNames" style="padding: 7px 0 6px 6px;">
                                <a href="" class="colHeader" ng-click="sortOrder(header)"><span id="col{{ header }}" ng-bind-html="addArrow(header)" data-cy="col-{{ header }}"></span></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in db.Records">
                            <td ng-repeat="val in row" dir="auto" data-cy="datarow-{{ val.Name }}"><pre style="background-color: transparent; border: none; padding: 0px; margin: 0px;" ng-bind-html="val.Value | fixSpaces"></pre></td>
                        </tr>
                        <tr ng-if="db.Records === null">
                            <td style="text-align: center;" colspan="{{ db.ColCount }}">Empty table or view</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="max-width: 100%; overflow: auto; border: 1px solid #DDD; border-radius: 0 0 7px 7px;">
                <table class="table table-responsive" style="margin: 0;">
                    <thead>
                    <tr>
                        <th colspan="{{ db.ColCount }}" style="text-align: center; padding: 0;">
                            <span id="tbltop" style="font-size: x-large; vertical-align: middle; margin-bottom: 10px;"><a href="" style="color: black; text-decoration: none;" ng-click="goToTop()" data-cy="firstpgbtn">⏫</a></span>
                            <span id="tblup" style="font-size: x-large; vertical-align: middle; margin-bottom: 10px;"><a href="" style="color: black; text-decoration: none;" ng-click="pageBack()" data-cy="pgupbtn">▲</a></span>
                            <span style="vertical-align: middle;" ng-bind-html="totalRowCount()"></span>
                            <span id="tbldown" style="font-size: x-large; vertical-align: middle; margin-bottom: 10px;"><a href="" style="color: black; text-decoration: none;" ng-click="pageForward()" data-cy="pgdnbtn">▼</a></span>
                            <span id="tblbottom" style="font-size: x-large; vertical-align: middle; margin-bottom: 10px;"><a href="" style="color: black; text-decoration: none;" ng-click="goToBottom()" data-cy="lastpgbtn">⏬</a></span>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="border: none;">
        &nbsp;
    </div>
    <div class="row" style="border: none;">
        <div class="col-md-12" style="border: none;">
            <div style="border: 1px solid #DDD; border-radius: 7px; padding: 1px;">
                <table class="table table-striped table-responsive" style="margin: 0;">
                    <tr style="border-bottom: 1px solid #DDD;">
                        <td class="page-header" style="border: none;"><h4>DESCRIPTION</h4></td>
                    </tr>
                    <tr>
                        <td class="rendered" id="viewreadme" ng-bind-html="meta.FullDesc" data-cy="repodescrip"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>
[[ template "script_db_header" . ]]
[[ template "footer" . ]]
<script>
    function copyToClipboard(element_id) {
        let e = document.getElementById(element_id);
        e.select();
        e.setSelectionRange(0, 99999);
        document.execCommand("copy");
    }

    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);

    // Simple filter to ensure '&nbsp;' is shown as a non-breaking space
    app.filter("fixSpaces", ['$sce', '$sanitize', function($sce, $sanitize) {
        return function(htmlCode) {
            if (htmlCode === "") {
                htmlCode = '&nbsp;';
            }
            return $sanitize(htmlCode);
        }
    }]);

    app.controller('databaseView', function($scope, $http) {
        // Pre-filled database metadata
        $scope.meta = {
            Branch:       "[[ .DB.Info.Branch ]]",
            Branches:     "[[ .DB.Info.Branches ]]",
            BranchList:   [[ .DB.Info.BranchList ]],
            Commits:      "[[ .DB.Info.Commits ]]",
            Contributors: "[[ .DB.Info.Contributors ]]",
            Database:     "[[ .Meta.Database ]]",
            FullDesc:     "[[ .DB.Info.FullDesc ]]",
            MaxRows:      "[[ .DB.MaxRows ]]",
            OneLineDesc:  "[[ .DB.Info.OneLineDesc ]]",
            Owner:        "[[ .Meta.Owner ]]",
            Releases:     "[[ .DB.Info.Releases ]]",
            SourceURL:    "[[ .DB.Info.SourceURL ]]",
            Tables:       [[ .DB.Info.Tables ]],
            Size:         [[ .DB.Info.DBEntry.Size ]],
            Tags:         "[[ .DB.Info.Tags ]]",
            [[ if .Meta.LoggedInUser ]]
                Loggedin: "true",
            [[ else ]]
                Loggedin: "false",
            [[ end ]]
        }

        // Pre-filled table row data
        $scope.db = { Tablename: "[[ .Data.Tablename ]]",
            Records: [[ .Data.Records ]],
            ColNames: [[ .Data.ColNames ]],
            RowCount: [[ .Data.RowCount ]],
            ColCount: [[ .Data.ColCount ]],
            SortCol:  [[ .Data.SortCol ]],
            SortDir:  [[ .Data.SortDir ]],
            Offset:   [[ .Data.Offset ]],
        }

        // Add an appropriate direction arrow (▲/▼) to a column heading
        $scope.addArrow = function(header) {
            if (header === $scope.db.SortCol) {
                if ($scope.db.SortDir === "ASC") {
                    return header + " <i class=\"fa fa-sort-amount-asc\"></i>";
                }  else {
                    return header + " <i class=\"fa fa-sort-amount-desc\"></i>";
                }
            } else {
                return header;
            }
        };

        // Retrieves the branch being viewed
        $scope.changeBranch = function(newbranch) {
            window.location = "/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?branch=" + newbranch;
        };

        // Retrieves the table data for a given table
        $scope.changeTable = function(newtable) {
            $http.get("/x/table/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&table="+
                newtable).then(
                    function (response) {
                        // Update table data
                        $scope.db = response.data;

                        // Set a default sort direction if none present
                        if ($scope.db.SortDir === "") {
                            $scope.db.SortDir = "ASC";
                        }

                        // Show or hide pagination buttons
                        $scope.updateTableArrows();
                    }
                )
        };

        // Moves the table view forward, so the last row is visible
        $scope.goToBottom = function() {
            // Don't page down if we're at the end
            let lastPage = Number($scope.db.RowCount) - Number($scope.meta.MaxRows);
            if ($scope.db.Offset >= lastPage)
            {
                return;
            }

            let newOffset = Number($scope.db.RowCount) - Number($scope.meta.MaxRows);
            $http.get("/x/table/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&table="+
                $scope.db.Tablename+"&sort="+$scope.db.SortCol+"&dir="+$scope.db.SortDir+"&offset="+newOffset).then(
                function (response) {
                    // Retrieve the new table data range
                    $scope.db = response.data;

                    // Update the displayed range information
                    $scope.db.Offset = Number(newOffset);

                    // Update the displayed arrows
                    $scope.updateTableArrows();
                }
            )
        };

        // Moves the table view back to the top row
        $scope.goToTop = function() {
            // Don't do anything if we're already at the start
            if ($scope.db.Offset <= 1) {
                return;
            }

            // Retrieve the updated page data
            let newOffset = 0;
            $http.get("/x/table/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&table="+
                $scope.db.Tablename+"&sort="+$scope.db.SortCol+"&dir="+$scope.db.SortDir+"&offset="+newOffset).then(
                function (response) {
                    // Retrieve the new table data range
                    $scope.db = response.data;

                    // Update the displayed range information
                    $scope.db.Offset = Number(newOffset);

                    // Update the displayed arrows
                    $scope.updateTableArrows();
                }
            )
        };

        // Refreshes the table data, moving backwards one page
        $scope.pageBack = function() {
            // Don't page up if we're at the start
            if ($scope.db.Offset <= 1) {
                return;
            }

            // If we're not quite at the start, but less than 1 page (aka MaxRows) from it, then paging up should
            // just move us to the start
            let newOffset = 0;
            if ($scope.db.Offset > 0 && $scope.db.Offset < $scope.meta.MaxRows) {
                // Move to the top
                newOffset = 0;
            } else {
                // Move up a full page
                newOffset = Number($scope.db.Offset) - Number($scope.meta.MaxRows);
            }

            // Retrieve the updated page data
            $http.get("/x/table/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&table="+
                $scope.db.Tablename+"&sort="+$scope.db.SortCol+"&dir="+$scope.db.SortDir+"&offset="+newOffset).then(
                    function (response) {
                        // Retrieve the new table data range
                        $scope.db = response.data;

                        // Update the displayed range information
                        $scope.db.Offset = Number(newOffset);

                        // Update the displayed arrows
                        $scope.updateTableArrows();
                    }
                )
        };

        // Refreshes the table data, moving forwards one page
        $scope.pageForward = function() {
            // Don't page down if we're at the end
            let lastPage = Number($scope.db.RowCount) - Number($scope.meta.MaxRows);
            if ($scope.db.Offset >= lastPage)
            {
                return;
            }

            let newOffset = Number($scope.db.Offset) + Number($scope.meta.MaxRows);
            $http.get("/x/table/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&table="+
                $scope.db.Tablename+"&sort="+$scope.db.SortCol+"&dir="+$scope.db.SortDir+"&offset="+newOffset).then(
                    function (response) {
                        // Retrieve the new table data range
                        $scope.db = response.data;

                        // Update the displayed range information
                        $scope.db.Offset = Number(newOffset);

                        // Update the displayed arrows
                        $scope.updateTableArrows();
                    }
                )
        };

        // Updates displayed table data, using new sort order
        if ($scope.db.SortDir === "") {
            $scope.db.SortDir = "ASC";
        }
        $scope.sortOrder = function(newSortCol) {
            // If the existing sort column has been clicked again, we reverse the sort direction
            if (newSortCol === $scope.db.SortCol) {
                if ($scope.db.SortDir === "ASC") {
                    $scope.db.SortDir = "DESC";
                } else {
                    $scope.db.SortDir = "ASC";
                }
            } else {
                // We're changing sort column, so remove the direction arrow from the present sort column header
                if ($scope.db.SortCol !== "") {
                    let presentHeader = document.getElementById("col" + $scope.db.SortCol);
                    presentHeader.textContent = $scope.db.SortCol;
                }

                // Use the clicked on heading as the new sort column
                $scope.db.SortCol = newSortCol;
                $scope.db.SortDir = "ASC";
            }

            // Retrieve updated table data
            $http.get("/x/table/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&table="+
                $scope.db.Tablename+"&sort="+newSortCol+"&dir="+$scope.db.SortDir+"&offset="+$scope.db.Offset).then(
                function (response) { $scope.db = response.data; });

            // Add a direction arrow (▲/▼) to the new sort column heading, showing the sort direction
            let newHeader = document.getElementById("col" + newSortCol);
            if ($scope.db.SortDir === "ASC") {
                newHeader.textContent = newSortCol + " <i class=\"fa fa-sort-amount-asc\"></i>";
            } else {
                newHeader.textContent = newSortCol + " <i class=\"fa fa-sort-amount-desc\"></i>";
            }
        };

        // Returns a text string with row count information for the table
        $scope.totalRowCount = function() {
            let start = $scope.db.Offset;
            let end = Number($scope.db.Offset) + Number($scope.meta.MaxRows);
            let total = $scope.db.RowCount;

            // Update the end value if it's pointing past the last row
            if (end > total) {
                end = total;
            }
            return start.toLocaleString() + "-" + end.toLocaleString() + " of " + total.toLocaleString() + " total rows";
        };

        // Updates the shown/hidden state of the table arrows
        $scope.updateTableArrows = function() {
            let bottomArrow = document.getElementById("tblbottom");
            let downArrow = document.getElementById("tbldown");
            let topArrow = document.getElementById("tbltop");
            let upArrow = document.getElementById("tblup");

            // Display up arrow only when needed
            if ($scope.db.Offset > 0) {
                topArrow.style.visibility = "visible";
                upArrow.style.visibility = "visible";
            } else {
                topArrow.style.visibility = "hidden";
                upArrow.style.visibility = "hidden";
            }

            // Display down arrow only when needed
            let pageRow = Number($scope.db.Offset) + Number($scope.meta.MaxRows);
            let totalRows = Number($scope.db.RowCount);
            if (pageRow < totalRows) {
                bottomArrow.style.visibility = "visible";
                downArrow.style.visibility = "visible";
            } else {
                bottomArrow.style.visibility = "hidden";
                downArrow.style.visibility = "hidden";
            }
        };
        $scope.updateTableArrows();

        // Switch to the upload database page
        $scope.uploadForm = function() {
            if ($scope.meta.Loggedin !== "true") {
                // User needs to be logged in
                lock.show();
            } else {
                window.location = '/upload/?username=[[ .Meta.Owner ]]&dbname=[[ .Meta.Database ]]&branch=' + $scope.meta.Branch;
            }
        };
    });
</script>
</body>
</html>
[[ end ]]
