[[ define "diffPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="diffView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-12">
            <h2 id="viewdb" style="margin-top: 10px;">
                <div class="pull-left">
                    <div>
                        <a class="blackLink" href="/[[ .Meta.Owner ]]">[[ .Meta.Owner ]]</a> /
                        <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]">[[ .Meta.Database ]]</a>
                    </div>
                    [[ if .Meta.ForkOwner ]]
                    <div style="font-size: small">
                        forked from <a href="/[[ .Meta.ForkOwner ]]">[[ .Meta.ForkOwner ]]</a> /
                        [[ if not .Meta.ForkDeleted ]]
                            <a href="/discuss/[[ .Meta.ForkOwner ]]/[[ .Meta.ForkDatabase ]]">[[ .Meta.ForkDatabase ]]</a>
                        [[ else ]]
                            deleted database
                        [[ end ]]
                    </div>
                    [[ end ]]
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-bind-html="watchersText" ng-click="toggleWatchers()"></button>
                        <button type="button" class="btn btn-default" ng-bind="meta.Watchers" ng-click="watchersPage()"></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-bind-html="starsText" ng-click="toggleStars()"></button>
                        <button type="button" class="btn btn-default" ng-bind="meta.Stars" ng-click="starsPage()"></button>
                    </div>
                    <div class="btn-group">
                        [[ if ne .Meta.Owner .Meta.LoggedInUser ]]
                        <button type="button" class="btn btn-default" ng-click="forkDB()"><i class="fa fa-sitemap"></i> Fork</button>
                        [[ else ]]
                        <button type="button" class="btn btn-default" ng-disabled="true"><i class="fa fa-sitemap"></i> Fork</button>
                        [[ end ]]
                        <button type="button" class="btn btn-default" ng-bind="meta.Forks" ng-click="forksPage()"></button>
                    </div>
                </div>
            </h2>
        </div>
    </div>
    <div class="row" style="padding-bottom: 5px; padding-top: 10px;">
        <div class="col-md-12">
            <label id="viewdata" style="font-weight: 600; font-family: 'arial black';"><a href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Data"><i class="fa fa-database"></i> Data</a></label> &nbsp; &nbsp; &nbsp;
            <label id="viewvis" style="font-weight: 600; font-family: 'arial black';"><a href="/vis/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Visualise"><i class="fa fa-bar-chart"></i> Visualise</a></label> &nbsp; &nbsp; &nbsp;
            <label id="viewdiscuss" style="font-weight: 600; font-family: 'arial black';"><a href="/discuss/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Discussions"><i class="fa fa-commenting"></i> Discussions:</a> {{ meta.Discussions }}</label> &nbsp; &nbsp; &nbsp;
            <label id="viewmrs" style="font-weight: 600; font-family: 'arial black';"><a href="/merge/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Merge Requests"><i class="fa fa-clone"></i> Merge Requests: </a>{{ meta.MRs }}</label> &nbsp; &nbsp; &nbsp;
            [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
            <label id="settings" style="font-weight: 600; font-family: 'arial black';"><a class="blackLink" href="/settings/[[ .Meta.Owner ]]/[[ .Meta.Database ]]"><i class="fa fa-cog"></i> Settings</a></label>
            [[ end ]]
        </div>
    </div>

    <div class="row" ng-if="statusMessage != ''">
        <div class="col-md-12">
            <div style="text-align: center; padding-bottom: 8px;">
                <h4 style="color: {{ statusMessageColour }};">&nbsp;{{ statusMessage }}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 10px;">
            <table ng-if="Diffs != null" class="table table-striped table-responsive settingsTable">
                <tbody>
                    <tr ng-repeat="row in Diffs">
                        <td style="border-style: none;">
                            <span style="font-size: x-large; color: #333;">{{ row.object_name }}</span><br />
                            <span style="color: #333;">{{ row.object_type }}</span>
                            <div>
                            </div>
                        </td>
                        <td style="border-style: none;">
                            <div class="pull-left" style="padding-top: 6px;">
                                <span ng-if="row.schema != null && row.schema.action_type=='add'" style="font-weight: bold;">
                                    Created {{ row.object_type }}<br />
                                </span>
                                <span ng-if="row.schema != null && row.schema.action_type=='delete'" style="font-weight: bold;">
                                    Dropped {{ row.object_type }}<br />
                                </span>
                                <span ng-if="row.schema != null && row.schema.action_type=='modify'" style="font-weight: bold;">
                                    Schema changed<br />
                                </span>
                                <span ng-if="row.data.length">{{ row.data.length }} rows changed:</span>
                            </div>
                            <table ng-if="row.data.length" class="table table-responsive settingsTable">
                                <thead>
                                    <tr>
                                        <td ng-repeat="c in columnNames(row.object_name, false)">{{ c }}</td>
                                        <td ng-repeat="c in columnNames(row.object_name, true)">{{ c }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in row.data">
                                        <td style="{{ d.action_type != 'add' ? 'background-color: #ffeef0;' : '' }}" ng-repeat="c in d.data_before">
                                            <span ng-if="d.action_type !='add'" style="{{ c.Value != d.data_after[$index].Value ? 'background-color: #fdb8c0;' : '' }}">{{ c.Value }}</span>
                                        </td>
                                        <td ng-if="d.action_type == 'add'" ng-repeat="c in columnNames(row.object_name, false)">
                                        </td>
                                        <td style="{{ d.action_type != 'delete' ? 'background-color: #e6ffed;' : '' }}" ng-repeat="c in d.data_after">
                                            <span ng-if="d.action_type !='delete'" style="{{ c.Value != d.data_before[$index].Value ? 'background-color: #acf2bd;' : '' }}">{{ c.Value }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('diffView', function($scope, $http) {
        // Pre-filled data
        $scope.meta = {
            Database:    "[[ .Meta.Database ]]",
            Discussions: "[[ .DB.Info.Discussions ]]",
            Forks:       "[[ .DB.Info.Forks ]]",
            MRs:         "[[ .DB.Info.MRs ]]",
            MyStar:      "[[ .MyStar ]]",
            MyWatch:     "[[ .MyWatch ]]",
            Owner:       "[[ .Meta.Owner ]]",
            Stars:       "[[ .DB.Info.Stars ]]",
            Watchers:    "[[ .DB.Info.Watchers ]]",
            [[ if .Meta.LoggedInUser ]]
                Loggedin: "true",
            [[ else ]]
                Loggedin: "false",
            [[ end ]]
        }

        $scope.statusMessage = "";
        $scope.Diffs = [[ .Diffs.Diff ]];

        // Number of columns per table
        $scope.columnNames = function(table, after) {
            var result = [];
            for(var i=0;i<$scope.Diffs.length;i++) {
                var obj = $scope.Diffs[i];

                if(obj.object_type == "table" && obj.object_name == table) {
                    for(var j=0;j<obj.data.length;j++) {
                        var row = obj.data[j];

                        var data;
                        if((after && row.action_type == "add") || row.action_type == "modify") {
                            data = row.data_after;
                        } else if(!after && row.action_type == "delete") {
                            data = row.data_before;
                        }

                        if(data) {
				for(var k=0;k<data.length;k++) {
				result.push(data[k].Name);
				}
				return result;
			}
                    }
                }
            }

            return result;
        };

        // Change \u0026 to &
        $scope.decodeAmp = function(str) {
            return decodeURIComponent(str);
        };

        // Sends the user to the forks page for the database
        $scope.forksPage = function() {
            window.location = "/forks/[[ .Meta.Owner ]]/[[ .Meta.Database ]]"
        };

        // Returns a nicely presented "time elapsed" string
        $scope.getTimePeriodTxt = function(date1, includeOn) {
            return getTimePeriod(date1, includeOn)
        };

        // Sends the user to the stars page for the database
        $scope.starsPage = function() {
            window.location = "/stars/[[ .Meta.Owner ]]/[[ .Meta.Database ]]"
        };

        // Sends the user to the login page (if not logged in), else toggles starring of the database for the user
        $scope.toggleStars = function() {
            if ($scope.meta.Loggedin != "true") {
                // User needs to be logged in
                lock.show();
            } else {
                $http.get("/x/star/[[ .Meta.Owner ]]/[[ .Meta.Database ]]")
                    .then(function (response) {
                        var tempval = response.data;
                        if (tempval != "-1") {
                            // Update star button text
                            if ($scope.meta.MyStar != "true") {
                                $scope.meta.MyStar = "true";
                            } else {
                                $scope.meta.MyStar = "false";
                            }
                            $scope.updateStarsText();

                            // Update displayed star count
                            $scope.meta.Stars = tempval;
                        }
                    })
            }
        };

        // Turns on watching for a database
        $scope.toggleWatchers = function() {
            if ($scope.meta.Loggedin != "true") {
                // User needs to be logged in
                lock.show();
                return;
            }

            // Retrieve the branch list for the newly selected database
            $http.get("/x/watch/[[ .Meta.Owner ]]/[[ .Meta.Database ]]")
                .then(function (response) {
                    // Update watch button text
                    if ($scope.meta.MyWatch != "true") {
                        $scope.meta.MyWatch = "true";
                    } else {
                        $scope.meta.MyWatch = "false";
                    }
                    $scope.updateWatchersText();

                    // Update displayed watcher count
                    $scope.meta.Watchers = response.data;
                });
        };

        // Update star button text to say "Stars" or "Unstar"
        $scope.starsText = "<i class=\"fa fa-star\"></i> Star";
        $scope.updateStarsText = function() {
            if ($scope.meta.MyStar != "true") {
                $scope.starsText = "<i class=\"fa fa-star\"></i> Star";
            } else {
                $scope.starsText = "<i class=\"fa fa-star\"></i> Unstar";
            }
        };
        $scope.updateStarsText();

        // Update watchers button text to say "Watch" or "Unwatch"
        $scope.watchersText = "<i class=\"fa fa-eye\"></i> Watch";
        $scope.updateWatchersText = function() {
            if ($scope.meta.MyWatch != "true") {
                $scope.watchersText = "<i class=\"fa fa-eye\"></i> Watch";
            } else {
                $scope.watchersText = "<i class=\"fa fa-eye\"></i> Unwatch";
            }
        };
        $scope.updateWatchersText();

        // Sends the user to the watchers page for the database
        $scope.watchersPage = function() {
            window.location = "/watchers/[[ .Meta.Owner ]]/[[ .Meta.Database ]]"
        };

        // Auth0
        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});
        $scope.showLock = function() {
            lock.show();
        };
    });
</script>
</body>
</html>
[[ end ]]
