[[ define "diffPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="diffView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div id="db-header-root"></div>
    <div class="row" ng-if="statusMessage != ''">
        <div class="col-md-12">
            <div style="text-align: center; padding-bottom: 8px;">
                <h4 style="color: {{ statusMessageColour }};">&nbsp;{{ statusMessage }}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 10px;">
        [[ if .Diffs.Diff ]]
            <table ng-if="Diffs != null" class="table table-striped table-responsive settingsTable">
                <tbody>
                    <tr ng-repeat="row in Diffs">
                        <td style="border-style: none;">
                            <span style="font-size: x-large; color: #333;">{{ row.object_name }}</span><br />
                            <span style="color: #333;">{{ row.object_type }}</span>
                            <div>
                            </div>
                        </td>
                        <td style="border-style: none;">
                            <div class="pull-left" style="padding-top: 6px;">
                                <span ng-if="row.schema != null && row.schema.action_type=='add'">
                                    <span style="font-weight: bold;">Created {{ row.object_type }}</span><br />
                                    <span style="background-color: #e6ffed;">{{ row.schema.after }}</span><br/>
                                </span>
                                <span ng-if="row.schema != null && row.schema.action_type=='delete'">
                                    <span style="font-weight: bold;">Dropped {{ row.object_type }}</span><br />
                                    <span style="background-color: #fdb8c0;">{{ row.schema.before }}</span><br/>
                                </span>
                                <span ng-if="row.schema != null && row.schema.action_type=='modify'">
                                    <span style="font-weight: bold;">Schema changed</span><br />
                                    <span style="background-color: #fdb8c0;">{{ row.schema.before }}</span><br/>
                                    <span style="background-color: #e6ffed;">{{ row.schema.after }}</span><br/>
                                </span>
                                <span ng-if="row.data.length">{{ row.data.length }} rows changed:</span>
                            </div>
                            <table ng-if="row.data.length" class="table table-responsive settingsTable">
                                <thead>
                                    <tr>
                                        <td ng-repeat="c in ColumnNamesBefore[row.object_name]">{{ c }}</td>
                                        <td ng-repeat="c in ColumnNamesAfter[row.object_name]">{{ c }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in row.data">
                                        <td ng-if="d.action_type != 'add'" style="background-color: #ffeef0;" ng-repeat="c in d.data_before track by $index">
                                            <span style="{{ c != d.data_after[$index] ? 'background-color: #fdb8c0;' : '' }}">{{ c }}</span>
                                        </td>
                                        <td ng-if="d.action_type == 'add'" ng-repeat="c in ColumnNamesBefore[row.object_name]">
                                        </td>
                                        <td ng-if="d.action_type != 'delete'" style="background-color: #e6ffed;" ng-repeat="c in d.data_after track by $index">
                                            <span style="{{ c != d.data_before[$index] ? 'background-color: #acf2bd;' : '' }}">{{ c }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        [[ else ]]
            <h4>No changes</h4>
        [[ end ]]
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('diffView', function($scope, $http) {
        // Pre-filled data
        $scope.meta = {
            Database:    "[[ .Meta.Database ]]",
            Owner:       "[[ .Meta.Owner ]]",
            [[ if .Meta.LoggedInUser ]]
                Loggedin: "true",
            [[ else ]]
                Loggedin: "false",
            [[ end ]]
        }

        $scope.statusMessage = "";
        $scope.Diffs = [[ .Diffs.Diff ]];
        $scope.ColumnNamesBefore = [[ .ColumnNamesBefore ]];
        $scope.ColumnNamesAfter = [[ .ColumnNamesAfter ]];

        // Change \u0026 to &
        $scope.decodeAmp = function(str) {
            return decodeURIComponent(str);
        };

        // Returns a nicely presented "time elapsed" string
        $scope.getTimePeriodTxt = function(date1, includeOn) {
            return getTimePeriod(date1, includeOn);
        };
    });
</script>
[[ template "script_db_header" . ]]
<script src="/js/db-header.js"></script>
</body>
</html>
[[ end ]]
