[[ define "discussCommentsPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="discussCommentsView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div id="db-header-root"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <button class="btn btn-success" ng-click="createDiscussion()">Start a new discussion</button>
            </div>
            <br /><br />
        </div>
    </div>
    <div class="row" ng-if="statusMessage != ''">
        <div class="col-md-12">
            <div style="text-align: center; padding-bottom: 8px;">
                <h4 style="color: {{ statusMessageColour }};">&nbsp;{{ statusMessage }}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span ng-if="DiscussionList != ''">
                <table class="table table-responsive" style="margin-bottom: 0px;">
                    <tbody>
                        <tr style="border: none;">
                            <td width="85px" style="text-align: center; vertical-align: text-top; border-top: none; padding: 8px 0 0 0;">
                                <div style="font-size: x-large; color: #333;"># {{ Disc.disc_id }}</div>
                                <div ng-if="Disc.open == true" class="btn btn-success" style="font-size: medium;"><i class="fa fa-minus-square-o"></i> Open</div>
                                <div ng-if="Disc.open != true" class="btn btn-danger" style="font-size: medium;"><i class="fa fa-check-square-o"></i> Closed</div>
                            </td>
                            <td width="45px" style="border: none;">
                                <a class="blackLink" href="/{{ Disc.creator }}"><img ng-if="Disc.avatar_url != ''" class="pull-right" style="margin-top: 12px; border: 1px solid #8c8c8c;" ng-attr-src="{{ decodeAmp(Disc.avatar_url) }}" height="30" width="30"/></a>
                            </td>
                            <td style="border: none; padding-left: 0;">
                                <div style="border: 1px solid #CCC; border-bottom: none; padding: 10px; background-color: #EFEFEF; border-radius: 7px 7px 0px 0px;">
                                    <div>
                                        <div ng-switch="editDiscTitle">
                                            <div ng-switch-when="title">
                                                <a href="/discuss/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?id={{ Disc.disc_id }}" style="font-size: x-large; color: #333;">{{ Disc.title }}</a>
                                                <span ng-if="Disc.creator == '[[ .Meta.LoggedInUser ]]' || '[[ .Meta.Owner ]]' == '[[ .Meta.LoggedInUser ]]'" class="pull-right" style="font-size: medium;">
                                                    <a class="blackLink" ng-click="editDiscussion()"><i class="fa fa-pencil fa-fw"></i></a>
                                                </span>
                                            </div>
                                            <div ng-switch-when="edit">
                                                <input style="font-size: x-large; color: #333; width: 100%;" id="disctitle" value="{{ Disc.title }}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div>Opened <span title="{{ Disc.creation_date | date : 'medium' }}" style="color: grey;">{{ getTimePeriodTxt(Disc.creation_date, true) }}</span> by <a class="blackLink" href="/{{ Disc.creator }}">{{ Disc.creator }}</a></div>
                                </div>
                                <div style="border: 1px solid #CCC; padding: 10px; border-radius: 0px 0px 7px 7px;">
                                    <div ng-show="editDisc === true" style="text-align: center;">
                                        <uib-tabset active="activeDisc">
                                            <uib-tab index="0">
                                                <uib-tab-heading><span style="color: #555;">Edit</span></uib-tab-heading>
                                                <textarea id="disctext" name="disctext" rows="10" ng-bind="editDiscBody"></textarea>
                                            </uib-tab>
                                            <uib-tab index="1" select="getMarkdownDisc()">
                                                <uib-tab-heading><span style="color: #555;">Preview</span></uib-tab-heading>
                                                <div class="rendered" ng-bind-html="editDiscBodyPreview"></div>
                                            </uib-tab>
                                        </uib-tabset>
                                        <input type="submit" class="btn btn-default" value="Cancel" style="margin-top: 10px;" ng-click="editDiscussion()">
                                        <input type="submit" class="btn btn-success" value="Save" style="margin-top: 10px;" ng-click="updateDiscussion()">
                                    </div>
                                    <div ng-hide="editDisc === true" class="rendered" ng-bind-html="Disc.body_rendered" style="padding: 0;"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span ng-repeat="row in CommentList">
                    <table ng-if="row.entry_type == 'txt'" class="table table-responsive" style="margin-bottom: 0px;">
                        <tbody>
                            <tr>
                                <td width="85px" style="border: none; padding-right: 0;">&nbsp;</td>
                                <td width="45px" style="border: none;">
                                    <a class="blackLink" href="/{{ row.commenter }}"><img ng-if="row.avatar_url != ''" class="pull-right" style="margin-top: 6px; border: 1px solid #8c8c8c;" ng-attr-src="{{ decodeAmp(row.avatar_url) }}" height="30" width="30"/></a>
                                </td>
                                <td style="border: none; padding: 8px 8px 8px 0;">
                                    <div style="border: 1px solid #CCC; border-bottom: none; padding: 10px; background-color: #EFEFEF; border-radius: 7px 7px 0px 0px;">
                                        <a class="blackLink" href="/{{ row.commenter }}">{{ row.commenter }}</a> <a name="c{{ row.com_id }}" href="#c{{ row.com_id }}" style="color: #333;">commented</a> <span title="{{ row.creation_date | date : 'medium' }}" style="color: grey;">{{ getTimePeriodTxt(row.creation_date, true) }}</span>
                                        <span ng-if="row.commenter == '[[ .Meta.LoggedInUser ]]' || '[[ .Meta.Owner ]]' == '[[ .Meta.LoggedInUser ]]'" class="pull-right" style="font-size: medium;">
                                            <a class="blackLink" ng-click="editComment(row.com_id)"><i class="fa fa-pencil fa-fw"></i></a>
                                            <a class="blackLink" ng-click="deleteComment(row.com_id)"><i class="fa fa-trash-o fa-fw"></i></a>
                                        </span>
                                    </div>
                                    <span ng-switch="getCommentState(row.com_id)">
                                        <div ng-switch-when="static" class="rendered" style="border: 1px solid #CCC; border-radius: 0px 0px 7px 7px; margin-top: 0;" ng-bind-html="getCommentTextRendered(row.com_id)"></div>
                                        <div ng-switch-when="edit" style="padding: 10px; border: 1px solid #CCC; border-radius: 0px 0px 7px 7px;">
                                            <uib-tabset>
                                                <uib-tab index="0">
                                                    <uib-tab-heading><span style="color: #555;">Edit</span></uib-tab-heading>
                                                    <textarea id="com{{ row.com_id }}" name="com{{ row.com_id }}" rows="10" ng-bind="getCommentText(row.com_id)"></textarea>
                                                </uib-tab>
                                                <uib-tab index="1" select="getMarkdownCom(row.com_id)">
                                                    <uib-tab-heading><span style="color: #555;">Preview</span></uib-tab-heading>
                                                    <div class="rendered" ng-bind-html="getCommentTextRendered(row.com_id)"></div>
                                                </uib-tab>
                                            </uib-tabset>
                                            <div style="text-align: center;">
                                                <input type="submit" class="btn btn-default" value="Cancel" style="margin-top: 10px;" ng-click="editComment(row.com_id)">
                                                <input type="submit" class="btn btn-success" value="Save" style="margin-top: 10px;" ng-click="updateComment(row.com_id)">
                                            </div>
                                        </div>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="row.entry_type == 'cls'" style="text-align: center; font-size: medium; padding-bottom: 8px; padding-top: 2px;"><i class="fa fa-ban text-danger fa-2g"></i> <a class="blackLink" href="/{{ row.commenter }}">{{ row.commenter }}</a> <span style="color: grey;">closed this</span> <span title="{{ row.creation_date | date : 'medium' }}">{{ getTimePeriodTxt(row.creation_date, true) }}</span>.</div>
                    <div ng-if="row.entry_type == 'rop'" style="text-align: center; font-size: medium; padding-bottom: 8px; padding-top: 2px;"><i class="fa fa-recycle text-success fa-2g"></i> <a class="blackLink" href="/{{ row.commenter }}">{{ row.commenter }}</a> <span style="color: grey;">reopened this</span> <span title="{{ row.creation_date | date : 'medium' }}">{{ getTimePeriodTxt(row.creation_date, true) }}</span>.</div>
                </span>
                [[ if .Meta.LoggedInUser ]]
                    <span>
                        <table class="table table-responsive" style="margin-bottom: 0px;">
                            <tbody>
                                <tr>
                                    <td width="85px" style="border: none; padding-right: 0;">&nbsp;</td>
                                    <td width="45px" style="border: none;">&nbsp;</td>
                                    <td style="border: none; padding: 8px 8px 8px 0;">
                                        <div style="text-align: center; padding: 10px; border: 1px #EEE solid; margin-bottom: 10px; border-radius: 7px;">
                                            <uib-tabset active="activeComm">
                                                <uib-tab index="0">
                                                    <uib-tab-heading><span style="color: #555;">Edit</span></uib-tab-heading>
                                                    <textarea id="comtext" name="comtext" rows="10" ng-attr-placeholder="Add your comment here..." ng-keyup="updateCloseButton()"></textarea>
                                                </uib-tab>
                                                <uib-tab index="1" select="getMarkdown()">
                                                    <uib-tab-heading><span style="color: #555;">Preview</span></uib-tab-heading>
                                                    <div class="rendered" ng-bind-html="markDownPreview"></div>
                                                </uib-tab>
                                            </uib-tabset>
                                            <input type="hidden" name="dbname" value="[[ .Meta.Database ]]">
                                            <input type="hidden" name="folder" value="/">
                                            <input type="hidden" name="username" value="[[ .Meta.Owner ]]">
                                            <input type="hidden" name="discid" value="[[ .SelectedID ]]">
                                            <input ng-if="Disc.creator == '[[ .Meta.LoggedInUser ]]' || '[[ .Meta.Owner ]]' == '[[ .Meta.LoggedInUser ]]'" type="submit" class="btn btn-default" value="{{ closeLabel }}" style="margin-top: 10px;" ng-click="addComment(true)">
                                            <input type="submit" class="btn btn-success" value="Add comment" style="margin-top: 10px;" ng-click="addComment(false)">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                [[ else ]]
                    <div class="row">
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-9">
                            <div style="text-align: center; padding: 10px; border: 1px #EEE solid; margin-bottom: 10px; border-radius: 7px;">
                                <a href="#" ng-click="signIn()">Sign in</a> to join the discussion
                            </div>
                        </div>
                        <div class="col-md-1">&nbsp;</div>
                    </div>
                [[ end ]]
            </span>
            <div ng-if="DiscussionList == ''" style="text-align: center; padding-bottom: 10px;"><i>This database doesn't have any discussions yet</i></div>
        </div>
    </div>
</div>
[[ template "script_db_header" . ]]
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('discussCommentsView', function($scope, $http, $httpParamSerializerJQLike) {
        // Pre-filled data
        $scope.meta = {
            Database:    "[[ .Meta.Database ]]",
            Owner:       "[[ .Meta.Owner ]]",
            SelectedID:  "[[ .SelectedID ]]",
            [[ if .Meta.LoggedInUser ]]
                Loggedin: "true",
            [[ else ]]
                Loggedin: "false",
            [[ end ]]
        }
        $scope.Disc = [[ .DiscussionList ]][0];
        $scope.CommentList = [[ .CommentList ]];

        // Set the initial Close button label according to the discussion open/closed state
        if ($scope.Disc.open === true) {
            $scope.closeLabel = "Close discussion";
        } else {
            $scope.closeLabel = "Reopen discussion";
        }

        // Set up the initial edit/preview pieces for editing comments
        if ($scope.CommentList !== null) {
            let numComments = $scope.CommentList.length;
            for (let i = 0; i < numComments; i++) {
                let comID = $scope.CommentList[i].com_id;
                $scope['comstate' + comID] = "static";
                $scope['comtext' + comID] = $scope.CommentList[i].body;
                $scope['combackup' + comID] = $scope.CommentList[i].body;
                $scope['comrender' + comID] = $scope.CommentList[i].body_rendered;
            }
        }

        // Add a comment to the discussion
        $scope.statusMessage = "";
        $scope.statusMessageColour = "green";
        $scope.addComment = function(alsoClose) {
            // Send the comment text to the server
            let txt = document.getElementById("comtext").value;
            $http({
                method: "POST",
                url: "/x/createcomment/",
                data: $httpParamSerializerJQLike({
                    "comtext": encodeURIComponent(txt),
                    "close": alsoClose,
                    "folder": "/",
                    "discid": [[ .SelectedID ]],
                    "dbname": [[ .Meta.Database ]],
                    "username": [[ .Meta.Owner ]],
                    }),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // Adding the comment succeeded, so display it in the list (we cheat for now by just reloading the page)
                window.location = '/discuss/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?id=[[ .SelectedID ]]';
            }, function failure(response) {
                // Adding the comment failed, so display an error message
                $scope.statusMessageColour = "red";
                $scope.statusMessage = "Adding comment failed: " + response.data;
            });
        };

        // Switch to the create discussion page
        $scope.createDiscussion = function() {
            if ($scope.meta.Loggedin !== "true") {
                // User needs to be logged in
                lock.show();
            } else {
                window.location = '/creatediscuss/[[ .Meta.Owner ]]/[[ .Meta.Database ]]';
            }
        };

        // Change \u0026 to &
        $scope.decodeAmp = function(str) {
            return decodeURIComponent(str);
        };

        // Deletes a comment
        $scope.deleteComment = function(comID) {
            // Send the comment to the server
            $http({
                method: "POST",
                url: "/x/deletecomment/",
                data: $httpParamSerializerJQLike({
                    "comid": comID,
                    "folder": "/",
                    "discid": [[ .SelectedID ]],
                    "dbname": [[ .Meta.Database ]],
                    "username": [[ .Meta.Owner ]],
                    }),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // Deleting the comment succeeded, so reload the page
                window.location = '/discuss/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?id=[[ .SelectedID ]]';
            }, function failure(response) {
                // Deleting the comment failed, so display an error message
                $scope.statusMessageColour = "red";
                $scope.statusMessage = "Deleting comment failed";
            });
        };

        // Called when the user clicks the edit button for comments, toggling between display of an edit/preview box
        // and displaying the final html rendered markdown
        $scope.editComment = function(comID) {
            if ($scope['comstate' + comID] === "static") {
                // Make a backup of the original text
                $scope['combackup' + comID] = $scope['comtext' + comID];

                // Switch to the comment editing view
                $scope['comstate' + comID] = "edit";
            } else {
                // Restore the original comment/preview text
                $scope['comtext' + comID] = $scope['combackup' + comID];
                document.getElementById("com" + comID).value = $scope['combackup' + comID];
                $scope.getMarkdownCom(comID);

                // Switch to the static comment view
                $scope['comstate' + comID] = "static";
            }
        };

        // Changes the static discussion text display into an edit/preview box
        $scope.editDisc = false;
        $scope.editDiscAlready = false;
        $scope.editDiscBody = "";
        $scope.editDiscTitle = "title";
        $scope.editDiscussion = function() {
            // Only grab the saved body content the first time the edit button is pressed
            if ($scope.editDiscAlready === false) {
                $scope.editDiscBody = $scope.Disc.body;
                $scope.editDiscAlready = true;
            }

            // Swap between an input field and header field for the discussion title
            if ($scope.editDiscTitle === "title") {
                $scope.editDiscTitle = "edit";
            } else {
                $scope.editDiscTitle = "title";
            }

            // Display the edit/preview box
            $scope.editDisc = !$scope.editDisc;
        };

        // Returns the whether a comment should be in static display or edit mode
        $scope.getCommentState = function(comID) {
            let comState = $scope['comstate' + comID];
            return comState;
        };

        // Returns the updated text for a comment
        $scope.getCommentText = function(comID) {
            let newComText = $scope['comtext' + comID];
            return newComText;
        };

        // Returns the rendered text for a comment
        $scope.getCommentTextRendered = function(comID) {
            let newRender = $scope['comrender' + comID];
            return newRender;
        };

        // Render markdown preview
        $scope.markDownPreview = "";
        $scope.getMarkdown = function() {
            // Retrieve latest markdown text from the text area
            let txt = document.getElementById("comtext").value;

            // Call the server, asking for a rendered version of the markdown
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": encodeURIComponent(txt)}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) { $scope.markDownPreview = response.data; });
        };

        // Render markdown preview for a comment edit box
        $scope.getMarkdownCom = function(comID) {
            // Call the server, asking for a rendered version of the markdown
            let txt = document.getElementById("com" + comID).value;
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": encodeURIComponent(txt)}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) {
                $scope['comrender' + comID] = response.data;
            });
        };

        // Render markdown preview for the discussion edit box
        $scope.editDiscBodyPreview = "";
        $scope.getMarkdownDisc = function() {
            // Retrieve text from the discussion edit area
            let txt = document.getElementById("disctext").value;

            // Call the server, asking for a markdown rendered version of the text
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": encodeURIComponent(txt)}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) { $scope.editDiscBodyPreview = response.data; });
        };

        // Returns a nicely presented "time elapsed" string
        $scope.getTimePeriodTxt = function(date1, includeOn) {
            return getTimePeriod(date1, includeOn)
        };

        // Displays the Auth0 dialog
        $scope.signIn = function() {
            // User needs to be logged in
            lock.show();
        };

        // Update the close button label as appropriate for text area content
        $scope.updateCloseButton = function() {
            let txt = document.getElementById("comtext").value;
            if (txt.length > 0) {
                if ($scope.Disc.open === true) {
                    $scope.closeLabel = "Add comment and close discussion";
                } else {
                    $scope.closeLabel = "Add comment and reopen discussion";
                }
            } else {
                if ($scope.Disc.open === true) {
                    $scope.closeLabel = "Close discussion";
                } else {
                    $scope.closeLabel = "Reopen discussion";
                }
            }
        };

        // Send updated comment text to the server
        $scope.updateComment = function(comID) {
            let txt = document.getElementById("com" + comID).value;
            $http({
                method: "POST",
                url: "/x/updatecomment/",
                data: $httpParamSerializerJQLike({
                    "comid": comID,
                    "comtext": encodeURIComponent(txt),
                    "folder": "/",
                    "discid": [[ .SelectedID ]],
                    "dbname": [[ .Meta.Database ]],
                    "username": [[ .Meta.Owner ]],
                    }),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // Updating the comment succeeded, so display it in the list
                $scope['comtext' + comID] = txt;
                $scope['combackup' + comID] = txt;
                $scope['comrender' + comID] = response.data;
                $scope['comstate' + comID] = "static";

                // Clear any previous error message
                $scope.statusMessageColour = "green";
                $scope.statusMessage = "";
            }, function failure(response) {
                // Adding the comment failed, so display an error message
                $scope.statusMessageColour = "red";
                $scope.statusMessage = "Updating comment failed: " + response.data;
            });
        };

        // Send the updated discussion values to the server
        $scope.updateDiscussion = function() {
            // Retrieve text from the discussion edit area
            let txt = document.getElementById("disctext").value;
            let title = document.getElementById("disctitle").value;

            // Send the new discussion text to the server
            $http({
                method: "POST",
                url: "/x/updatediscuss/",
                data: $httpParamSerializerJQLike({
                    "disctext": encodeURIComponent(txt),
                    "disctitle": encodeURIComponent(title),
                    "folder": "/",
                    "discid": [[ .SelectedID ]],
                    "dbname": [[ .Meta.Database ]],
                    "username": [[ .Meta.Owner ]],
                    }),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // Updating the discussion text succeeded, so switch back to the static view
                $scope.Disc.body = txt;
                $scope.Disc.body_rendered = response.data;
                $scope.Disc.title = title;
                $scope.editDiscTitle = "title";
                $scope.editDisc = false;

                // Clear any previous error message
                $scope.statusMessageColour = "green";
                $scope.statusMessage = "";
            }, function failure(response) {
                // Adding the comment failed, so display an error message
                $scope.statusMessageColour = "red";
                $scope.statusMessage = "Updating discussion failed: " + response.data;
            });
        };
    });
</script>
</body>
</html>
[[ end ]]
