[[ define "errorPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="errorView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-12">
            <h2>[[ .Message ]]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
        app.controller('errorView', function($scope) {
            [[ if eq .Meta.Environment "production" ]]
            // Only invoke the Auth0 pieces in the production environment
            const lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
                redirectUrl: "[[ .Auth0.CallbackURL]]"
            }});

            $scope.showLock = function() {
                lock.show();
            };
            [[ end ]]
        });
</script>
</body>
</html>
[[ end ]]