[[ define "footer" ]]
<div class="container-fluid">
    <table class="table table-responsive text-center mt-3 mb-1">
        <tr>
            <th><a href="/about">About Us</a></th>
            <th>Get Involved</th>
            <th>Support</th>
            <th>Communication</th>
            <th>Legal</th>
        </tr>
        <tr>
            <td><a href="/about#whatis">What is DBHub.io?</a></td>
            <td><a href="https://github.com/sqlitebrowser/dbhub.io">GitHub</a></td>
            <td><a href="https://github.com/sqlitebrowser/dbhub.io/issues/new/choose">Create a support issue</a></td>
            <td><a href="https://sqlitebrowser.org/blog">Blog</a></td>
            <td>Privacy Policy</td>
        </tr>
        <tr>
            <td>Core Team</td>
            <td><a href="https://www.patreon.com/db4s/memberships">Patreon</a></td>
            <td></td>
            <td><a href="https://twitter.com/sqlitebrowser">Twitter</a></td>
            <td>Terms and Conditions</td>
        </tr>
        <tr>
            <td><a href="https://github.com/sqlitebrowser/dbhub.io/graphs/contributors">Contributors</a></td>
            <td><a href="https://api.dbhub.io">API</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="text-center mt-2 mb-3"><a href="https://auth0.com"><img alt="Auth0" height="60" src="/images/auth0.svg"/></a></div>
</div>
[[ if eq .PageMeta.Environment "production" ]]
<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script type="application/javascript">
    (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
            (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
            m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
    })(document, window, '//stats.sqlitebrowser.org/tracker.js', 'fathom');
    fathom('set', 'siteId', 'OVQCW');
    fathom('trackPageview');
</script>
<!-- / Fathom -->
[[ end ]]

<script type="application/javascript">
    const authInfo = {
        [[ if .PageMeta.LoggedInUser ]]
            loggedIn: true,
        [[ else ]]
            loggedIn: false,
        [[ end ]]
        loggedInUser: "[[ .PageMeta.LoggedInUser ]]",
        avatarUrl: "[[ .PageMeta.AvatarURL ]]",
        numStatusUpdates: [[ .PageMeta.NumStatusUpdates ]]
    };
</script>
<script src="/js/dbhub.js"></script>
</body>
</html>
[[ end ]]
