[[ define "forksPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="forksView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-10">
            <h2 style="text-align: center;">
                <span data-cy="forks">Forks of</span>
                <a class="blackLink" href="/[[ .Meta.Owner ]]" data-cy="ownerlnk">[[ .Meta.Owner ]]</a> /
                <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" data-cy="dblnk">[[ .Meta.Database ]]</a>
            </h2>
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
            <table class="table" style="border-style: none;">
                <tr ng-repeat="row in forks.Forks">
                    <td style="border-style: none;">&nbsp;</td>
                    <td style="border-style: none;">&nbsp;</td>
                    <td style="border-style: none; font-family: Monospace; font-size: large; text-align: left; vertical-align: text-bottom;">
                        <span ng-bind-html="rowIcons(row)"></span>
                        <a class="blackLink" href="/{{ row.database_owner }}">{{ row.database_owner }}</a> {{ row.database_folder }}
                        <span ng-bind-html="rowURL(row)"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('forksView', function($scope) {
        $scope.forks = { Forks: [[ .Forks ]] }

        [[ if eq .Meta.Environment "production" ]]
        // Only invoke the Auth0 pieces in the production environment
        const lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});

        $scope.showLock = function() {
            lock.show();
        };
        [[ end ]]

        // Display the appropriate fork icons for a database row
        $scope.rowIcons = function(rowData) {
            let returnList = "";
            rowData.icon_list.forEach(function(item, index, array) {
                switch (item) {
                    case 0:
                        returnList += "&nbsp; "; // Space
                        break;
                    case 1:
                        returnList += "🜷"; // Root
                        break;
                    case 2:
                        returnList += "┃ "; // Stem
                        break;
                    case 3:
                        returnList += "┣ "; // Branch
                        break;
                    case 4:
                        returnList += "┗"; // End
                        break;
                    default:
                        returnList += "?"; // Unknown.  This shouldn't happen. ;)
                }
            });
            return returnList;
        };

        // Ensure private and deleted databases display appropriately
        $scope.rowURL = function(row) {
            // Simple placeholder for deleted databases
            if (row.deleted === true) {
                return "deleted database";
            }

            // Create appropriate link or placeholder for public/private databases
            if (row.public === true) {
                return '<a class="blackLink" href="/'+ row.database_owner + row.database_folder + row.database_name +
                    '">' + row.database_name + '</a>';
            } else if (row.database_owner === "[[ .Meta.LoggedInUser ]]") {
                // The logged in user should see their own private databases. Make sure it's not mistaken as public though.
                return '<a class="blackLink" href="/'+ row.database_owner + row.database_folder + row.database_name +
                    '">' + row.database_name + '</a> (private database)';
            } else {
                return "private database";
            }
        };
    });
</script>
</body>
</html>
[[ end ]]