[[ define "forksPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="forksView">
[[ template "head" . ]]
<body>
<style>
    .blackLink {
        color: black;
    }

    .blackLink:hover {
        color: #23527c;
        text-decoration: underline;
    }
</style>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-10">
            <h2 style="text-align: center;">
                Forks of
                <a class="blackLink" href="/[[ .Meta.Owner ]]">[[ .Meta.Owner ]]</a> /
                <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]">[[ .Meta.Database ]]</a>
            </h2>
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
            <table class="table" style="border-style: none;">
                <tr ng-repeat="row in forks.Forks">
                    <td style="border-style: none;">&nbsp;</td>
                    <td style="border-style: none;">&nbsp;</td>
                    <td style="border-style: none; font-family: Monospace; font-size: large; text-align: left; vertical-align: text-bottom;">
                        <span ng-bind-html="rowIcons(row)"></span>
                        <a href="/{{ row.Owner }}">{{ row.Owner }}</a> {{ row.Folder }}
                        <span ng-bind-html="rowURL(row)"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('forksView', function($scope) {
        $scope.forks = { Forks: [[ .Forks ]] }

        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});

        $scope.showLock = function() {
            lock.show();
        };

        // Display the appropriate fork icons for a database row
        $scope.rowIcons = function(rowData) {
            var returnList = "";
            rowData.IconList.forEach(function(item, index, array) {
                switch (item) {
                    case 0:
                        returnList += "&nbsp; "; // Space
                        break;
                    case 1:
                        returnList += "🜷"; // Root
                        break;
                    case 2:
                        returnList += "┃ "; // Stem
                        break;
                    case 3:
                        returnList += "┣ "; // Branch
                        break;
                    case 4:
                        returnList += "┗"; // End
                        break;
                    default:
                        returnList += "?"; // Unknown.  This shouldn't happen. ;)
                }
            });
            return returnList;
        };

        // Display public URLs as clickable links
        $scope.rowURL = function(row) {
            if (row.Public === true) {
                return '<a href="/'+ row.Owner + row.Folder + row.DBName + '">' + row.DBName + '</a>';
            } else if (row.Owner == "[[ .Meta.LoggedInUser ]]") {
                // The logged in user should see their own private databases. Make sure it's not mistaken as public though.
                return '<a href="/'+ row.Owner + row.Folder + row.DBName + '">' + row.DBName + '</a> (private database)';
            } else {
                return "private database";
            }
        };
    });
</script>
</body>
</html>
[[ end ]]