[[ define "headerdatabase" ]]
<div class="row">
    <div class="col-md-12">
        <h2 id="viewdb" style="margin-top: 10px;">
            <div class="pull-left">
                <div>
                    <a class="blackLink" href="/[[ .Meta.Owner ]]" data-cy="headerownerlnk">[[ .Meta.Owner ]]</a> /
                    <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" data-cy="headerdblnk">[[ .Meta.Database ]]</a>
                </div>
                [[ if .Meta.ForkOwner ]]
                <div style="font-size: small">
                    forked from <a href="/[[ .Meta.ForkOwner ]]">[[ .Meta.ForkOwner ]]</a> /
                    [[ if not .Meta.ForkDeleted ]]
                        <a href="/[[ .Meta.ForkOwner ]]/[[ .Meta.ForkDatabase ]]">[[ .Meta.ForkDatabase ]]</a>
                    [[ else ]]
                        deleted database
                    [[ end ]]
                </div>
                [[ end ]]
            </div>
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-bind-html="watchersText" ng-click="toggleWatchers()" data-cy="watcherstogglebtn"></button>
                    <button type="button" class="btn btn-default" ng-bind="meta.Watchers" ng-click="watchersPage()" data-cy="watcherspagebtn"></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-bind-html="starsText" ng-click="toggleStars()" data-cy="starstogglebtn"></button>
                    <button type="button" class="btn btn-default" ng-bind="meta.Stars" ng-click="starsPage()" data-cy="starspagebtn"></button>
                </div>
                <div class="btn-group">
                    [[ if ne .Meta.Owner .Meta.LoggedInUser ]]
                        <button type="button" class="btn btn-default" ng-click="forkDB()" data-cy="forksbtn"><i class="fa fa-sitemap"></i> Fork</button>
                    [[ else ]]
                        <button type="button" class="btn btn-default" ng-disabled="true" data-cy="forksbtn"><i class="fa fa-sitemap"></i> Fork</button>
                    [[ end ]]
                    <button type="button" class="btn btn-default" ng-bind="meta.Forks" ng-click="forksPage()" data-cy="forkspagebtn"></button>
                </div>
            </div>
        </h2>
    </div>
</div>
<div class="row" style="padding-bottom: 5px; padding-top: 10px;">
    <div class="col-md-6">
        <label id="viewdata" style="font-weight: 600; font-family: 'arial black'; [[ if eq .Meta.PageSection "db_data" ]] border-bottom: 1px grey dashed; [[ end ]]"><a href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Data" data-cy="datalink"><i class="fa fa-database"></i> Data</a></label>

        &nbsp; &nbsp; &nbsp;

        <label id="viewvis" style="font-weight: 600; font-family: 'arial black'; [[ if eq .Meta.PageSection "db_vis" ]] border-bottom: 1px grey dashed; [[ end ]]"><a href="/vis/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Visualise" data-cy="vislink"><i class="fa fa-bar-chart"></i> Visualise</a></label>

        &nbsp; &nbsp; &nbsp;

        <label id="viewdiscuss" style="font-weight: 600; font-family: 'arial black'; [[ if eq .Meta.PageSection "db_disc" ]] border-bottom: 1px grey dashed; [[ end ]]"><a href="/discuss/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Discussions" data-cy="discusslink"><i class="fa fa-commenting"></i> Discussions:</a> {{ meta.Discussions }}</label>

        &nbsp; &nbsp; &nbsp;

        <label id="viewmrs" style="font-weight: 600; font-family: 'arial black'; [[ if eq .Meta.PageSection "db_merge" ]] border-bottom: 1px grey dashed; [[ end ]]"><a href="/merge/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Merge Requests" data-cy="mrlink"><i class="fa fa-clone"></i> Merge Requests:</a> {{ meta.MRs }}</label>

        &nbsp; &nbsp; &nbsp;

        [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
            <label id="settings" style="font-weight: 600; font-family: 'arial black'; [[ if eq .Meta.PageSection "db_settings" ]] border-bottom: 1px grey dashed; [[ end ]]"><a href="/settings/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Settings" data-cy="settingslink"><i class="fa fa-cog"></i> Settings</a></label>
        [[ end ]]
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                <b>Visibility:</b> <a class="blackLink" href="/settings/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" data-cy="vis">{{ meta.Public }}</a> &nbsp;
            [[ else ]]
                <b>Visibility:</b> <span data-cy="vis">{{ meta.Public }}</span> &nbsp;
            [[ end ]]
            <b>Last Commit:</b> {{ meta.CommitID | limitTo: 8 }} ({{ getTimePeriodTxt(meta.RepoModified, false) }}) &nbsp;
            [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                <b>Licence:</b> <a class="blackLink" href="/settings/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" data-cy="lic">{{ meta.Licence }}</a> &nbsp;
            [[ else ]]
                [[ if ne .DB.Info.LicenceURL "" ]]
                    <b>Licence:</b> <a class="blackLink" href="{{ meta.LicenceURL }}" data-cy="licurl">{{ meta.Licence }}</a> &nbsp;
                [[ else ]]
                    <b>Licence:</b> <span data-cy="licurl">{{ meta.Licence }}</span> &nbsp;
                [[ end ]]
            [[ end ]]
            <b>Size:</b> <span data-cy="size">{{ meta.Size / 1024 | number : 0 }} KB</span>
        </div>
    </div>
</div>
[[ end ]]
