[[ define "header" ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row" style="padding-top: 8px;">
        <div id="logo" class="col-md-6">
            <div class="pull-left">
                <a href="/"><img src="/images/sqlitebrowser.svg" height="25"/></a>
                <span style="font-size: larger; vertical-align: bottom;">DBHub.io</span>
            </div>
        </div>
        <div id="auth" class="col-md-6">
            <div class="pull-right">
                [[ if .Meta.LoggedInUser ]]
                    <a href="/pref">Preferences</a> | <a href="/[[ .Meta.LoggedInUser ]]">Home</a> | <a href="/logout">Log out</a>
                [[ else ]]
                    <a href="" ng-click="showLock()">Login / Register</a>
                [[  end ]]
            </div>
        </div>
    </div>
</div>
[[ end ]]