[[ define "head" ]]
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DBHub.io - [[ .PageMeta.Title ]]</title>
    <link rel="stylesheet" href="/css/font-awesome-4.7.0.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <link href="/css/local.css" rel="stylesheet">
    <script src="//cdn.auth0.com/js/lock/11.35.0/lock.min.js"></script>
    [[ if eq .PageMeta.Environment "production" ]]
        <script type="application/javascript">
        // Only invoke the Auth0 pieces in the production environment
        const lock = new Auth0Lock("[[ .PageMeta.Auth0.ClientID ]]", "[[ .PageMeta.Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .PageMeta.Auth0.CallbackURL]]"
        }});
        </script>
    [[ end ]]
    <script type="application/javascript">
        const theme = localStorage.getItem("userPref_colourMode") || "light";
        document.documentElement.setAttribute("data-bs-theme", theme);
    </script>
</head>
<body>
[[ end ]]
