[[ define "headlightbox" ]]
<head>
    <meta charset="UTF-8">
    <title>DBHub.io - [[ .Meta.Title ]]</title>
    <script src="/js/angular-1.7.9.min.js"></script>
    <script src="/js/angular-sanitize-1.7.9.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/angular-bootstrap-lightbox.min.js"></script>
    <link rel="stylesheet" href="/css/font-awesome-4.7.0.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <link href="/css/local.css" rel="stylesheet">
    <link href="/css/angular-bootstrap-lightbox.min.css" rel="stylesheet">
    <script src="//cdn.auth0.com/js/lock/11.35.0/lock.min.js"></script>
    <script src="/js/local.js" type="application/javascript"></script>
    [[ if eq .Meta.Environment "production" ]]
        <script type="application/javascript">
        // Only invoke the Auth0 pieces in the production environment
        const lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});
        </script>
    [[ end ]]
</head>
[[ end ]]
