[[ define "headawesome" ]]
<head>
    <meta charset="UTF-8">
    <title>DBHub.io - [[ .Meta.Title ]]</title>
    <script src="/js/angular-1.6.5.min.js"></script>
    <script src="/js/angular-sanitize-1.6.5.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <link href="/css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <link href="/css/local.css" rel="stylesheet">
    <script src="/js/lock-10.20.min.js"></script>
    <script src="/js/local.js" type="application/javascript"></script>
</head>
[[ end ]]