[[ define "header" ]]
<div style="margin-left: 0.5%; margin-right: 0.5%; padding-left: 0.5%; padding-right: 0.5%;">
    <div class="row" style="padding-top: 8px;">
        <div id="logo" class="col-md-6">
            <div class="pull-left">
                <a href="/"><img src="/images/sqlitebrowser.svg" height="25"/></a>
                <span style="font-size: larger; vertical-align: bottom;">DBHub.io</span>
            </div>
        </div>
        <div id="auth" class="col-md-6">
            <span class="pull-right">
                <div id="authcontrol" />
            </span>
        </div>
    </div>
</div>
[[ end ]]
