[[ define "head" ]]
<head>
    <meta charset="UTF-8">
    <title>DBHub.io - [[ .Meta.Title ]]</title>
    <script src="/js/angular-1.5.11.min.js"></script>
    <script src="/js/angular-sanitize-1.5.11.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <link href="/css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <style>
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }

        .blackLink {
            color: black;
        }

        .blackLink:hover {
            color: #23527c;
            text-decoration: underline;
        }
    </style>
    <script src="/js/lock-10.11.min.js"></script>
</head>
[[ end ]]