[[ define "head" ]]
<head>
    <meta charset="UTF-8">
    <title>DBHub.io - [[ .Meta.Title ]]</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

        #viewupdates, #viewbranches, #viewreleases, #viewcontribs {
            margin-left: 30%;
        }
    </style>
    <script src="//cdn.auth0.com/js/lock/10.11/lock.js"></script>
</head>
[[ end ]]