[[ define "mergeRequestCommentsPage" ]]
<!doctype html>
<html>
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div>
    <div id="db-header-root"></div>
    <div id="discussion-comments"></div>
</div>
[[ template "script_db_header" . ]]
<script>
    const discussionData = [[ .MRList ]][0];
    const commentsData = [[ .CommentList ]];
    const mrData = {
        commitList: [[ .CommitList ]],
        licenceWarning: "[[ .LicenceWarning ]]",    // If a licence change warning was passed from the backend, then display it
        destBranchNameOk: [[ .DestBranchNameOK ]],
        destBranchUsable: [[ .DestBranchUsable ]],
        sourceBranchOk: [[ .SourceBranchOK ]],
        sourceDbOk: [[ .SourceDBOK ]],
    };
</script>
[[ template "footer" . ]]
</body>
</html>
[[ end ]]
