[[ define "prefPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="prefView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-6">
            <h2 style="text-align: center;">Settings</h2>
            <h3 style="text-align: center;">Used when uploading databases</h3>
            <form action="/pref" method="post">
                <table class="table table-striped table-responsive settingsTable">
                    <tr>
                        <th width="25%">Full Name</th>
                        <td><input name="fullname" style="width: 100%;" value="{{ FullName }}" ng-attr-placeholder="{{ NamePlaceholder }}" maxlength="80"></td>
                    </tr>
                    <tr>
                        <th>Email address</th>
                        <td><input name="email" style="width: 100%;" value="{{ EmailAddr }}" ng-attr-placeholder="{{ EmailPlaceholder }}" maxlength="80"><br />
                            <i>If you don't want to use your real email address, use
                                "[[ .Meta.LoggedInUser ]]@[[ .Meta.Server ]]".</i></td>
                    </tr>
                </table>
                <h3 style="text-align: center;">Display options</h3>
                <table class="table table-striped table-responsive settingsTable" style="margin-bottom: 20px;">
                    <tr>
                        <th>Maximum number of database rows to display</th>
                        <td><input type="number" name="maxrows" value="[[ .MaxRows ]]" min="1" max="500"></td>
                    </tr>
                    <tr>
                        <td style="border-left: none;" colspan="2">
                            <div style="text-align: center;">
                                <input type="submit" class="btn btn-primary" value="Update">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>

            <hr />

            <h3 style="text-align: center;"><a href="https://sqlitebrowser.org/" target="_blank">DB4S Integration</a></h3>
            <div style="text-align: center; font-style: italic; font-size: large;">This is needed for easily making changes to your uploaded databases.</div>
            <div style="text-align: center;">
                <input type="submit" class="btn btn-primary" value="Generate new client certificate" ng-click="genCert()">
            </div>

            <hr />

            <h3 style="text-align: center;"><a href="https://api.dbhub.io" target="_blank">API keys</a></h3>
            <div style="text-align: center; font-style: italic; font-size: large;">(In early development, but you're welcome to use it.)</div>
            <table class="table table-striped table-responsive settingsTable" style="margin-bottom: 20px;">
                <tr>
                    <th>Key</th>
                    <th>Generation date</th>
                </tr>
                <tr ng-repeat="row in apiKeys">
                    <td>{{ row.key }}</td>
                    <td>{{ row.date_created | date : 'medium' }}</td>
                </tr>
                <tr ng-if="apiKeys === null">
                    <td colspan="2" style="text-align: center;">You don't have any API keys yet</td>
                </tr>
                <tr>
                    <td style="border-left: none;" colspan="2">
                        <div>
                            <div class="row" ng-if="statusMessage != ''">
                                <div style="text-align: center; padding-bottom: 8px;">
                                    <h4 style="color: {{ statusMessageColour }};">&nbsp;{{ statusMessage }}</h4>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <input type="submit" class="btn btn-primary" value="Generate new API key" ng-click="apiKeyGen()">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('prefView', function($scope, $http, $httpParamSerializerJQLike) {
        // API Keys
        $scope.apiKeys = [[ .APIKeys ]];

        // If the supplied display name is blank, we set a placeholder value instead
        $scope.FullName = "";
        $scope.NamePlaceholder = "";
        if ("[[ .DisplayName ]]" == "") {
            $scope.NamePlaceholder = "Jane Doe";
        } else {
            $scope.FullName = "[[ .DisplayName ]]";
        }

        // Same thing, but for email address
        $scope.EmailAddr = "";
        $scope.EmailPlaceholder = "";
        if ("[[ .Email ]]" == "") {
            $scope.EmailPlaceholder = "[[ .Meta.LoggedInUser ]]@[[ .Meta.Server ]]";
        } else {
            $scope.EmailAddr = "[[ .Email ]]";
        }

        // Generate new client certificate
        $scope.genCert = function() {
            window.location = '/x/gencert'
        };

        // Auth0
        let lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});

        $scope.showLock = function() {
            lock.show();
        };

        // Generate a new API key
        $scope.statusMessage = "";
        $scope.statusMessageColour = "red";
        $scope.apiKeyGen = function() {
            // Call the server to generate a new API key
            $http.get("/x/apikeygen").then(
                function success(response) {
                    $scope.statusMessageColour = "green";
                    $scope.statusMessage = "New API key '" + response.data["key"] + "' created";

                    // Append the new key to the displayed list
                    let newKey = {"key": response.data["key"], "date_created": response.data["date_created"]};
                    if ($scope.apiKeys !== null) {
                        $scope.apiKeys.push(newKey);
                    } else {
                        $scope.apiKeys = [newKey];
                    }

                }, function failure(response) {
                    // Key creation failed, so display the returned error message
                    $scope.statusMessageColour = "red";
                    $scope.statusMessage = "Creating new API key failed: " + response.data;
                }
            )
        };
    });
</script>
</body>
</html>
[[ end ]]
