[[ define "profilePage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="profileView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <h2 id="viewuser" style="margin-top: 10px;">
                <div class="pull-left">
                    Your page
                </div>
            </h2>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <button class="btn btn-success" ng-click="uploadForm()">Upload database</button>
        </div>
        <div class="col-md-10">
            <div class="dropdown">
                <div class="btn-group" uib-dropdown keyboard-nav="true">
                    <button id="dlcert" type="button" class="btn btn-primary" ng-click="downloadCert()">Download DB4S certificate</button>

                    <button type="button" uib-dropdown-toggle class="btn btn-primary">
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                        <li role="menuitem" ng-click="downloadCert()"><a>Download DB4S certificate</a></li>
                        <li role="menuitem" ng-click="genCert()"><a>Generate DB4S certificate</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Public databases</h3>
            [[ if .PublicDBs ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr ng-repeat="row in pubdb.Databases">
                        <td><h4><a class="blackLink" href="/{{ meta.Owner + '/' + row.Database }}">{{ row.Database }}</a>{{ row.OneLineDesc }}</h4>
                            <span ng-if="row.SourceURL != ''"><b>Source:</b> <a class="blackLink" href="{{ row.SourceURL }}" ng-bind="row.SourceURL"></a><br /></span>
                            <b>Last modified:</b> {{ row.LastModified | date : 'd MMMM, y h:mm a' : 'UTC' }} &nbsp;
                            <b>Size:</b> {{ row.Size / 1024 | number : 0 }} KB &nbsp;
                            <b>Contributors:</b> <a class="blackLink" href="/contributors/{{ meta.Owner }}/{{ row.Database }}">{{ row.Contributors }}<br /></a>
                            <b>Commit ID:</b> {{ row.CommitID | limitTo: 8 }} &nbsp;
                            <b>Licence:</b> <a class="blackLink" href="/settings/{{ meta.Owner + '/' + row.Database }}">{{ row.Licence }}</a> &nbsp;
                            <b>Watchers:</b> {{ row.Watchers }} &nbsp;
                            <b>Stars:</b> <a class="blackLink" href="/stars/{{ meta.Owner + '/' + row.Database }}">{{ row.Stars }}</a> &nbsp;
                            <br />
                            <b>Forks:</b> <a class="blackLink" href="/forks/{{ meta.Owner + '/' + row.Database }}">{{ row.Forks }}</a> &nbsp;
                            <b>Discussions:</b> {{ row. Discussions }} &nbsp;
                            <b>MRs:</b> {{ row.MRs }} &nbsp;
                            <b>Branches:</b> <a class="blackLink" href="/branches/{{ meta.Owner + '/' + row.Database }}">{{ row.Branches }}</a> &nbsp;
                            <b>Releases:</b> {{ row.Releases }} &nbsp;
                            <b>Tags:</b> <a class="blackLink" href="/tags/{{ meta.Owner + '/' + row.Database }}">{{ row.Tags }}</a> &nbsp;
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <td>
                            <h4>No public databases yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
        <div class="col-md-6">
            <h3>Private databases</h3>
            [[ if .PrivateDBs ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr ng-repeat="row in privdb.Databases">
                        <td><h4><a class="blackLink" href="/{{ meta.Owner + '/' + row.Database }}">{{ row.Database }}</a>{{ row.OneLineDesc }}</h4>
                            <span ng-if="row.SourceURL != ''"><b>Source:</b> <a class="blackLink" href="{{ row.SourceURL }}" ng-bind="row.SourceURL"></a><br /></span>
                            <b>Last modified:</b> {{ row.LastModified | date : 'd MMMM, y h:mm a' : 'UTC' }} &nbsp;
                            <b>Size:</b> {{ row.Size / 1024 | number : 0 }} KB &nbsp;
                            <b>Contributors:</b> <a class="blackLink" href="/contributors/{{ meta.Owner }}/{{ row.Database }}">{{ row.Contributors }}<br /></a>
                            <b>Commit ID:</b> {{ row.CommitID | limitTo: 8 }} &nbsp;
                            <b>Licence:</b> <a class="blackLink" href="/settings/{{ meta.Owner + '/' + row.Database }}">{{ row.Licence }}</a> &nbsp;
                            <b>Watchers:</b> {{ row.Watchers }} &nbsp;
                            <b>Stars:</b> <a class="blackLink" href="/stars/{{ meta.Owner + '/' + row.Database }}">{{ row.Stars }}</a> &nbsp;
                            <br />
                            <b>Forks:</b> <a class="blackLink" href="/forks/{{ meta.Owner + '/' + row.Database }}">{{ row.Forks }}</a> &nbsp;
                            <b>Discussions:</b> {{ row. Discussions }} &nbsp;
                            <b>MRs:</b> {{ row.MRs }} &nbsp;
                            <b>Branches:</b> <a class="blackLink" href="/branches/{{ meta.Owner + '/' + row.Database }}">{{ row.Branches }}</a> &nbsp;
                            <b>Releases:</b> {{ row.Releases }} &nbsp;
                            <b>Tags:</b> <a class="blackLink" href="/tags/{{ meta.Owner + '/' + row.Database }}">{{ row.Tags }}</a> &nbsp;
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <td>
                            <h4>No private databases yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Databases you've starred</h3>
            [[ if .Stars ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr ng-repeat="row in stars.Stars">
                        <td>
                            <h4>
                                <a class="blackLink" href="/{{ row.Owner }}">{{ row.Owner }}</a> /
                                <a class="blackLink" href="/{{ row.Owner + '/' + row.DBName }}">{{ row.DBName }}</a>
                            </h4>
                            <b>Date starred:</b> {{ row.DateEntry | date : 'd MMMM, y h:mm a' : 'UTC' }}
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <td>
                            <h4>No starred databases yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
        <div class="col-md-6">
            <h3>Databases you're watching</h3>
            <table class="table table-bordered table-striped table-responsive">
                <tr>
                    <td>
                        <h4>Not yet implemented</h4>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('profileView', function($scope) {
        $scope.meta = { Owner: "[[ .Meta.Owner ]]" };
        $scope.pubdb = { Databases: [[ .PublicDBs ]] };
        $scope.privdb = { Databases: [[ .PrivateDBs ]] };
        $scope.stars = { Stars: [[ .Stars ]] };

        $scope.uploadForm = function() {
            window.location = '/upload/'
        };

        $scope.downloadCert = function() {
            window.location = '/x/downloadcert'
        };

        $scope.genCert = function() {
            window.location = '/x/gencert'
        };

        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});

        $scope.showLock = function() {
            lock.show();
        };

    });
</script>
</body>
</html>
[[ end ]]