[[ define "profilePage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="profileView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <h2 id="viewuser" style="margin-top: 10px;">
                <div class="pull-left">
                    [[ if .Meta.AvatarURL ]]<img src="[[ .Meta.AvatarURL ]]" height="48" width="48" style="border: 1px solid #8c8c8c;"/>[[ end ]] Your page
                </div>
            </h2>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-12">
            <div class="dropdown">
                <button class="btn btn-success" ng-click="uploadForm()" data-cy="uploadbtn">Upload database</button>
                <button class="btn btn-primary" ng-click="genCert()" data-cy="gencertbtn">Generate client certificate</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="pull-left" style="padding-top: 8px;">
                <h3 style="display: inline; vertical-align: middle;">Public standard databases</h3>
            </div>
            <div class="pull-right" style="padding-bottom: 8px;">
                <button type="button" class="btn btn-default" ng-click="toggleCollapsedPub()" data-cy="pubexpand">{{ titleCollapsedPub }}</button>
            </div>
            [[ if .PublicDBs ]]
                <table class="table table-striped table-responsive profileTable" data-cy="pubdbs">
                    <tr ng-repeat="row in pubdb.Databases">
                        <td><h4><a class="blackLink" href="/settings/{{ meta.Owner + '/' + row.Database }}"><i class="fa fa-cog"></i></a> &nbsp;<a class="blackLink" href="/{{ meta.Owner + '/' + row.Database }}">{{ row.Database }}</a></h4>
                            {{ row.OneLineDesc }}
                            <div uib-collapse="isCollapsedPub" style="padding-top: 5px;">
                                <span ng-if="row.SourceURL != ''"><b>Source:</b> <a class="blackLink" href="{{ row.SourceURL }}" ng-bind="row.SourceURL"></a><br /></span>
                                <b>Updated:</b> <span title="{{ row.RepoModified | date : 'medium' }}" style="color: grey;">{{ getTimePeriodTxt(row.RepoModified, false) }}</span> &nbsp;
                                <b>Size:</b><span> {{ row.Size / 1024 | number : 0 }} KB &nbsp;</span>
                                <b>Contributors:</b> <a class="blackLink" href="/contributors/{{ meta.Owner }}/{{ row.Database }}">{{ row.Contributors }} &nbsp;</a>
                                <b>Discussions:</b> <a class="blackLink" href="/discuss/{{ meta.Owner + '/' + row.Database }}">{{ row. Discussions }}</a><br />
                                <b>Commit ID:</b><span> {{ row.CommitID | limitTo: 8 }} &nbsp;</span>
                                <b>Licence:</b> <a class="blackLink" href="/settings/{{ meta.Owner + '/' + row.Database }}">{{ row.Licence }}</a> &nbsp;
                                <b>Watchers:</b><span> {{ row.Watchers }} &nbsp;</span>
                                <b>Stars:</b> <a class="blackLink" href="/stars/{{ meta.Owner + '/' + row.Database }}">{{ row.Stars }}</a> &nbsp;
                                <br />
                                <b>Forks:</b> <a class="blackLink" href="/forks/{{ meta.Owner + '/' + row.Database }}">{{ row.Forks }}</a> &nbsp;
                                <b>MRs:</b><span> {{ row.MRs }} &nbsp;</span>
                                <b>Branches:</b> <a class="blackLink" href="/branches/{{ meta.Owner + '/' + row.Database }}">{{ row.Branches }}</a> &nbsp;
                                <b>Releases:</b> <a class="blackLink" href="/releases/{{ meta.Owner + '/' + row.Database }}">{{ row.Releases }}</a> &nbsp;
                                <b>Tags:</b> <a class="blackLink" href="/tags/{{ meta.Owner + '/' + row.Database }}">{{ row.Tags }}</a> &nbsp;
                                <b>Downloads:</b><span> {{ row.Downloads }} &nbsp; </span><b>Views:</b><span> {{ row.Views }} &nbsp;</span>
                            </div>
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-striped table-responsive profileTable" data-cy="pubdbs">
                    <tr>
                        <td>
                            <h4>No public standard databases yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
        <div class="col-md-6">
            <div class="pull-left" style="padding-top: 8px;">
                <h3 style="display: inline; vertical-align: middle;">Private standard databases</h3>
            </div>
            <div class="pull-right" style="padding-bottom: 8px;">
                <button type="button" class="btn btn-default" ng-click="toggleCollapsedPriv()" data-cy="privexpand">{{ titleCollapsedPriv }}</button>
            </div>
            [[ if .PrivateDBs ]]
                <table class="table table-striped table-responsive profileTable" data-cy="privdbs">
                    <tr ng-repeat="row in privdb.Databases">
                        <td><h4><a class="blackLink" href="/settings/{{ meta.Owner + '/' + row.Database }}"><i class="fa fa-cog"></i></a> &nbsp;<a class="blackLink" href="/{{ meta.Owner + '/' + row.Database }}">{{ row.Database }}</a></h4>
                            {{ row.OneLineDesc }}
                            <div uib-collapse="isCollapsedPriv" style="padding-top: 5px;">
                                <span ng-if="row.SourceURL != ''"><b>Source:</b> <a class="blackLink" href="{{ row.SourceURL }}" ng-bind="row.SourceURL"></a><br /></span>
                                <b>Updated:</b> <span title="{{ row.RepoModified | date : 'medium' }}" style="color: grey;">{{ getTimePeriodTxt(row.RepoModified, false) }}</span> &nbsp;
                                <b>Size:</b><span> {{ row.Size / 1024 | number : 0 }} KB &nbsp;</span>
                                <b>Contributors:</b> <a class="blackLink" href="/contributors/{{ meta.Owner }}/{{ row.Database }}">{{ row.Contributors }}</a> &nbsp;
                                <b>Discussions:</b> <a class="blackLink" href="/discuss/{{ meta.Owner + '/' + row.Database }}">{{ row. Discussions }}</a><br />
                                <b>Commit ID:</b><span> {{ row.CommitID | limitTo: 8 }} &nbsp;</span>
                                <b>Licence:</b> <a class="blackLink" href="/settings/{{ meta.Owner + '/' + row.Database }}">{{ row.Licence }}</a> &nbsp;
                                <b>Watchers:</b><span> {{ row.Watchers }} &nbsp;</span>
                                <b>Stars:</b> <a class="blackLink" href="/stars/{{ meta.Owner + '/' + row.Database }}">{{ row.Stars }}</a> &nbsp;
                                <br />
                                <b>Forks:</b> <a class="blackLink" href="/forks/{{ meta.Owner + '/' + row.Database }}">{{ row.Forks }}</a> &nbsp;
                                <b>MRs:</b><span> {{ row.MRs }} &nbsp;</span>
                                <b>Branches:</b> <a class="blackLink" href="/branches/{{ meta.Owner + '/' + row.Database }}">{{ row.Branches }}</a> &nbsp;
                                <b>Releases:</b> <a class="blackLink" href="/releases/{{ meta.Owner + '/' + row.Database }}">{{ row.Releases }}</a> &nbsp;
                                <b>Tags:</b> <a class="blackLink" href="/tags/{{ meta.Owner + '/' + row.Database }}">{{ row.Tags }}</a> &nbsp;
                                <b>Downloads:</b><span> {{ row.Downloads }} &nbsp; <b>Views:</b> {{ row.Views }} &nbsp;</span>
                            </div>
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-striped table-responsive profileTable" data-cy="privdbs">
                    <tr>
                        <td>
                            <h4>No private databases yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
    </div>

    [[ if .LiveDBS ]]
        <div class="row">
            <div class="col-md-6">&nbsp;</div>
            <div class="col-md-6">
                <div class="pull-left" style="padding-bottom: 8px;">
                    <h3 style="display: inline; vertical-align: middle;">Private live databases (<span style="color: blue">in beta testing</span>)</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">&nbsp;</div>
            <div class="col-md-6">
                <table class="table table-striped table-responsive profileTable" data-cy="livedbstbl">
                    <tr ng-repeat="row in livedbs">
                        <td style="border: 1px solid #ddd">
                            <h4><a class="blackLink" href="/{{ row.owner_name + '/' + row.database_name }}" data-cy="livedb-{{ row.owner_name }}-{{ row.database_name }}">{{ row.owner_name }}/{{ row.database_name }}</a></h4>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="confirmDelete(row.database_name)" data-cy="delbtn">Delete database</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    [[ end ]]

    <div class="row">
        <div class="col-md-6">
            <div class="pull-left" style="padding-top: 8px;">
                <h3 style="display: inline; vertical-align: middle;">Databases you've starred</h3>
            </div>
            <div class="pull-right" style="padding-bottom: 8px;">
                <button type="button" class="btn btn-default" ng-click="toggleCollapsedStar()">{{ titleCollapsedStar }}</button>
            </div>
            [[ if .Stars ]]
                <table class="table table-striped table-responsive profileTable" data-cy="stars">
                    <tr ng-repeat="row in stars.Stars">
                        <td>
                            <h4>
                                <a class="blackLink" href="/{{ row.Owner }}">{{ row.Owner }}</a> /
                                <a class="blackLink" href="/{{ row.Owner + '/' + row.DBName }}">{{ row.DBName }}</a>
                            </h4>
                            <div uib-collapse="isCollapsedStar" style="padding-top: 5px;">
                                <b>Starred:</b> <span title="{{ row.DateEntry | date : 'medium' }}" style="color: grey;">{{ getTimePeriodTxt(row.DateEntry, false) }}</span>
                            </div>
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-striped table-responsive profileTable" data-cy="stars">
                    <tr>
                        <td>
                            <h4>No starred databases yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
        <div class="col-md-6">
            <div class="pull-left" style="padding-top: 8px;">
                <h3 style="display: inline; vertical-align: middle;">Databases you're watching</h3>
            </div>
            <div class="pull-right" style="padding-bottom: 8px;">
                <button type="button" class="btn btn-default" ng-click="toggleCollapsedWatch()">{{ titleCollapsedWatch }}</button>
            </div>
            [[ if .Watching ]]
                <table class="table table-striped table-responsive profileTable" data-cy="watches">
                    <tr ng-repeat="row in watching">
                        <td>
                            <h4>
                                <a class="blackLink" href="/{{ row.Owner }}">{{ row.Owner }}</a> /
                                <a class="blackLink" href="/{{ row.Owner + row.Folder + row.DBName }}">{{ row.DBName }}</a>
                            </h4>
                            <div uib-collapse="isCollapsedWatch" style="padding-top: 5px;">
                                <b>Started watching:</b> <span title="{{ row.DateEntry | date : 'medium' }}" style="color: grey;">{{ getTimePeriodTxt(row.DateEntry, false) }}</span>
                            </div>
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-striped table-responsive profileTable" data-cy="watches">
                    <tr>
                        <td>
                            <h4>Not watching any databases yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left" style="padding-top: 8px;">
                <h3 style="display: inline; vertical-align: middle;">Databases shared with you</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pull-left" style="padding-top: 8px;">
                <h3 style="display: inline; vertical-align: middle;">Databases shared with others</h3>
            </div>
            <div class="pull-right" style="padding-bottom: 8px;">
                <button type="button" class="btn btn-default" ng-click="toggleCollapsedSharedWithOthers()">{{ titleCollapsedSharedWithOthers }}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            [[ if .SharedWithYou ]]
                <table class="table table-striped table-responsive profileTable" data-cy="sharedwithyoutbl">
                    <tr ng-repeat="row in sharedWithYou">
                        <td>
                            <h4><a class="blackLink" href="/{{ row.owner_name + '/' + row.database_name }}" data-cy="swudb-{{ row.owner_name }}-{{ row.database_name }}">{{ row.owner_name }}/{{ row.database_name }}</a> : <span data-cy="swuperm-{{ row.owner_name }}-{{ row.database_name }}">{{ permText(row.permission) }}</span></h4>
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-striped table-responsive profileTable" data-cy="sharedwithyoutbl">
                    <tr>
                        <td>
                            <h4 data-cy="swudb-none">No databases shared with you yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
        <div class="col-md-6">
            [[ if .SharedWithOthers ]]
                <table class="table table-striped table-responsive profileTable" data-cy="sharedwithotherstbl">
                    <tr ng-repeat="row in sharedWithOthers">
                        <td><h4><a class="blackLink" href="/settings/{{ meta.Owner + '/' + row.database_name }}"><i class="fa fa-cog"></i></a> &nbsp;<a class="blackLink" href="/{{ meta.Owner }}/{{ row.database_name }}">{{ row.database_name }}</a></h4>
                            <div uib-collapse="isCollapsedSharedWithOthers" style="padding-top: 5px;">

                                <div class="row">
                                    <div class="col-md-4" style="text-decoration: underline;"><b>User</b></div>
                                    <div class="col-md-8" style="text-decoration: underline;"><b>Permission</b></div>
                                </div>
                                <div class="row" ng-repeat="(user, perm) in row.user_permissions">
                                    <div class="col-md-4"><a class="blackLink" href="/{{ user }}">{{ user }}</a></div>
                                    <div class="col-md-8">{{ permText(perm) }}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-striped table-responsive profileTable" data-cy="sharedwithotherstbl">
                    <tr>
                        <td>
                            <h4>No databases shared with others yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('profileView', function($scope) {
        $scope.livedbs = [[ .LiveDBS ]];
        $scope.meta = { Owner: "[[ .Meta.Owner ]]" };
        $scope.pubdb = { Databases: [[ .PublicDBs ]] };
        $scope.privdb = { Databases: [[ .PrivateDBs ]] };
        $scope.sharedWithOthers = [[ .SharedWithOthers ]];
        $scope.sharedWithYou = [[ .SharedWithYou ]];
        $scope.stars = { Stars: [[ .Stars ]] };
        $scope.watching = [[ .Watching ]];

        // Bounce to the database deletion page
        $scope.confirmDelete = function(path) {
          window.location = '/confirmdelete/[[ .Meta.Owner ]]/' + path;
        };

        // Returns a nicely presented "time elapsed" string
        $scope.getTimePeriodTxt = function(date1, includeOn) {
            return getTimePeriod(date1, includeOn)
        };

        // Returns a database permission string as text
        $scope.permText = function(dbperm) {
          if (dbperm === "r") {
            return "Read Only"
          } else if (dbperm === "rw") {
            return "Read Write"
          } else {
            return "Unknown permission"
          }
        }

        // Toggle whether to show starred databases collapsed or not
        $scope.isCollapsedStar = true;
        $scope.titleCollapsedStar = "Expand all";
        $scope.toggleCollapsedStar = function() {
            if ($scope.isCollapsedStar === true) {
                $scope.isCollapsedStar = false;
                $scope.titleCollapsedStar = "Collapse all";
            } else {
                $scope.isCollapsedStar = true;
                $scope.titleCollapsedStar = "Expand all";
            }
        };

        // Toggle whether to show private databases collapsed or not
        $scope.isCollapsedPriv = true;
        $scope.titleCollapsedPriv = "Expand all";
        $scope.toggleCollapsedPriv = function() {
            if ($scope.isCollapsedPriv === true) {
                $scope.isCollapsedPriv = false;
                $scope.titleCollapsedPriv = "Collapse all";
            } else {
                $scope.isCollapsedPriv = true;
                $scope.titleCollapsedPriv = "Expand all";
            }
        };

        // Toggle whether to show public databases collapsed or not
        $scope.isCollapsedPub = true;
        $scope.titleCollapsedPub = "Expand all";
        $scope.toggleCollapsedPub = function() {
            if ($scope.isCollapsedPub === true) {
                $scope.isCollapsedPub = false;
                $scope.titleCollapsedPub = "Collapse all";
            } else {
                $scope.isCollapsedPub = true;
                $scope.titleCollapsedPub = "Expand all";
            }
        };

        // Toggle whether to show watched databases collapsed or not
        $scope.isCollapsedWatch = true;
        $scope.titleCollapsedWatch = "Expand all";
        $scope.toggleCollapsedWatch = function() {
            if ($scope.isCollapsedWatch === true) {
                $scope.isCollapsedWatch = false;
                $scope.titleCollapsedWatch = "Collapse all";
            } else {
                $scope.isCollapsedWatch = true;
                $scope.titleCollapsedWatch = "Expand all";
            }
        };

        // Toggle whether to show databases shared with others collapsed or not
        $scope.isCollapsedSharedWithOthers = true;
        $scope.titleCollapsedSharedWithOthers = "Expand all";
        $scope.toggleCollapsedSharedWithOthers = function() {
            if ($scope.isCollapsedSharedWithOthers === true) {
                $scope.isCollapsedSharedWithOthers = false;
                $scope.titleCollapsedSharedWithOthers = "Collapse all";
            } else {
                $scope.isCollapsedSharedWithOthers = true;
                $scope.titleCollapsedSharedWithOthers = "Expand all";
            }
        };

        $scope.uploadForm = function() {
            window.location = '/upload/'
        };

        $scope.genCert = function() {
            window.location = '/x/gencert'
        };
    });
</script>
</body>
</html>
[[ end ]]
