[[ define "profilePage" ]]
<!doctype html>
<html>
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div id="profile-page"></div>
<script>
    const userData = {
        publicDbs: [[ .PublicDBs ]],
        publicLiveDbs: [[ .PublicLiveDBS ]],
        privateDbs: [[ .PrivateDBs ]],
        privateLiveDbs: [[ .PrivateLiveDBS ]],
        sharedWithYouDbs: [[ .SharedWithYou ]],
        sharedWithOthersDbs: [[ .SharedWithOthers ]],
        starredDbs: [[ .Stars ]],
        watchedDbs: [[ .Watching ]],
    };
</script>
[[ template "footer" . ]]
</body>
</html>
[[ end ]]
