[[ define "releasesPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="releasesView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center;">
                Releases for
                <a class="blackLink" href="/[[ .Meta.Owner ]]">[[ .Meta.Owner ]]</a> /
                <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]">[[ .Meta.Database ]]</a>
            </h2>
        </div>
    </div>
    <div class="row" ng-if="statusMessage != ''">
        <div class="col-md-12">
            <div style="text-align: center; padding-bottom: 8px;">
                <h4 style="color: {{ statusMessageColour }};">&nbsp;{{ statusMessage }}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="contents" ng-if="numRels > 0" class="table table-striped table-responsive" style="border-collapse: separate;">
                <thead>
                    <tr style="border: none;">
                        <td style="background-color: #FFFFFF;">&nbsp;</td>
                        [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                            <th style="border-radius: 7px 0 0 0;">Actions</th>
                            <th>Name</th>
                        [[ else ]]
                            <th>Name</th>
                        [[ end ]]
                        <th>Release creator</th>
                        <th>Creation date</th>
                        <th style="border-radius: 0 7px 0 0;">Commit ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="(key, row) in Releases">
                        <td style="background-color: #FFFFFF; border: none;">
                            <div style="text-align: center;"><button class="btn btn-success" ng-click="downloadDB(row.commit)">Download</button></div>
                        </td>
                        [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                            <td style="border: none; border-left: 1px solid #DDD; padding: 10px;">
                                <button class="btn btn-primary" ng-click="updateRelease(key)">Update</button>
                            </td>
                            <td style="border: none;">
                                <input name="{{ key }}_name" id="{{ key }}_name" size="20" maxlength="20" value="{{ key }}">
                            </td>
                        [[ else ]]
                            <td style="border: none; border-left: 1px solid #DDD;">
                                <div style="padding-top: 8px;">
                                    <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?release={{ key }}">{{ key }}</a>
                                </div>
                            </td>
                        [[ end ]]
                        <td style="border: none;">
                            <div style="padding-top: 8px;"><a href="/{{ row.releaser_user_name }}">{{ row.releaser_display_name }}</a></div>
                        </td>
                        <td style="border: none;">
                            <div style="padding-top: 8px;" title="{{ row.date | date : 'medium' }}">{{ getTimePeriodTxt(row.date, false) }}</div>
                        </td>
                        <td style="border: none; border-right: 1px solid #DDD;">
                            <div style="padding-top: 8px;">
                                <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit={{ row.commit }}">{{ row.commit }}</a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td style="background-color: #FFFFFF; border: none">
                            <div style="text-align: center;">{{ row.size / 1024 | number : 0 }} KB</div>
                        </td>
                        [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                            <td style="border: 1px solid #DDD; border-top: none; border-right: none;">
                                <button class="btn btn-primary" ng-click="deleteRelease(key)">Delete</button>
                            </td>
                            <td style="border: 1px solid #DDD; border-left: none; border-top: none; padding: 0;" colspan="4">
                        [[ else ]]
                            <td style="border: 1px solid #DDD; border-top: none; padding: 0;" colspan="4">
                        [[ end ]]
                            [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                            <uib-tabset>
                                <uib-tab index="0" heading="Description" select="getMarkdown(key)">
                                    <div style="border-left: 1px solid #DDD; padding: 8px 8px; text-align: left; min-height: 40px;" id="{{ key }}_mkdn"><span ng-bind-html="row.description_markdown"></span></div>
                                </uib-tab>
                                <uib-tab index="1" heading="Edit">
                                    <textarea id="{{ key }}_desc" name="{{ key }}_desc" rows="10" style="margin-top: 2px; width: 100%" placeholder="A description for this release">{{ row.description }}</textarea>
                                </uib-tab>
                            </uib-tabset>
                            [[ else ]]
                                <div style="padding: 8px;">
                                    <span ng-bind-html="row.description_markdown"></span>
                                </div>
                            [[ end ]]
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="numRels == 0" style="text-align: center; padding-bottom: 10px;"><h3>This database doesn't have any releases yet</h3></div>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('releasesView', function($scope, $http, $httpParamSerializerJQLike) {
        $scope.Releases = [[ .ReleaseList ]];

        // We use the # of releases to decide whether or not we'll display a "No releases defined yet!" message
        // TODO: Figure out why using $scope.Tags.Releases gives "undefined" here, but works perfectly fine for the
        // TODO  commits page.  We're forced to do dodgy crap like pass a counter from the backend until that's solved. ;)
        $scope.numRels = [[ .NumRels ]];

        // Delete the release
        $scope.statusMessage = "";
        $scope.statusMessageColour = "Red";
        $scope.deleteRelease = function(relName) {
            $http({
                method: "POST",
                url: "/x/deleterelease/",
                data: $httpParamSerializerJQLike({
                        "release": encodeURIComponent(relName),
                        "folder": "/",
                        "dbname": [[ .Meta.Database ]],
                        "username": [[ .Meta.Owner ]]
                    }),
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // If successful, reload the page
                var status = response.status;
                if (status == 200) {
                    window.location = '/releases/[[ .Meta.Owner ]]/[[ .Meta.Database ]]';
                }
            });
        };

        // Download a release
        $scope.downloadDB = function(commit) {
            window.location = "/x/download/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=" + commit;
        };

        // Retrieve and render markdown text
        $scope.getMarkdown = function(rowDesc) {
            var txtID = document.getElementById(rowDesc + "_desc");
            if (txtID == null) {
                // txtID is null when the page first renders (and we don't need it then anyway).  It's correctly set
                // afterwards.
                return;
            }
            var rawTxt = txtID.value;
            var mkdnID = document.getElementById(rowDesc + "_mkdn");

            // Call the server, asking for a rendered version of the markdown
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": encodeURIComponent(rawTxt)}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) {
                if (response.data === "") {
                    mkdnID.innerHTML = "No description";
                } else {
                    mkdnID.innerHTML = response.data;
                }
            });
        };

        // Returns a nicely presented "time elapsed" string
        $scope.getTimePeriodTxt = function(date1, includeOn) {
            return getTimePeriod(date1, includeOn)
        };

        // Send the update details to the server
        $scope.updateRelease = function(relName){
            var descID = document.getElementById(relName + "_desc");
            var nameID = document.getElementById(relName + "_name");
            var newDesc = descID.value;
            var newName = nameID.value;
            $http({
                method: "POST",
                url: "/x/updaterelease/",
                data: $httpParamSerializerJQLike({
                        "release": encodeURIComponent(relName),
                        "folder": "/",
                        "dbname": [[ .Meta.Database ]],
                        "username": [[ .Meta.Owner ]],
                        "newmsg": encodeURIComponent(newDesc),
                        "newrel": encodeURIComponent(newName)
                    }),
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // Upon return, indicate success or failure
                var status = response.status;
                if (status == 200) {
                    $scope.statusMessageColour = "Green";
                    $scope.statusMessage = "Release updated";
                } else {
                    $scope.statusMessageColour = "Red";
                    $scope.statusMessage = "Release update failed";
                }
            }, function failure(response) {
                // The delete failed, so display an error message
                $scope.statusMessageColour = "Red";
                $scope.statusMessage = "Release update failed";
            });
        };

        // Auth0
        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});
        $scope.showLock = function() {
            lock.show();
        };
    });
</script>
</body>
</html>
[[ end ]]