[[ define "releasesPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="releasesView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div>
    <div id="db-header-root"></div>
    <div class="row" ng-if="statusMessage != ''">
        <div class="col-md-12">
            <div style="text-align: center; padding-bottom: 8px;">
                <h4 style="color: {{ statusMessageColour }};">&nbsp;{{ statusMessage }}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="contents" ng-if="numRels > 0" class="table table-striped table-responsive" style="border-collapse: separate;">
                <thead>
                    <tr style="border: none;">
                        <td style="background-color: #FFFFFF;">&nbsp;</td>
                        [[ if eq .DB.Info.Owner .PageMeta.LoggedInUser ]]
                            <th style="border-radius: 7px 0 0 0;">Actions</th>
                            <th>Name</th>
                        [[ else ]]
                            <th>Name</th>
                        [[ end ]]
                        <th>Release creator</th>
                        <th>Creation date</th>
                        <th style="border-radius: 0 7px 0 0;">Commit ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="(key, row) in Releases">
                        <td style="background-color: #FFFFFF; border: none;">
                            <div style="text-align: center;"><a href="/x/download/[[ .DB.Info.Owner ]]/[[ .DB.Info.Database ]]?commit={{ row.commit }}" class="btn btn-success">Download</a></div>
                        </td>
                        [[ if eq .DB.Info.Owner .PageMeta.LoggedInUser ]]
                            <td style="border: none; border-left: 1px solid #DDD; padding: 10px;">
                                <button class="btn btn-primary" ng-click="updateRelease(key)" data-cy="updatebtn">Update</button>
                            </td>
                            <td style="border: none;">
                                <input name="{{ key }}_name" id="{{ key }}_name" size="20" maxlength="20" value="{{ key }}" data-cy="nameinput">
                            </td>
                        [[ else ]]
                            <td style="border: none; border-left: 1px solid #DDD;">
                                <div style="padding-top: 8px;">
                                    <a class="blackLink" href="/[[ .DB.Info.Owner ]]/[[ .DB.Info.Database ]]?release={{ key }}">{{ key }}</a>
                                </div>
                            </td>
                        [[ end ]]
                        <td style="border: none;">
                            <div style="padding-top: 4px;">
                                <img ng-if="row.avatar_url != ''" ng-attr-src="{{ decodeAmp(row.avatar_url) }}" height="28" width="28" style="border: 1px solid #8c8c8c;"/>
                                <a class="blackLink" href="/{{ row.releaser_user_name }}" style="vertical-align: middle;" data-cy="releaserlnk">{{ row.releaser_display_name }}</a></div>
                        </td>
                        <td style="border: none;">
                            <div style="padding-top: 8px;" title="{{ row.date | date : 'medium' }}">{{ getTimePeriodTxt(row.date, false) }}</div>
                        </td>
                        <td style="border: none; border-right: 1px solid #DDD;">
                            <div style="padding-top: 8px;">
                                <a class="blackLink" href="/[[ .DB.Info.Owner ]]/[[ .DB.Info.Database ]]?commit={{ row.commit }}" data-cy="commitlnk">{{ row.commit }}</a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td style="background-color: #FFFFFF; border: none">
                            <div style="text-align: center;">{{ row.size / 1024 | number : 0 }} KB</div>
                        </td>
                        [[ if eq .DB.Info.Owner .PageMeta.LoggedInUser ]]
                            <td style="border: 1px solid #DDD; border-top: none; border-right: none;">
                                <button class="btn btn-primary" ng-click="deleteRelease(key)" data-cy="delbtn">Delete</button>
                            </td>
                            <td style="border: 1px solid #DDD; border-left: none; border-top: none; padding: 0;" colspan="4">
                        [[ else ]]
                            <td style="border: 1px solid #DDD; border-top: none; padding: 0;" colspan="4">
                        [[ end ]]
                            [[ if eq .DB.Info.Owner .PageMeta.LoggedInUser ]]
                            <uib-tabset>
                                <uib-tab index="0" heading="Description" select="getMarkdown(key)" data-cy="renderedtab">
                                    <div class="rendered minHeightSmaller" style="border-left: 1px solid #DDD;"><span ng-bind-html="RelRendered[key]" data-cy="rendereddiv"></span></div>
                                </uib-tab>
                                <uib-tab index="1" heading="Edit" data-cy="edittab">
                                    <textarea rows="10" ng-attr-placeholder="A description for this release" ng-model="RelText[key]" data-cy="desctext"></textarea>
                                </uib-tab>
                            </uib-tabset>
                            [[ else ]]
                                <div class="rendered minHeightSmaller" ng-bind-html="RelRendered[key]"></div>
                            [[ end ]]
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="numRels == 0" style="text-align: center; padding-bottom: 10px;" data-cy="norelstxt"><h3>This database doesn't have any releases yet</h3></div>
        </div>
    </div>
</div>
[[ template "script_db_header" . ]]
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('releasesView', function($scope, $http, $httpParamSerializerJQLike) {
        $scope.Releases = [[ .ReleaseList ]];

        // We use the # of releases to decide whether or not we'll display a "No releases defined yet!" message
        $scope.numRels = 0;

        // Set the initial release description edit/preview values, and increment the release counter
        $scope.RelText = [];
        $scope.RelRendered = [];
        if ($scope.Releases !== null) {
            Object.keys($scope.Releases).forEach(function(rel) {
                $scope.RelText[rel] = $scope.Releases[rel].description;
                $scope.RelRendered[rel] = $scope.Releases[rel].description_markdown;
                $scope.numRels = $scope.numRels + 1;
            });
        }

        // Change \u0026 to &
        $scope.decodeAmp = function(str) {
            return decodeURIComponent(str);
        };

        // Delete the release
        $scope.statusMessage = "";
        $scope.statusMessageColour = "Red";
        $scope.deleteRelease = function(relName) {
            $http({
                method: "POST",
                url: "/x/deleterelease/",
                data: $httpParamSerializerJQLike({
                        "release": encodeURIComponent(relName),
                        "folder": "/",
                        "dbname": [[ .DB.Info.Database ]],
                        "username": [[ .DB.Info.Owner ]]
                    }),
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // If successful, reload the page
                let status = response.status;
                if (status === 200) {
                    window.location = '/releases/[[ .DB.Info.Owner ]]/[[ .DB.Info.Database ]]';
                }
            });
        };

        // Retrieve and render markdown text
        $scope.getMarkdown = function(relName) {
            // Call the server, asking for a rendered version of the markdown
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": encodeURIComponent($scope.RelText[relName])}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) {
                if (response.data === "") {
                    $scope.RelRendered[relName] = "No description";
                } else {
                    $scope.RelRendered[relName] = response.data;
                }
            });
        };

        // Returns a nicely presented "time elapsed" string
        $scope.getTimePeriodTxt = function(date1, includeOn) {
            return getTimePeriod(date1, includeOn)
        };

        // Send the update details to the server
        $scope.updateRelease = function(relName){
            let nameID = document.getElementById(relName + "_name");
            let newName = nameID.value;
            $http({
                method: "POST",
                url: "/x/updaterelease/",
                data: $httpParamSerializerJQLike({
                        "release": encodeURIComponent(relName),
                        "folder": "/",
                        "dbname": [[ .DB.Info.Database ]],
                        "username": [[ .DB.Info.Owner ]],
                        "newmsg": encodeURIComponent($scope.RelText[relName]),
                        "newrel": encodeURIComponent(newName)
                    }),
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // Upon return, indicate success or failure
                let status = response.status;
                if (status === 200) {
                    $scope.statusMessageColour = "Green";
                    $scope.statusMessage = "Release updated";
                } else {
                    $scope.statusMessageColour = "Red";
                    $scope.statusMessage = "Release update failed";
                }
            }, function failure(response) {
                // The delete failed, so display an error message
                $scope.statusMessageColour = "Red";
                $scope.statusMessage = "Release update failed";
            });
        };
    });
</script>
</body>
</html>
[[ end ]]
