[[ define "rootPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="rootView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <h2 id="viewuser" style="margin-top: 10px;">
                <div class="pull-left">Users with public databases</div>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-responsive">
                <tr ng-repeat="user in users.List">
                    <td><h4><a href="/{{ user.Username }}">{{ user.Username }}</a></h4>
                        <b>Last modified:</b> {{ user.LastModified | date : 'd MMMM, y h:mm a' : 'UTC' }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('rootView', function($scope) {
        $scope.users = { List: [[ .List ]] }

        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});

        $scope.showLock = function() {
            lock.show();
        };
    });
</script>
</body>
</html>
[[ end ]]