[[ define "script_db_header" ]]

<script>
    const meta = {
        pageSection: "[[ .PageMeta.PageSection ]]",
        owner: "[[ .DB.Info.Owner ]]",
        database: "[[ .DB.Info.Database ]]",
        isLive: [[ .DB.Info.IsLive ]],

        publicDb: [[ .DB.Info.Public ]],
        repoModified: [[ .DB.Info.RepoModified ]],
        licence: "[[ .DB.Info.Licence ]]",
        licenceURL: "[[ .DB.Info.LicenceURL ]]",
        size: [[ .DB.Info.DBEntry.Size ]],

        forkOwner: "[[ .DB.Info.ForkOwner ]]",
        forkDatabase: "[[ .DB.Info.ForkDatabase ]]",
        forkDeleted: [[ .DB.Info.ForkDeleted ]],
        numForks: [[ .DB.Info.Forks ]],
        
        commitID: "[[ .DB.Info.CommitID ]]",

        isWatching: [[ .MyWatch ]],
        numWatchers: [[ .DB.Info.Watchers ]],
        isStarred: [[ .MyStar ]],
        numStars: [[ .DB.Info.Stars ]],

        numDiscussions: [[ .DB.Info.Discussions ]],
        numMRs: [[ .DB.Info.MRs ]]
    };
</script>

[[ end ]]
