[[ define "script_db_header" ]]

<script>
    const meta = {
        pageSection: "[[ .PageMeta.PageSection ]]",
        owner: "[[ .DB.Info.Owner ]]",
        database: "[[ .DB.Info.Database ]]",
        isLive: [[ .DB.Info.IsLive ]],

        publicDb: [[ .DB.Info.Public ]],
        repoModified: [[ .DB.Info.RepoModified ]],
        licence: "[[ .DB.Info.Licence ]]",
        licenceURL: "[[ .DB.Info.LicenceURL ]]",
        size: [[ .DB.Info.DBEntry.Size ]],
        oneLineDescription: "[[ .DB.Info.OneLineDesc ]]",
        sourceUrl: "[[ .DB.Info.SourceURL ]]",
        fullDescription: "[[ .DB.Info.FullDesc ]]",

        forkOwner: "[[ .DB.Info.ForkOwner ]]",
        forkDatabase: "[[ .DB.Info.ForkDatabase ]]",
        forkDeleted: [[ .DB.Info.ForkDeleted ]],
        numForks: [[ .DB.Info.Forks ]],

        branch: "[[ .DB.Info.Branch ]]",
        branchList: [[ .DB.Info.BranchList ]],
        defaultBranch: "[[ .DB.Info.DefaultBranch ]]",
        tableList: [[ .DB.Info.Tables ]],
        defaultTable: "[[ .DB.Info.DefaultTable ]]",
        commitID: "[[ .DB.Info.CommitID ]]",
        maxRows: [[ .DB.MaxRows ]],

        isWatching: [[ .DB.Info.MyWatch ]],
        numWatchers: [[ .DB.Info.Watchers ]],
        isStarred: [[ .DB.Info.MyStar ]],
        numStars: [[ .DB.Info.Stars ]],

        numBranches: [[ .DB.Info.Branches ]],
        numCommits: [[ .DB.Info.Commits ]],
        numContributors: [[ .DB.Info.Contributors ]],
        numDiscussions: [[ .DB.Info.Discussions ]],
        numMRs: [[ .DB.Info.MRs ]],
        numReleases: [[ .DB.Info.Releases ]],
        numTags: [[ .DB.Info.Tags ]],
    };
</script>

[[ end ]]
