[[ define "tagsPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="tagsView">
[[ template "head" . ]]
<body>
<style>
    .blackLink {
        color: black;
    }
</style>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center;">
                Tags for
                <a class="blackLink" href="/[[ .Meta.Owner ]]">[[ .Meta.Owner ]]</a> /
                <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]">[[ .Meta.Database ]]</a>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table ng-if="numTags > 0" class="table table-bordered table-striped table-responsive">
                <tr>
                    [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                        <th>Actions</th>
                    [[ end ]]
                    <th>Name</th><th>Tag creator</th><th>Creation date</th><th>Commit ID</th>
                </tr>
                <tr ng-repeat-start="(key, row) in Tags">
                    [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                        <td style="border-style: none;">
                            <button class="btn btn-primary" ng-click="updateTag(key)">Update</button>
                        </td>
                        <td style="border-style: none;">
                            <input type="text" name="{{ key }}_name" id="{{ key }}_name" size="20" maxlength="20" value="{{ key }}">
                        </td>
                    [[ else ]]
                        <td style="border-style: none;">
                            <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?tag={{ key }}">{{ key }}</a>
                        </td>
                    [[ end ]]
                    <td style="border-style: none;">
                        <div style="padding-top: 8px;"><a href="/{{ row.tagger_user_name }}">{{ row.tagger_display_name }}</a></div>
                    </td>
                    <td style="border-style: none;">
                        <div style="padding-top: 8px;" ng-bind="row.date | date : 'd MMMM, y h:mm a' : 'UTC' "></div>
                    </td>
                    <td style="border-style: none;">
                        <div style="padding-top: 8px;">
                            <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit={{ row.commit }}">{{ row.commit }}</a>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat-end style="border-bottom: 1px solid #ddd;">
                    [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                        <td style="border-style: none;">
                            <button class="btn btn-primary" ng-click="deleteTag(key)">Delete</button>
                        </td>
                    [[ end ]]
                    <td style="border-style: none;">
                        &nbsp;
                    </td>
                    <td style="border-style: none;" colspan="3">
                        [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                            <uib-tabset>
                                <uib-tab index="0" heading="Edit">
                                    <textarea id="{{ key }}_desc" name="{{ key }}_desc" cols="80" rows="10" style="margin-top: 2px;" placeholder="A description for this tag">{{ row.message }}</textarea>
                                </uib-tab>
                                <uib-tab index="1" heading="Preview" select="getMarkdown(key)">
                                    <div style="text-align: left; margin-top: 2px;" id="{{ key }}_mkdn"></div>
                                </uib-tab>
                            </uib-tabset>
                            <span name="{{ key }}_msg" id="{{ key }}_msg"></span>
                        [[ else ]]
                            <span ng-bind-html="row.message_markdown"></span>
                        [[ end ]]
                    </td>
                </tr>
            </table>
            <div ng-if="numTags == 0" style="text-align: center; padding-bottom: 10px;"><i>This database doesn't have any tags yet</i></div>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('tagsView', function($scope, $http, $httpParamSerializerJQLike) {
        $scope.Tags = [[ .TagList ]];

        // We use the # of tags to decide whether or not we'll display a "No tags defined yet!" message
        // TODO: Figure out why using $scope.Tags.length gives "undefined" here, but works perfectly fine for the
        // TODO  commits page.  We're forced to do dodgy crap like pass a counter from the backend until that's solved. ;)
        $scope.numTags = [[ .NumTags ]];

        // Delete the tag
        $scope.deleteTag = function(tagName) {
            $http({
                method: "POST",
                url: "/x/deletetag/",
                data: $httpParamSerializerJQLike({
                        "tag": tagName,
                        "folder": "/",
                        "dbname": [[ .Meta.Database ]],
                        "username": [[ .Meta.Owner ]]
                    }),
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // If successful, reload the page
                var status = response.status;
                if (status == 200) {
                    window.location = '/tags/[[ .Meta.Owner ]]/[[ .Meta.Database ]]';
                }
            });
        };

        $scope.getMarkdown = function(rowDesc) {
            // Retrieve latest markdown text from the text area
            var rawTxt = document.getElementById(rowDesc + "_desc").value;
            var mkdnID = document.getElementById(rowDesc + "_mkdn");

            // Call the server, asking for a rendered version of the markdown
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": rawTxt}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) {
                mkdnID.innerHTML = response.data;
            });
        };

        // Send the update details to the server
        $scope.updateTag = function(tagName){
            var descID = document.getElementById(tagName + "_desc");
            var msgID = document.getElementById(tagName + "_msg");
            var nameID = document.getElementById(tagName + "_name");
            var newDesc = descID.value;
            var newName = nameID.value;
            $http({
                method: "POST",
                url: "/x/updatetag/",
                data: $httpParamSerializerJQLike({
                        "tag": tagName,
                        "folder": "/",
                        "dbname": [[ .Meta.Database ]],
                        "username": [[ .Meta.Owner ]],
                        "newmsg": newDesc,
                        "newtag": newName
                    }),
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function (response) {
                // Upon return, indicate success or failure
                var status = response.status;
                if (status == 200) {
                    msgID.textContent = "Updated";
                } else {
                    msgID.textContent = "Failed";
                }
            });
        };

        // Auth0
        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});
        $scope.showLock = function() {
            lock.show();
        };
    });
</script>
</body>
</html>
[[ end ]]