[[ define "uploadPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="uploadView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-10">
            <h2 style="text-align: center;">Upload a database</h2>
            <h4 style="text-align: center;">
                The public/private setting is ignored when uploading new versions to an existing database.<br />
                To change it, visit the "Settings" page for the database after uploading.</h4>
            <form action="/x/uploaddata/" enctype="multipart/form-data" method="POST">
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <th style="vertical-align: middle;" width="25%">Database file</th>
                        <td style="vertical-align: middle;"><input type="file" name="database"></td>
                    </tr>
                    <tr>
                        <th style="vertical-align: middle;">Public?</th>
                        <td>
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="radioPublic" ng-click="publicClick('true')" uib-btn-radio="'true'">Public</label>
                                <label class="btn btn-default" ng-model="radioPublic" ng-click="publicClick('false')" uib-btn-radio="'false'">Private</label>
                            </div>
                            <span ng-bind-html="publicDesc"></span>
                        </td>
                    </tr>
                    <tr>
                        <th style="vertical-align: middle;" width="25%">Licence</th>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <div class="btn-group" uib-dropdown keyboard-nav="true">
                                    <button id="licence" type="button" class="btn">{{ Licence }}</button>

                                    <button type="button" uib-dropdown-toggle class="btn btn-default">
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                        <li ng-repeat="row in Licences" role="menuitem" ng-click="changeLicence(row.name)">
                                            <span>&nbsp; <a class="blackLink" href="">{{ row.name }}</a><span ng-if="row.url != ''"> - <a href="{{ row.url }}">info</a></span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" heading="Advanced" is-open="false">
                        <table class="table table-bordered table-striped table-responsive" width="100%">
                            <tr>
                                <td style="vertical-align: middle;">
                                    <b>Commit Message</b><br /><br />
                                    <i>Markdown (<a href="http://commonmark.org" target="_blank">CommonMark</a> format) is supported</i></td>
                                <td>
                                    <div>
                                        <uib-tabset active="active">
                                            <uib-tab index="0">
                                                <uib-tab-heading><span style="color: #555;">Edit</span></uib-tab-heading>
                                                <textarea id="commitmsg" name="commitmsg" cols="80" rows="18" style="margin-top: 2px;" placeholder="A description for this specific commit"></textarea>
                                            </uib-tab>
                                            <uib-tab index="1" select="getMarkdown()">
                                                <uib-tab-heading><span style="color: #555;">Preview</span></uib-tab-heading>
                                                <div style="text-align: left; margin-top: 2px;" ng-bind-html="markDownPreview"></div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: middle;">Source URL:</th>
                                <td>
                                    <input type="text" name="sourceurl" size="80" maxlength="240">
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: middle;">Branch:</th>
                                <td>
                                    <input type="text" name="branch" size="60" maxlength="60">
                                </td>
                            </tr>
                        </table>
                    </div>
                </uib-accordion>
                <div style="text-align: center;">
                    <input type="hidden" name="public" value="{{ radioPublic }}">
                    <input type="hidden" name="licence" value="{{ Licence }}">
                    <input type="submit" class="btn btn-success" value="Upload">
                </div>
            </form>
            <br />
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('uploadView', function($scope, $http, $httpParamSerializerJQLike) {
        // Sort the licence list into the desired display order
        var rawLicences = [[ .Licences ]];
        var numLicences = [[ .NumLicences ]];
        var numList = [];
        for (var lic in rawLicences) {
            numList.push(rawLicences[lic]["order"]);
        }
        var sortedNums = numList.sort();
        var i = 0;
        $scope.Licences = [];
        while (i < numLicences) {
            for (var lic in rawLicences) {
                if (sortedNums[i] == rawLicences[lic]["order"]) {
                    var l = {name: lic, url: rawLicences[lic]["url"]};
                    $scope.Licences.push(l);
                    i++;
                }
            }
        }

        // Update the chosen licence displayed in the licence dropdown
        $scope.Licence = "Not specified";
        $scope.changeLicence = function (name) {
          $scope.Licence = name;
        };

        // Get rendered markdown from the server, for display in the Commit Message preview tab
        $scope.markDownPreview = "";
        $scope.getMarkdown = function() {
            // Retrieve latest markdown text from the text area
            var txt = document.getElementById("commitmsg").value;

            // Call the server, asking for a rendered version of the markdown
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": encodeURIComponent(txt)}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) { $scope.markDownPreview = response.data; });
        };

        // Set the public radio buttons state when the page first loads
        $scope.publicDesc = "&nbsp; Database will be <b>private</b>. Only you have access to it.";
        $scope.radioPublic = "false";
        $scope.publicClick = function(newValue) {
            if (newValue === "true") {
                $scope.publicDesc = "&nbsp; Database will be <b>public</b>. Everyone has read access to it.";
            } else {
                $scope.publicDesc = "&nbsp; Database will be <b>private</b>. Only you have access to it.";
            }
        };

        // Auth0 pieces
        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});
        $scope.showLock = function() {
            lock.show();
        };
    });
</script>
</body>
</html>
[[ end ]]