[[ define "uploadPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="uploadView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-10">
            <h2 style="text-align: center;">Upload a database</h2>
            <h4 style="text-align: center;">
                The public/private setting is ignored when uploading new versions to an existing database.<br />
                To change it, visit the "Settings" page for the database after uploading.</h4>
            <form action="/x/uploaddata/" enctype="multipart/form-data" method="POST">
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <th style="vertical-align: middle;" width="25%">Database file</th>
                        <td style="vertical-align: middle;"><input type="file" name="database"></td>
                    </tr>
                    <tr>
                        <th style="vertical-align: middle;">Public?</th>
                        <td>
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="radioPublic" ng-click="publicClick('true')" uib-btn-radio="'true'">Public</label>
                                <label class="btn btn-default" ng-model="radioPublic" ng-click="publicClick('false')" uib-btn-radio="'false'">Private</label>
                            </div>
                            <span ng-bind-html="publicDesc"></span>
                        </td>
                    </tr>
                </table>
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" heading="Advanced" is-open="false">
                        <table class="table table-bordered table-striped table-responsive" width="100%">
                            <tr>
                                <td style="vertical-align: middle;">
                                    <b>Commit Message</b><br /><br />
                                    <i>Markdown (<a href="http://commonmark.org">CommonMark</a> format) is supported</i></td>
                                <td>
                                    <div>
                                        <uib-tabset active="active">
                                            <uib-tab index="0" heading="Edit">
                                                <textarea id="commitmsg" name="commitmsg" cols="80" rows="18" style="margin-top: 2px;" placeholder="A description for this specific upload"></textarea>
                                            </uib-tab>
                                            <uib-tab index="1" heading="Preview" select="getMarkdown()">
                                                <div style="text-align: left; margin-top: 2px;" ng-bind-html="markDownPreview"></div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: middle;">Source URL:</th>
                                <td>
                                    <input type="text" name="sourceurl" size="80" maxlength="240">
                                </td>
                            </tr>
                        </table>
                    </div>
                </uib-accordion>
                <div style="text-align: center;">
                    <input type="hidden" name="public" value="{{ radioPublic }}">
                    <input type="submit" class="btn btn-success" value="Upload">
                </div>
            </form>
            <br />
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('uploadView', function($scope, $http, $httpParamSerializerJQLike) {

        // Auth0 pieces
        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});

        $scope.showLock = function() {
            lock.show();
        };

        // Get rendered markdown from the server, for display in the Commit Message preview tab
        $scope.markDownPreview = "";
        $scope.getMarkdown = function() {
            // Retrieve latest markdown text from the text area
            var txt = document.getElementById("commitmsg").value;

            // Call the server, asking for a rendered version of the markdown
            $http({
                method: "POST",
                url: "/x/markdownpreview/",
                data: $httpParamSerializerJQLike({"mkdown": txt}),
                headers: { "Content-Type" : "application/x-www-form-urlencoded" }
            }).then(function (response) { $scope.markDownPreview = response.data; });
        };

        // Set the public radio buttons state when the page first loads
        $scope.publicDesc = "&nbsp; Database will be <b>private</b>. Only you have access to it.";
        $scope.radioPublic = "false";

        $scope.publicClick = function(newValue) {
            if (newValue === "true") {
                $scope.publicDesc = "&nbsp; Database will be <b>public</b>. Everyone has read access to it.";
            } else {
                $scope.publicDesc = "&nbsp; Database will be <b>private</b>. Only you have access to it.";
            }
        }


    });
</script>
</body>
</html>
[[ end ]]