[[ define "usagePage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="prefView">
[[ template "head" . ]]
<body>
<script src="/js/plotly-basic-2.18.2.min.js"></script>
[[ template "header" . ]]
<div>
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-6">
            <h2 style="text-align: center;">Usage</h2>

            <h3 style="text-align: center;">Disk space usage over time</h3>
            <div id="visdisk" style="width:100%;"></div>

            <h3 style="text-align: center;">Number of standard databases over time</h3>
            <div id="visnumstd" style="width:100%;"></div>

            <h3 style="text-align: center;">Number of live databases over time</h3>
            <div id="visnumlive" style="width:100%;"></div>

            <!--

                What else would be useful to display here?

                * Probably most/all other stat info we collect

                  * API calls over time
                  * Database uploads/downloads over time
                  * What else?

             -->

        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    // Plotly pieces
    let plotDataDisk = [
        {
            type: "bar",
            orientation: "v"
        }
    ];
    let plotDataNumStd = [
        {
            type: "bar",
            orientation: "v"
        }
    ];
    let plotDataNumLive = [
        {
            type: "bar",
            orientation: "v"
        }
    ];
    let plotLayout = {};
    let plotConfig = {
        displaylogo: false,
        editable: true,
        // responsive: true, // Responsive mode badly screws things up in Firefox.  Better to handle resize events ourselves.
        watermark: false,
    };

    // * AngularJS pieces start here *

    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('prefView', function($scope, $http, $httpParamSerializerJQLike) {

        // TODO: We can probably have the backend Go code pre-populate the data here rather than needing to fetch it
        //       after page load

        // Draw the charts
        Plotly.react("visdisk", plotDataDisk, plotLayout, plotConfig);
        Plotly.react("visnumstd", plotDataNumStd, plotLayout, plotConfig);
        Plotly.react("visnumlive", plotDataNumLive, plotLayout, plotConfig);

    });
</script>
</body>
</html>
[[ end ]]
