[[ define "usagePage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="prefView">
[[ template "head" . ]]
<body>
<script src="/js/plotly-basic-2.18.2.min.js"></script>
[[ template "header" . ]]
<div>
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-10">
            <h2 style="text-align: center;">Your usage</h2>

            <!--<div class="btn-group">-->
            <!--    <label class="btn btn-default" ng-model="showCharts" ng-click="chartClick('true')" uib-btn-radio="'true'" data-cy="textbtn">Charts</label>-->
            <!--    <label class="btn btn-default" ng-model="showCharts" ng-click="chartClick('false')" uib-btn-radio="'false'" data-cy="chartbtn">Text</label>-->
            <!--</div>-->

            <div>
                <div id="visdiskhist" style="width:100%;"></div>
                <div id="visdiskrec" style="width:100%;"></div>

                <div id="visuploadshist" style="width:100%;"></div>
                <div id="visuploadsrec" style="width:100%;"></div>

                <div id="visdownloadshist" style="width:100%;"></div>
                <div id="visdownloadsrec" style="width:100%;"></div>

                <div id="visapiopshist" style="width:100%;"></div>
                <div id="visapiopsrec" style="width:100%;"></div>
            </div>


            <h3 style="text-align: center;">Number of standard databases over time</h3>
            <div id="visnumstd" style="width:100%;"></div>

            <h3 style="text-align: center;">Number of live databases over time</h3>
            <div id="visnumlive" style="width:100%;"></div>

            <!--
                What else would be useful to display here?

                * Probably most/all other stat info we collect

                  * Number of databases
                  * API calls
                    * Show each operation type as a separate bar/line

                  * Visualisations
                    * Number of saved visualisations
                    * Number of calls to the visualisations?
             -->

        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    // Historical disk usage
    let plotDataDiskStdHist = {
        x: [[ .DiskDatesHistorical ]],
        y: [[ .DiskStdHistorical ]],
        type: 'bar',
        name: 'Standard databases'
    };
    let plotDataDiskLiveHist = {
        x: [[ .DiskDatesHistorical ]],
        y: [[ .DiskLiveHistorical ]],
        type: 'bar',
        name: 'Live databases'
    };
    let plotDataDiskHist = [plotDataDiskStdHist, plotDataDiskLiveHist];
    let plotLayoutDiskHist = {
        title: 'Historical disk space usage',
        showlegend: true,
        xaxis: {
            title: 'Date',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'Megabytes',
            showline: true
        }
    };

    // Recent disk usage
    let plotDataDiskStdRec = {
        x: [[ .DiskDatesRecent ]],
        y: [[ .DiskStdRecent ]],
        type: 'bar',
        name: 'Standard databases'
    };
    let plotDataDiskLiveRec = {
        x: [[ .DiskDatesRecent ]],
        y: [[ .DiskLiveRecent ]],
        type: 'bar',
        name: 'Live databases'
    };
    let plotDataDiskRec = [plotDataDiskStdRec, plotDataDiskLiveRec];
    let plotLayoutDiskRec = {
        title: 'Recent disk space usage',
        showlegend: true,
        xaxis: {
            title: 'Date',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'Megabytes',
            showline: true
        }
    };

    // Historical upload numbers
    let plotUploadsAPIHist = {
        x: [[ .UploadDatesHistorical ]],
        y: [[ .UploadApiHistorical ]],
        type: 'bar',
        name: 'Uploads through API'
    };
    let plotUploadsDB4SHist = {
        x: [[ .UploadDatesHistorical ]],
        y: [[ .UploadDB4SHistorical ]],
        type: 'bar',
        name: 'Uploads through DB4S'
    };
    let plotUploadsWebuiHist = {
        x: [[ .UploadDatesHistorical ]],
        y: [[ .UploadWebuiHistorical ]],
        type: 'bar',
        name: 'Uploads through Website'
    };
    let plotDataUploadsHist = [plotUploadsAPIHist, plotUploadsDB4SHist, plotUploadsWebuiHist];
    let plotLayoutUploadsHist = {
        title: 'Historical upload numbers',
        showlegend: true,
        xaxis: {
            title: 'Date',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'Uploads',
            showline: true
        }
    };

    // Recent upload numbers
    let plotUploadsAPIRec = {
        x: [[ .UploadDatesRecent ]],
        y: [[ .UploadApiRecent ]],
        type: 'bar',
        name: 'Uploads through API'
    };
    let plotUploadsDB4SRec = {
        x: [[ .UploadDatesRecent ]],
        y: [[ .UploadDB4SRecent ]],
        type: 'bar',
        name: 'Uploads through DB4S'
    };
    let plotUploadsWebuiRec = {
        x: [[ .UploadDatesRecent ]],
        y: [[ .UploadWebuiRecent ]],
        type: 'bar',
        name: 'Uploads through Website'
    };
    let plotDataUploadsRec = [plotUploadsAPIRec, plotUploadsDB4SRec, plotUploadsWebuiRec];
    let plotLayoutUploadsRec = {
        title: 'Recent uploads',
        showlegend: true,
        xaxis: {
            title: 'Date',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'Uploads',
            showline: true
        }
    };

    // Historical download numbers
    let plotDownloadsAPIHist = {
        x: [[ .DownloadDatesHistorical ]],
        y: [[ .DownloadApiHistorical ]],
        type: 'bar',
        name: 'Downloads through API'
    };
    let plotDownloadsDB4SHist = {
        x: [[ .DownloadDatesHistorical ]],
        y: [[ .DownloadDB4SHistorical ]],
        type: 'bar',
        name: 'Downloads through DB4S'
    };
    let plotDownloadsWebuiHist = {
        x: [[ .DownloadDatesHistorical ]],
        y: [[ .DownloadWebuiHistorical ]],
        type: 'bar',
        name: 'Downloads through Website'
    };
    let plotDadaDownloadsHist = [plotDownloadsAPIHist, plotDownloadsDB4SHist, plotDownloadsWebuiHist];
    let plotLayoutDownloadsHist = {
        title: 'Historical download numbers',
        showlegend: true,
        xaxis: {
            title: 'Date',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'Downloads',
            showline: true
        }
    };

    // Recent download numbers
    let plotDownloadsAPIRec = {
        x: [[ .DownloadDatesRecent ]],
        y: [[ .DownloadApiRecent ]],
        type: 'bar',
        name: 'Downloads through API'
    };
    let plotDownloadsDB4SRec = {
        x: [[ .DownloadDatesRecent ]],
        y: [[ .DownloadDB4SRecent ]],
        type: 'bar',
        name: 'Downloads through DB4S'
    };
    let plotDownloadsWebuiRec = {
        x: [[ .DownloadDatesRecent ]],
        y: [[ .DownloadWebuiRecent ]],
        type: 'bar',
        name: 'Downloads through Website'
    };
    let plotDataDownloadsRec = [plotDownloadsAPIRec, plotDownloadsDB4SRec, plotDownloadsWebuiRec];
    let plotLayoutDownloadsRec = {
        title: 'Recent downloads',
        showlegend: true,
        xaxis: {
            title: 'Date',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'Downloads',
            showline: true
        }
    };

    // Historical API operations numbers
    let plotLayoutAPIOpsHist = {
        title: 'Historical API Operations',
        showlegend: true,
        xaxis: {
            title: 'Date',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'API Operations',
            showline: true
        }
    };
    let plotAPIOpsCommitsHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpCommitsHistorical ]],
        type: 'bar',
        name: 'API commits operations'
    };
    let plotAPIOpsDatabasesHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpDatabasesHistorical ]],
        type: 'bar',
        name: 'API databases operations'
    };
    let plotAPIOpsDownloadHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpDownloadHistorical ]],
        type: 'bar',
        name: 'API download operations'
    };
    let plotAPIOpsExecuteHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpExecuteHistorical ]],
        type: 'bar',
        name: 'API execute operations'
    };
    let plotAPIOpsIndexesHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpIndexesHistorical ]],
        type: 'bar',
        name: 'API indexes operations'
    };
    let plotAPIOpsLiveDatabasesHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpLiveDatabasesHistorical ]],
        type: 'bar',
        name: 'API LIVE databases operations'
    };
    let plotAPIOpsMetadataHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpMetadataHistorical ]],
        type: 'bar',
        name: 'API metadata operations'
    };
    let plotAPIOpsQueryHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpQueryHistorical ]],
        type: 'bar',
        name: 'API query operations'
    };
    let plotAPIOpsTablesHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpTablesHistorical ]],
        type: 'bar',
        name: 'API tables operations'
    };
    let plotAPIOpsTagsHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpTagsHistorical ]],
        type: 'bar',
        name: 'API tags operations'
    };
    let plotAPIOpsUploadHist = {
        x: [[ .OpDatesHistorical ]],
        y: [[ .OpUploadHistorical ]],
        type: 'bar',
        name: 'API upload operations'
    };
    let plotDataAPIOpsHist = [plotAPIOpsCommitsHist, plotAPIOpsDatabasesHist, plotAPIOpsDownloadHist, plotAPIOpsExecuteHist,
                          plotAPIOpsIndexesHist, plotAPIOpsLiveDatabasesHist, plotAPIOpsMetadataHist, plotAPIOpsQueryHist,
                          plotAPIOpsTablesHist, plotAPIOpsTagsHist, plotAPIOpsUploadHist];

    // Recent API operations numbers
    let plotLayoutAPIOpsRec = {
        title: 'Recent API Operations',
        showlegend: true,
        xaxis: {
            title: 'Date',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'API Operations',
            showline: true
        }
    };
    let plotAPIOpsCommitsRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpCommitsRecent ]],
        type: 'bar',
        name: 'API commits operations'
    };
    let plotAPIOpsDatabasesRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpDatabasesRecent ]],
        type: 'bar',
        name: 'API databases operations'
    };
    let plotAPIOpsDownloadRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpDownloadRecent ]],
        type: 'bar',
        name: 'API download operations'
    };
    let plotAPIOpsExecuteRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpExecuteRecent ]],
        type: 'bar',
        name: 'API execute operations'
    };
    let plotAPIOpsIndexesRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpIndexesRecent ]],
        type: 'bar',
        name: 'API indexes operations'
    };
    let plotAPIOpsLiveDatabasesRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpLiveDatabasesRecent ]],
        type: 'bar',
        name: 'API LIVE databases operations'
    };
    let plotAPIOpsMetadataRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpMetadataRecent ]],
        type: 'bar',
        name: 'API metadata operations'
    };
    let plotAPIOpsQueryRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpQueryRecent ]],
        type: 'bar',
        name: 'API query operations'
    };
    let plotAPIOpsTablesRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpTablesRecent ]],
        type: 'bar',
        name: 'API tables operations'
    };
    let plotAPIOpsTagsRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpTagsRecent ]],
        type: 'bar',
        name: 'API tags operations'
    };
    let plotAPIOpsUploadRec = {
        x: [[ .OpDatesRecent ]],
        y: [[ .OpUploadRecent ]],
        type: 'bar',
        name: 'API upload operations'
    };
    let plotDataAPIOpsRec = [plotAPIOpsCommitsRec, plotAPIOpsDatabasesRec, plotAPIOpsDownloadRec, plotAPIOpsExecuteRec,
                          plotAPIOpsIndexesRec, plotAPIOpsLiveDatabasesRec, plotAPIOpsMetadataRec, plotAPIOpsQueryRec,
                          plotAPIOpsTablesRec, plotAPIOpsTagsRec, plotAPIOpsUploadRec];

    // Historical number of databases
    let plotNumDBsStdHist = {
        x: [[ .DiskDatesHistorical ]],
        y: [[ .DiskStdHistorical ]],
        type: 'bar',
        name: 'Standard databases'
    };
    let plotNumDBsLiveHist = {
        x: [[ .DiskDatesHistorical ]],
        y: [[ .DiskLiveHistorical ]],
        type: 'bar',
        name: 'Live databases'
    };
    let plotDataNumDBsHist = [plotNumDBsStdHist, plotNumDBsLiveHist];
    let plotLayoutNumDBsHist = {
        title: 'Historical number of databases',
        showlegend: true,
        xaxis: {
            title: 'Date',
            showgrid: false,
            zeroline: false
        },
        yaxis: {
            title: 'Quantity',
            showline: true
        }
    };

    let plotConfig = {
        displaylogo: false,
        editable: true,
        responsive: false, // Responsive mode badly screws things up in Firefox.  Better to handle resize events ourselves.
        watermark: false,
    };

    // * AngularJS *
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('prefView', function($scope, $http, $httpParamSerializerJQLike) {

        // Display usage as charts or text?
        $scope.showCharts = "true";
        $scope.chartClick = function(newValue) {
            console.log("New incoming value = " + newValue);
            if (newValue === "true") {
                $scope.showCharts = "true";
            } else {
                $scope.showCharts = "false";
            }
            console.log("showCharts = " + $scope.showCharts);
        };
        $scope.chartClick($scope.showCharts);

        // Draw the charts
        if ($scope.showCharts === "true") {
            Plotly.newPlot('visnumdbshist', plotDataNumDBsHist, plotLayoutNumDBsHist);
            Plotly.newPlot('visdiskhist', plotDataDiskHist, plotLayoutDiskHist);
            Plotly.newPlot('visdiskrec', plotDataDiskRec, plotLayoutDiskRec);
            Plotly.newPlot('visuploadshist', plotDataUploadsHist, plotLayoutUploadsHist);
            Plotly.newPlot('visuploadsrec', plotDataUploadsRec, plotLayoutUploadsRec);
            Plotly.newPlot('visdownloadshist', plotDadaDownloadsHist, plotLayoutDownloadsHist);
            Plotly.newPlot('visdownloadsrec', plotDataDownloadsRec, plotLayoutDownloadsRec);
            Plotly.newPlot('visapiopshist', plotDataAPIOpsHist, plotLayoutAPIOpsHist);
            Plotly.newPlot('visapiopsrec', plotDataAPIOpsRec, plotLayoutAPIOpsRec);
        }
    });
</script>
</body>
</html>
[[ end ]]
