[[ define "visualisePage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="visualiseView">
[[ template "head" . ]]
<body>
<script src="/js/plotly-basic-1.53.0.min.js"></script>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    [[ template "headerdatabase" . ]]
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-10">
            <span class="pull-left">
                <div class="dropdown">
                    <div class="btn-group" uib-dropdown keyboard-nav="true">
                        <button id="viewbranch" type="button" class="btn">{{ 'Branch: ' + meta.Branch }}</button>

                        <button type="button" uib-dropdown-toggle class="btn btn-default">
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                            <li ng-repeat="row in meta.BranchList" role="menuitem" ng-click="changeBranch(row)">
                                <a href="">{{ row }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" uib-dropdown keyboard-nav="true">
                        <button id="visName" type="button" class="btn">Visualisation: {{ visName }}</button>

                        <button type="button" uib-dropdown-toggle class="btn btn-default">
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                            <li ng-repeat="vis in visNames" role="menuitem" ng-click="changeVis(vis)">
                                <a href="">{{ vis }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <uib-tabset>
                <!-- User defined SQL tab -->
                <uib-tab index="0">
                    <uib-tab-heading><span style="color: #555;">SQL</span></uib-tab-heading>
                    <textarea id="usersql" rows="8" ng-attr-placeholder="Your SQL statement here..." data-cy="usersqltext">[[ .SQL ]]</textarea>

                    <button type="button" class="btn btn-default" ng-click="toggleResultTable()">{{ toggleLabel }}</button>
                    <div uib-collapse="isCollapsed">
                        <div style="max-width: 100%; overflow: auto; border: 1px solid #DDD; border-radius: 7px 7px 0 0;">
                            <table class="table table-bordered table-striped table-responsive" style="margin-bottom: 0; padding-bottom: 0;">
                                <thead>
                                <tr>
                                    <th ng-repeat="col in db.ColNames" style="padding: 7px 0 6px 6px;">{{ col }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in db.Records">
                                    <td ng-repeat="val in row" dir="auto"><pre style="background-color: transparent; border: none; padding: 0px; margin: 0px;" ng-bind-html="val.Value | fixSpaces"></pre></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </uib-tab>

                <!-- Chart settings tab -->
                <uib-tab index="1">
                    <uib-tab-heading><span style="color: #555;">Chart settings</span></uib-tab-heading>
                    <table class="table table-striped table-responsive settingsTable">
                        <tr>
                            <th width="35%">Chart type</th>
                            <td>
                                <div class="btn-group" uib-dropdown keyboard-nav="true">
                                    <button id="orderby" type="button" class="btn">{{ ChartType }}</button>

                                    <button type="button" uib-dropdown-toggle class="btn btn-default">
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                        <li role="menuitem">
                                            <a href="" ng-click="chartChangeType('hbc')">Horizontal bar chart</a>
                                            <a href="" ng-click="chartChangeType('vbc')">Vertical bar chart</a>
                                            <a href="" ng-click="chartChangeType('lc')">Line chart</a>
                                            <a href="" ng-click="chartChangeType('pie')">Pie chart</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="35%">X axis column</th>
                            <td>
                                <div class="btn-group" uib-dropdown keyboard-nav="true">
                                    <button id="orderby" type="button" class="btn">{{ XAxisColumn }}</button>

                                    <button type="button" uib-dropdown-toggle class="btn btn-default">
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                        <li ng-repeat="row in XColumnNames" role="menuitem" ng-click="changeXAxisColumn(row)">
                                            <a href="">{{ row }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="35%">Y axis column</th>
                            <td>
                                <div class="btn-group" uib-dropdown keyboard-nav="true">
                                    <button id="orderby" type="button" class="btn">{{ YAxisColumn }}</button>

                                    <button type="button" uib-dropdown-toggle class="btn btn-default">
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                        <li ng-repeat="row in YColumnNameOptions" role="menuitem" ng-click="changeYAxisColumn(row)">
                                            <a href="">{{ row }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="ChartType !== 'Pie chart'">
                            <th width="35%">Show X Axis</th>
                            <td>
                                <div class="btn-group" ng-click="doChart(false)">
                                    <label class="btn btn-default" ng-model="radioXAxisShowLabels" uib-btn-radio="true" ng-click="toggleXLabel(true)">Yes</label>
                                    <label class="btn btn-default" ng-model="radioXAxisShowLabels" uib-btn-radio="false" ng-click="toggleXLabel(false)">No</label>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="ChartType !== 'Pie chart'">
                            <th width="35%">Show Y Axis</th>
                            <td>
                                <div class="btn-group" ng-click="doChart(false)">
                                    <label class="btn btn-default" ng-model="radioYAxisShowLabels" uib-btn-radio="true" ng-click="toggleYLabel(true)">Yes</label>
                                    <label class="btn btn-default" ng-model="radioYAxisShowLabels" uib-btn-radio="false" ng-click="toggleYLabel(false)">No</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </uib-tab>
<!--                <uib-tab index="2">
                    <uib-tab-heading><span style="color: #555;">Colours</span></uib-tab-heading>
                    <table class="table table-striped table-responsive settingsTable">
                        <tr ng-repeat="row in db.ColNames">
                            <th width="35%">{{ row }}</th>
                            <td><input type="color"></td>
                        </tr>
                    </table>
                </uib-tab>-->
            </uib-tabset>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div style="text-align: center; margin-top: 1%">
        <input type="submit" class="btn" value="Download as CSV" ng-click="downloadResults()">
        <input type="submit" class="btn" value="Format SQL" ng-click="formatSQL()">
        <input type="submit" class="btn btn-success" value="Run SQL" ng-click="execSQL()" data-cy="runsqlbtn">
        <input type="submit" class="btn btn-primary" value="Save as:" ng-click="saveAs()">
        <input type="text" id="savename" value="default">
        <input type="submit" class="btn btn-danger" value="Delete" ng-click="deleteVis()">
    </div>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="row" ng-if="statusMessage != ''">
                <div style="text-align: center; padding-bottom: 8px;">
                    <h4 style="color: {{ statusMessageColour }};">&nbsp;{{ statusMessage }}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div id="fullrow" class="row" style="border: none;">
        &nbsp;
    </div>
    <div ng-show="showVis === true" class="row">
        <div class="col-md-12">
            <div id="vis" style="width:100%;"></div>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    // Pre-filled table row data
    let chartData = {
        XAxisLabel: "",
        YAxisLabel: "",
    }
    let dataReceived = false;

    // Remove any database file extension from the chart title
    let plotTitle = "[[ .Meta.Database ]]";
    if (plotTitle.endsWith(".sqlite")) {
        chartData.Title = plotTitle.replace(/\.sqlite$/, "");
    }
    if (plotTitle.endsWith(".sqlite3")) {
        chartData.Title = plotTitle.replace(/\.sqlite3$/, "");
    }
    if (plotTitle.endsWith(".db")) {
        chartData.Title = plotTitle.replace(/\.db$/, "");
    }
    if (plotTitle.endsWith(".db3")) {
        chartData.Title = plotTitle.replace(/\.db3$/, "");
    }

    // Plotly pieces
    let plotData = [
        {
            type: "bar",
            orientation: "v"
        }
    ];
    let plotLayout = {};
    let plotConfig = {
        displaylogo: false,
        editable: true,
        // responsive: true, // Responsive mode badly screws things up in Firefox.  Better to handle resize events ourselves.
        watermark: false,
    };

    // * AngularJS pieces start here *

    // Simple filter to ensure '&nbsp;' is shown as a non-breaking space
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.filter("fixSpaces", ['$sce', '$sanitize', function($sce, $sanitize) {
        return function(htmlCode) {
            if (htmlCode === "") {
                htmlCode = '&nbsp;';
            }
            return $sanitize(htmlCode);
        }
    }]);

    app.controller('visualiseView', function($scope, $http, $httpParamSerializerJQLike) {
        // Pre-filled database metadata
        $scope.meta = {
            Branch:       "[[ .DB.Info.Branch ]]",
            BranchList:   [[ .DB.Info.BranchList ]],
            Database:     "[[ .Meta.Database ]]",
            Owner:        "[[ .Meta.Owner ]]",
            [[ if .Meta.LoggedInUser ]]
                Loggedin: "true",
            [[ else ]]
                Loggedin: "false",
            [[ end ]]
        }

        // Pre-filled table row data
        $scope.db = [[ .Data ]];

        // Various chart settings
        $scope.radioXAxisShowLabels = true;
        if (![[ .ShowXLabel ]]) {
            $scope.radioXAxisShowLabels = false;
        }
        $scope.radioYAxisShowLabels = true;
        if (![[ .ShowYLabel ]]) {
            $scope.radioYAxisShowLabels = false;
        }

        // Display a Plotly chart
        $scope.doChart = function(updateData) {
            // Figure out the column indexes in $scope.db.Records for the X and Y columns
            let XColIdx = 0;
            let YColIdx = 0;
            for (let i = 0; i < $scope.db.ColNames.length; i++) {
                if ($scope.db.ColNames[i] === $scope.XAxisColumn) {
                    XColIdx = i;
                }
                if ($scope.db.ColNames[i] === $scope.YAxisColumn) {
                    YColIdx = i;
                }
            }

            // Recreate the layout structure, to ensure the plot is fully redrawn.  Without this, the chart info is
            // drawn all mixed up, even with newPlot() :(
            plotLayout = {
                autosize: true,
                title: chartData.Title,
                width: document.getElementById("fullrow").offsetWidth,
                xaxis: {},
                yaxis: {},
            };
            plotLayout.xaxis.visible = $scope.radioXAxisShowLabels;
            plotLayout.yaxis.visible = $scope.radioYAxisShowLabels;

            // Organise chart data to suit the selected chart type
            if (updateData && ($scope.db.Records != null)) {
                let numRecords = $scope.db.Records.length;
                switch (plotData[0].type) {
                    case "bar":
                    case "scatter":
                        plotData[0].x = [];
                        plotData[0].y = [];
                        if (plotData[0].orientation === "v") {
                            for (let i = 0; i < numRecords; i++) {
                                let name = $scope.db.Records[i][XColIdx].Value;
                                let val = $scope.db.Records[i][YColIdx].Value;
                                plotData[0].x.push(name);
                                plotData[0].y.push(val);
                            }
                        } else {
                            for (let i = 0; i < numRecords; i++) {
                                let name = $scope.db.Records[i][XColIdx].Value;
                                let val = $scope.db.Records[i][YColIdx].Value;
                                plotData[0].x.push(val);
                                plotData[0].y.push(name);
                            }
                        }
                        break;
                    case "pie":
                        plotData[0].labels = [];
                        plotData[0].values = [];
                        for (let i = 0; i < numRecords; i++) {
                            let name = $scope.db.Records[i][XColIdx].Value;
                            let val = $scope.db.Records[i][YColIdx].Value;
                            plotData[0].labels.push(name);
                            plotData[0].values.push(val);
                        }
                }
            }

            // Update axis titles
            if (plotData[0].orientation === "v") {
                plotLayout.xaxis.title = { text: chartData.XAxisLabel };
                plotLayout.yaxis.title = { text: chartData.YAxisLabel };
            } else {
                plotLayout.xaxis.title = { text: chartData.YAxisLabel };
                plotLayout.yaxis.title = { text: chartData.XAxisLabel };
            }

            // (Re)draw the chart
            Plotly.react("vis", plotData, plotLayout, plotConfig);
        };

        // Initialise things with safe defaults (these are potentially filled out further down the page)
        $scope.showVis = false;
        $scope.XColumnNames = ["None available yet"];
        $scope.XAxisColumn = "None available yet";
        $scope.YColumnNameOptions = ["None available yet"];
        $scope.YAxisColumn = "None available yet";
        $scope.visName = "default";
        $scope.visNames = [[ .VisNames ]];
        $scope.toggleLabel = "Show result table"
        $scope.isCollapsed = true;

        // Functions for toggling on/off various display elements
        $scope.toggleResultTable = function() {
            $scope.isCollapsed = !$scope.isCollapsed;
            if ($scope.isCollapsed) {
                $scope.toggleLabel = "Show result table"
            } else {
                $scope.toggleLabel = "Hide result table"
            }

            // Clear any existing status message
            $scope.statusMessage = "";
        }
        $scope.toggleXLabel = function(newVal) {
            $scope.radioXAxisShowLabels = newVal;

            // Clear any existing status message
            $scope.statusMessage = "";
        }
        $scope.toggleYLabel = function(newVal) {
            $scope.radioYAxisShowLabels = newVal;

            // Clear any existing status message
            $scope.statusMessage = "";
        }

        // Handle browser resize events
        function resizeEvent() {
            if (dataReceived === true) {
                $scope.doChart(false);
            }
        }
        window.onresize = resizeEvent; // Redraw the bar chart when the window is resized

        // Change to a newly selected visualisation
        $scope.changeVis = function(newVis) {
            // Retrieve the SQL and chart settings for the newly chosen visualisation from the server
            $http.get("/x/visget/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?visname="+newVis).then(
                function success(response) {
                    // Clear any existing status message
                    $scope.statusMessage = "";

                    // Apply the retrieved information
                    document.getElementById("savename").value = newVis;
                    $scope.visName = newVis;
                    document.getElementById("usersql").value = response.data["sql"];
                    let xLabel = response.data["x_axis_label"];
                    let yLabel = response.data["y_axis_label"];
                    let showX = response.data["show_x_label"];
                    let showY = response.data["show_y_label"];
                    let chartType = response.data["chart_type"];

                    // Execute the retrieved SQL
                    let args = "sql=" + window.btoa(response.data["sql"]); // Base64 encode the whole string, so even line breaks are preserved
                    $http.get("/x/execsql/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&"+args).then(
                        function success(response) {
                            // Clear any existing status message
                            $scope.statusMessage = "";

                            // Update table data
                            $scope.db = response.data;

                            // Update the list of available X column names
                            $scope.XColumnNames = $scope.db.ColNames;

                            // Update X axis label
                            $scope.XAxisColumn = xLabel;
                            chartData.XAxisLabel = xLabel;

                            // Update the list of available Y column names
                            $scope.updateYAxisColumnList();

                            // Update Y axis label
                            $scope.YAxisColumn = yLabel;
                            chartData.YAxisLabel = yLabel;

                            // Update remaining chart info
                            $scope.radioXAxisShowLabels = showX;
                            $scope.radioYAxisShowLabels = showY;
                            switch (chartType) {
                                case "hbc":
                                    $scope.ChartType = "Horizontal bar chart";
                                    plotData[0].type = "bar";
                                    plotData[0].orientation = "h";
                                    break;
                                case "vbc":
                                    $scope.ChartType = "Vertical bar chart";
                                    plotData[0].type = "bar";
                                    plotData[0].orientation = "v";
                                    break;
                                case "lc":
                                    $scope.ChartType = "Line chart";
                                    plotData[0].type = "scatter";
                                    plotData[0].orientation = "v";
                                    break;
                                case "pie":
                                    $scope.ChartType = "Pie chart";
                                    plotData[0].type = "pie";
                            }

                            // Try displaying the chart
                            dataReceived = true;
                            if ($scope.db.ColNames.length > 1) {
                                $scope.showVis = true;
                                $scope.doChart(true);
                            }
                        }, function failure(response) {
                            // Retrieving data failed, so display the returned error message and hide the graph
                            $scope.statusMessageColour = "red";
                            $scope.statusMessage = "Retrieving data failed: " + response.data;
                            $scope.showVis = false;

                            // Clear out any existing table data too
                            $scope.db.ColNames = {};
                            $scope.db.Records = {};
                        }
                    )
                }, function failure(response) {
                    // Retrieving visualisation text failed, so display the returned error message
                    $scope.statusMessageColour = "red";
                    $scope.statusMessage = "Retrieving visualisation failed: " + response.data;
                    $scope.showVis = false;
                }
            )
        }

        // Set up chart type
        $scope.ChartType = "[[ .ChartType ]]";
        if ($scope.ChartType === "") { $scope.ChartType = "Vertical bar chart"; } // Set a default type if no saved data passed
        switch ($scope.ChartType) {
            case "Horizontal bar chart":
                plotData[0].type = "bar";
                plotData[0].orientation = "h";
                break;
            case "Vertical bar chart":
                plotData[0].type = "bar";
                plotData[0].orientation = "v";
                break;
            case "Line chart":
                plotData[0].type = "scatter";
                plotData[0].orientation = "v";
                break;
            case "Pie chart":
                plotData[0].type = "pie";
                break;
        }

        // Change the type of chart
        $scope.chartChangeType = function(newType) {
            switch (newType) {
                case "hbc":
                    plotData[0].type = "bar";
                    plotData[0].orientation = "h";
                    $scope.ChartType = "Horizontal bar chart";
                    break;
                case "vbc":
                    plotData[0].type = "bar";
                    plotData[0].orientation = "v";
                    $scope.ChartType = "Vertical bar chart";
                    break;
                case "lc":
                    plotData[0].type = "scatter";
                    plotData[0].orientation = "v";
                    $scope.ChartType = "Line chart";
                    break;
                case "pie":
                    plotData[0].type = "pie";
                    $scope.ChartType = "Pie chart";
            }
            $scope.doChart(true);
        };

        // Deletes a saved visualisation
        $scope.deleteVis = function() {
            // Check if the user is logged in
            if ($scope.meta.Loggedin !== "true") {
                // User needs to be logged in
                lock.show();
                return;
            }

            // Make sure the visualisation is in the front end's "known" list
            let name = document.getElementById("savename").value;
            let arrIdx = $scope.visNames.indexOf(name);
            if (arrIdx > -1) {
                $http.get("/x/visdel/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?visname="+name).then(
                    function success(response) {
                        $scope.statusMessageColour = "green";
                        $scope.statusMessage = "Visualisation '" + name + "' deleted";

                        // Remove the visualisation from the drop down list
                        $scope.visNames.splice(arrIdx, 1);
                    }, function failure(response) {
                        // The deletion failed, so display the returned error message
                        $scope.statusMessageColour = "red";
                        $scope.statusMessage = "Deleting '" + name + "' failed: " + response.data;
                    }
                )
            } else {
                $scope.statusMessageColour = "red";
                $scope.statusMessage = "Unknown visualisation";
            }
        };

        // Downloads the results of the SQL query, as a CSV file
        // TODO: Consider if downloading the results as a SQLite file would be useful, and/or creating a new database
        //       online from the results
        $scope.downloadResults = function() {
            let sqlElement = document.getElementById("usersql");
            let userSQL = sqlElement.value;
            let args = "sql=" + window.btoa(userSQL); // Base64 encode the whole string, so even line breaks are preserved
            $http.get("/x/visdlresults/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&"+args).then(
                function success(response) {
                    // Clear any existing status message
                    $scope.statusMessage = "";

                    // Trigger the Save As dialog.  Adapted from the Stack Overflow answer:
                    //   https://stackoverflow.com/questions/2897619/using-html5-javascript-to-generate-and-save-a-file
                    let z = document.createElement('a');
                    z.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(response.data));
                    z.setAttribute('download', 'results.csv');
                    if (document.createEvent) {
                        let evt = document.createEvent('MouseEvents');
                        evt.initEvent('click', true, true);
                        z.dispatchEvent(evt);
                    }
                    else {
                        z.click();
                    }
                }, function failure(response) {
                    // Retrieving data failed, so display the returned error message and hide the graph
                    $scope.statusMessageColour = "red";
                    $scope.statusMessage = "Retrieving results failed: " + response.data;
                }
            )
        };

        // Retrieve the data for visualisation
        $scope.execSQL = function() {
            // Retrieve the data
            let userSQL = document.getElementById("usersql").value;
            let args = "sql=" + window.btoa(userSQL); // Base64 encode the whole string, so even line breaks are preserved
            $http.get("/x/execsql/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&"+args).then(
                function success(response) {
                    // Clear any existing status message
                    $scope.statusMessage = "";

                    // Update table data
                    $scope.db = response.data;

                    // Update the list of available X column names
                    $scope.XColumnNames = $scope.db.ColNames;

                    // Pick the first X column axis
                    $scope.XAxisColumn = $scope.XColumnNames[0];

                    // Update chart X axis label
                    chartData.XAxisLabel = $scope.XAxisColumn;

                    // Update the list of available Y column names
                    $scope.updateYAxisColumnList();

                    // Try displaying the chart
                    dataReceived = true;
                    if ($scope.db.ColNames.length > 1) {
                        $scope.showVis = true;
                        $scope.doChart(true);
                    }
                }, function failure(response) {
                    // Retrieving data failed, so display the returned error message and hide the graph
                    $scope.statusMessageColour = "red";
                    $scope.statusMessage = "Retrieving data failed: " + response.data;
                    $scope.showVis = false;

                    // Clear out any existing table data too
                    $scope.db.ColNames = {};
                    $scope.db.Records = {};
                }
            )
        };

        // Quick and dirty formatting of the user provided SQL
        // Uses the external sqlformat.org API for now.  If this turns out to be used a lot, we should switch to
        // doing this via our own server.
        $scope.formatSQL = function() {
            let sqlElement = document.getElementById("usersql");
            let userSQL = sqlElement.value;

            // Send the string for formatting
            $http({
                method: "POST",
                url: "https://sqlformat.org/api/v1/format",
                data: $httpParamSerializerJQLike({
                    "sql": userSQL,
                    "reindent": 1,
                    "keyword_case": "upper"
                }),
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
            }).then(function success(response) {
                // Clear any existing status message
                $scope.statusMessage = "";

                // Update the SQL textarea with the newly formatted version
                sqlElement.value = decodeURIComponent(response.data.result);
            }, function failure(response) {
                // The formatting failed, so display the returned error message
                $scope.statusMessageColour = "red";
                $scope.statusMessage = "Formatting failed: " + response.data;
            });
        };

        // Save the visualisation for easy later retrieval
        $scope.statusMessage = "";
        $scope.statusMessageColour = "red";
        $scope.saveAs = function() {
            // Check if the user is logged in
            if ($scope.meta.Loggedin !== "true") {
                // User needs to be logged in
                lock.show();
                return;
            }

            let name = document.getElementById("savename").value;
            let userSQL = document.getElementById("usersql").value;
            let args = "xaxis=" + $scope.XAxisColumn;
            args += "&yaxis=" + $scope.YAxisColumn;
            args += "&visname=" + name;
            args += "&sql=" + window.btoa(userSQL); // Base64 encode the whole string, so even line breaks are preserved
            switch ($scope.ChartType) {
                case "Horizontal bar chart":
                    args += "&charttype=hbc";
                    break;
                case "Vertical bar chart":
                    args += "&charttype=vbc";
                    break;
                case "Line chart":
                    args += "&charttype=lc";
                    break;
                case "Pie chart":
                    args += "&charttype=pie";
                    break;
            }
            if ($scope.ChartType !== "Pie chart") {
                args += "&showxlabel=" + $scope.radioXAxisShowLabels;
                args += "&showylabel=" + $scope.radioYAxisShowLabels;
            }
            $http.get("/x/vissave/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&"+args).then(
                function success(response) {
                    $scope.statusMessageColour = "green";
                    $scope.statusMessage = "Visualisation '" + name + "' saved";

                    // Append the new visualisation to the drop down list, if it's not already present
                    if ($scope.visNames.indexOf(name) === -1) {
                        $scope.visNames.push(name);
                    }
                }, function failure(response) {
                    // The save failed, so display the returned error message
                    $scope.statusMessageColour = "red";
                    $scope.statusMessage = "Saving failed: " + response.data;
                }
            )
        };

        // Change the X Axis Column
        $scope.changeXAxisColumn = function(newcol) {
            $scope.XAxisColumn = newcol;
            chartData.XAxisLabel = newcol;

            // Update the Y Axis Column selection list
            $scope.updateYAxisColumnList();

            // Update the chart labels
            chartData.XAxisLabel = $scope.XAxisColumn;
            chartData.YAxisLabel = $scope.YAxisColumn;

            // If the graph is being shown, update it
            if ($scope.showVis === true) {
                $scope.doChart(true);
            }

            // Clear any existing status message
            $scope.statusMessage = "";
        };

        // Update the Y Axis Column selection list, removing the X Axis Column
        $scope.updateYAxisColumnList = function() {
            $scope.YColumnNameOptions = [];
            let numCols = $scope.db.ColNames.length;
            for (let i = 0; i < numCols; i++) {
                if ($scope.db.ColNames[i] !== $scope.XAxisColumn) {
                    $scope.YColumnNameOptions.push($scope.db.ColNames[i]);
                }
            }

            // Automatically select the first Y axis column
            if ($scope.YColumnNameOptions.length > 0) {
                $scope.YAxisColumn = $scope.YColumnNameOptions[0];
                chartData.YAxisLabel = $scope.YAxisColumn;
            }
        };

        // Change the Y Axis Column
        $scope.changeYAxisColumn = function(newcol) {
            $scope.YAxisColumn = newcol;
            chartData.YAxisLabel = newcol;

            // If the graph is being shown, update it
            $scope.showVis = true;
            $scope.doChart(true);

            // Clear any existing status message
            $scope.statusMessage = "";
        };

        // If saved parameter data was passed through, update the initial values
        if ("[[ .ParamsGiven ]]" === "true") {
            $scope.XAxisColumn = "[[ .XAxisCol ]]";
            chartData.XAxisLabel = $scope.XAxisColumn;
            $scope.XColumnNames = [[ .Data.ColNames ]];
            $scope.updateYAxisColumnList();
            $scope.YAxisColumn = "[[ .YAxisCol ]]";
            chartData.YAxisLabel = $scope.YAxisColumn;
        }

        // If the data points for visualisation were provided, set the flag to indicate this
        if ("[[ .DataGiven ]]" === "true") {
            dataReceived = true;
        }

        // If both the visualisation parameters and data points were provided, set the flag to show the visualisation
        if (("[[ .ParamsGiven ]]" === "true") && ("[[ .DataGiven ]]" === "true")) {
            $scope.showVis = true;
            $scope.doChart(true);
        }

        [[ if eq .Meta.Environment "production" ]]
        // Only invoke the Auth0 pieces in the production environment
        const lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});

        $scope.showLock = function() {
            lock.show();
        };
        [[ end ]]
        [[ template "script_headerdatabase" . ]]
    });
</script>
</body>
</html>
[[ end ]]
