[[ define "visualisePage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="visualiseView">
[[ template "head" . ]]
<body>
<style>
    #barchart {
        opacity:1.0;
        width: 100%;
        height:100%;
    }
</style>
<script src="/wasm/dbhub_vis.js"></script>
<script>
    const { draw_bar_chart } = wasm_bindgen;
    let palette = 1.0;
    let barChartOrderBy = 0;
    let barChartOrderDirection = 0;

    // Handle browser resize events
    function resizeEvent() {
        if (dataReceived === true) {
            draw_bar_chart(palette, barChartData, barChartOrderBy, barChartOrderDirection);
        }
    }
    window.onresize = resizeEvent; // Redraw the bar chart when the window is resized

    // Draw the bar chart
    async function run() {
        await wasm_bindgen('/wasm/dbhub_vis_bg.wasm');
        if (dataReceived === true) {
            draw_bar_chart(palette, barChartData, barChartOrderBy, barChartOrderDirection);
        }
    }
    run();
</script>
[[ template "header" . ]]
<div style="margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <div class="col-md-12">
            <h2 id="viewdb" style="margin-top: 10px;">
                <div class="pull-left">
                    <div>
                        <a class="blackLink" href="/[[ .Meta.Owner ]]">[[ .Meta.Owner ]]</a> /
                        <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]">[[ .Meta.Database ]]</a>
                    </div>
                    [[ if .Meta.ForkOwner ]]
                    <div style="font-size: small">
                        forked from <a href="/[[ .Meta.ForkOwner ]]">[[ .Meta.ForkOwner ]]</a> /
                        [[ if not .Meta.ForkDeleted ]]
                            <a href="/[[ .Meta.ForkOwner ]]/[[ .Meta.ForkDatabase ]]">[[ .Meta.ForkDatabase ]]</a>
                        [[ else ]]
                            deleted database
                        [[ end ]]
                    </div>
                    [[ end ]]
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-bind-html="watchersText" ng-click="toggleWatchers()"></button>
                        <button type="button" class="btn btn-default" ng-bind="meta.Watchers" ng-click="watchersPage()"></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-bind-html="starsText" ng-click="toggleStars()"></button>
                        <button type="button" class="btn btn-default" ng-bind="meta.Stars" ng-click="starsPage()"></button>
                    </div>
                    <div class="btn-group">
                        [[ if ne .Meta.Owner .Meta.LoggedInUser ]]
                            <button type="button" class="btn btn-default" ng-click="forkDB()"><i class="fa fa-sitemap"></i> Fork</button>
                        [[ else ]]
                            <button type="button" class="btn btn-default" ng-disabled="true"><i class="fa fa-sitemap"></i> Fork</button>
                        [[ end ]]
                        <button type="button" class="btn btn-default" ng-bind="meta.Forks" ng-click="forksPage()"></button>
                    </div>
                </div>
            </h2>
        </div>
    </div>
    <div class="row" style="padding-bottom: 5px; padding-top: 10px;">
        <div class="col-md-6">
            <label id="viewdata" style="font-weight: 600; font-family: 'arial black';"><a href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Data"><i class="fa fa-database"></i> Data</a></label> &nbsp; &nbsp; &nbsp;
            <label id="viewvis" style="font-weight: 600; font-family: 'arial black'; border-bottom: 1px grey dashed;"><i class="fa fa-bar-chart"></i> Visualise</label> &nbsp; &nbsp; &nbsp;
            <label id="viewdiscuss" style="font-weight: 600; font-family: 'arial black';"><a href="/discuss/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Discussions"><i class="fa fa-commenting"></i> Discussions:</a> {{ meta.Discussions }}</label> &nbsp; &nbsp; &nbsp;
            <label id="viewmrs" style="font-weight: 600; font-family: 'arial black';"><a href="/merge/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" title="Merge Requests"><i class="fa fa-clone"></i> Merge Requests: </a>{{ meta.MRs }}</label> &nbsp; &nbsp; &nbsp;
            [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
            <label id="settings" style="font-weight: 600; font-family: 'arial black';"><a class="blackLink" href="/settings/[[ .Meta.Owner ]]/[[ .Meta.Database ]]"><i class="fa fa-cog"></i> Settings</a></label>
            [[ end ]]
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                    <b>Visibility:</b> <a class="blackLink" href="/settings/[[ .Meta.Owner ]]/[[ .Meta.Database ]]">{{ meta.Public }}</a> &nbsp;
                [[ else ]]
                    <b>Visibility:</b> {{ meta.Public }} &nbsp;
                [[ end ]]
                <b>Commit:</b> {{ meta.CommitID | limitTo: 8 }} &nbsp;
                [[ if eq .Meta.Owner .Meta.LoggedInUser ]]
                    <b>Licence:</b> <a class="blackLink" href="/settings/[[ .Meta.Owner ]]/[[ .Meta.Database ]]">{{ meta.Licence }}</a> &nbsp;
                [[ else ]]
                    [[ if ne .DB.Info.LicenceURL "" ]]
                        <b>Licence:</b> <a class="blackLink" href="{{ meta.LicenceURL }}">{{ meta.Licence }}</a> &nbsp;
                    [[ else ]]
                        <b>Licence:</b> {{ meta.Licence }} &nbsp;
                    [[ end ]]
                [[ end ]]
                <b>Size:</b> {{ meta.Size / 1024 | number : 0 }} KB
            </div>
        </div>
    </div>
    [[ if or (ne .DB.Info.OneLineDesc "No description") ((ne .DB.Info.SourceURL "")) ]]
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm" style="margin-bottom: 10px; border: 1px solid #DDD; border-radius: 7px;">
                    [[ if (ne .DB.Info.OneLineDesc "No description") ]]
                        <label id="viewdesc" ng-bind="meta.OneLineDesc"></label>
                    [[ end ]]
                    [[ if (ne .DB.Info.SourceURL "") ]]
                        <div>
                            <label>Source:</label> <a href="{{ meta.SourceURL }}" ng-bind="meta.SourceURL"></a>
                        </div>
                    [[ end ]]
                </div>
            </div>
        </div>
    [[ end ]]
    <div class="row">
        <div class="col-md-12">
            <div style="border: 1px solid #DDD; border-radius: 7px; margin-bottom: 10px;">
                <table width="100%" class="table" style="margin-bottom: 0; border: none;">
                    <tr style="border: none;">
                        <td style="border: none; border-right: 1px solid #DDD;">
                            <div style="text-align: center;">
                                <a href="/commits/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?branch={{ meta.Branch }}" class="blackLink" style="font-weight: bold;">Commits: {{ meta.Commits }}</a>
                            </div>
                        </td>
                        <td style="border: none; border-right: 1px solid #DDD;">
                            <div style="text-align: center;">
                                <a href="/branches/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" style="font-weight: bold;">Branches: {{ meta.Branches }}</a>
                            </div>
                        </td>
                        <td style="border: none; border-right: 1px solid #DDD;">
                            <div style="text-align: center;">
                                <a href="/tags/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" style="font-weight: bold;">Tags: {{ meta.Tags }}</a>
                            </div>
                        </td>
                        <td style="border: none; border-right: 1px solid #DDD;">
                            <div style="text-align: center;">
                                <a href="/releases/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" style="font-weight: bold;">Releases: {{ meta.Releases }}</a>
                            </div>
                        </td>
                        <td style="border: none;">
                            <div style="text-align: center;">
                                <a href="/contributors/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="blackLink" style="font-weight: bold;">Contributors: {{ meta.Contributors }}</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-10">
            <span class="pull-left">
                <div class="dropdown">
                    <div class="btn-group" uib-dropdown keyboard-nav="true">
                        <button id="viewtable" type="button" class="btn">Table/view: {{ db.Tablename }}</button>

                        <button type="button" uib-dropdown-toggle class="btn btn-default">
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                            <li ng-repeat="row in meta.Tables" role="menuitem" ng-click="changeTable(row)">
                                <a href="">{{ row }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" uib-dropdown keyboard-nav="true">
                        <button id="viewbranch" type="button" class="btn">{{ 'Branch: ' + meta.Branch }}</button>

                        <button type="button" uib-dropdown-toggle class="btn btn-default">
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                            <li ng-repeat="row in meta.BranchList" role="menuitem" ng-click="changeBranch(row)">
                                <a href="">{{ row }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" uib-dropdown keyboard-nav="true">
                        <button id="orderby" type="button" class="btn">{{ 'Order by: ' + ChartOrderName }}</button>

                        <button type="button" uib-dropdown-toggle class="btn btn-default">
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                            <li ng-repeat="row in ChartOrderBy" role="menuitem" ng-click="chartChangeOrder(row)">
                                <a href="">{{ row }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" uib-dropdown keyboard-nav="true">
                        <button id="orderby" type="button" class="btn">{{ 'Order direction: ' + ChartDirectionName }}</button>

                        <button type="button" uib-dropdown-toggle class="btn btn-default">
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                            <li ng-repeat="row in ChartDirectionBy" role="menuitem" ng-click="chartChangeDirection(row)">
                                <a href="">{{ row }}</a>
                            </li>
                        </ul>
                    </div>
                    [[ if .Meta.LoggedInUser ]]
                        <a href="/compare/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" class="btn btn-primary">New Merge Request</a>
                    [[ end ]]
                </div>
            </span>
        </div>
        <div class="col-md-2">
            <span class="pull-right">
                <!-- <button class="btn btn-primary" ng-click="uploadForm()">Upload database</button> -->
                <div class="btn-group" uib-dropdown keyboard-nav="true">
                    <button type="button" class="btn btn-success" uib-dropdown-toggle>
                        Download database <span class="caret"></span>
                    </button>
                    <ul uib-dropdown class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="/x/download/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]">Entire database ({{ meta.Size / 1024 | number : 0 }} KB)</a></li>
                        [[ if (le .DB.Info.DBEntry.Size 100000000) ]]
                            <!-- Don't display the CSV export options for large databases, as the current node setup doesn't have sufficient ram + swap for it. -->
                            <li><a href="/x/downloadcsv/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&table={{ db.Tablename }}">Selected table as CSV</a></li>
                            <li><a href="/x/downloadredashjson/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&table={{ db.Tablename }}">Selected table as Redash JSON</a></li>
                        [[ end ]]
                    </ul>
                </div>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="text-align: center;">Please choose the X and Y axes to visualise:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-responsive settingsTable">
                        <tr>
                            <th>X Axis column</th>
                            <td>
                                <div class="btn-group" uib-dropdown keyboard-nav="true">
                                    <button id="orderby" type="button" class="btn">{{ XAxisColumn }}</button>

                                    <button type="button" uib-dropdown-toggle class="btn btn-default">
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                        <li ng-repeat="row in columnNames" role="menuitem" ng-click="changeXAxisColumn(row)">
                                            <a href="">{{ row }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Y Axis column</th>
                            <td>
                                <div class="btn-group" uib-dropdown keyboard-nav="true">
                                    <button id="orderby" type="button" class="btn">{{ YAxisColumn }}</button>

                                    <button type="button" uib-dropdown-toggle class="btn btn-default">
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                        <li ng-repeat="row in columnNames" role="menuitem" ng-click="changeYAxisColumn(row)">
                                            <a href="">{{ row }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Should the Y Axis values be an aggregate (sum, avg, etc)?</th>
                            <td>
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-model="shouldAgg" uib-btn-radio="'true'">Yes</label>
                                    <label class="btn btn-default" ng-model="shouldAgg" uib-btn-radio="'false'">No</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>If yes, which type of aggregate?</th>
                            <td>
                                <div class="btn-group" uib-dropdown keyboard-nav="true">
                                    <button id="orderby" type="button" class="btn">{{ AggType }}</button>

                                    <button type="button" uib-dropdown-toggle class="btn btn-default">
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                                        <li ng-repeat="row in aggTypes" role="menuitem" ng-click="changeAggType(row)">
                                            <a href="">{{ row }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="row" ng-if="statusMessage != ''">
                        <div style="text-align: center; padding-bottom: 8px;">
                            <h4 style="color: {{ statusMessageColour }};">&nbsp;{{ statusMessage }}</h4>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <input type="submit" class="btn btn-success" value="Display" ng-click="doVis()">
                        <input type="submit" class="btn btn-primary" value="Save as default" ng-click="saveAs('default')">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div class="row" style="border: none;">
        &nbsp;
    </div>
    <div ng-show="showVis === true" class="row">
        <div class="col-md-12">
            <canvas id="barchart">Your browser doesn't appear to support the canvas tag.</canvas>
        </div>
    </div>
    <div class="row" style="border: none;">
        &nbsp;
    </div>
    <div class="row" style="border: none;">
        <div class="col-md-12" style="border: none;">
            <div style="border: 1px solid #DDD; border-radius: 7px; padding: 1px;">
                <table class="table table-striped table-responsive" style="margin: 0;">
                    <tr style="border-bottom: 1px solid #DDD;">
                        <td class="page-header" style="border: none;"><h4>DESCRIPTION</h4></td>
                    </tr>
                    <tr>
                        <td class="rendered" id="viewreadme" ng-bind-html="meta.FullDesc"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>
[[ template "footer" . ]]
<script>
    // Pre-filled table row data
    let barChartData = {
        Title: "[[ .Meta.Database ]]",
        Tablename: "[[ .Data.Tablename ]]",
        XAxisLabel: "Category",
        YAxisLabel: "Number of items",
        Records: [[ .Data.Records ]],
    }
    let dataReceived = false;
</script>
<script>
    // Simple filter to ensure '&nbsp;' is shown as a non-breaking space
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.filter("fixSpaces", ['$sce', '$sanitize', function($sce, $sanitize) {
        return function(htmlCode) {
            if (htmlCode === "") {
                htmlCode = '&nbsp;';
            }
            return $sanitize(htmlCode);
        }
    }]);

    app.controller('visualiseView', function($scope, $http) {
        // Pre-filled database metadata
        $scope.meta = {
            Branch:       "[[ .DB.Info.Branch ]]",
            Branches:     "[[ .DB.Info.Branches ]]",
            BranchList:   [[ .DB.Info.BranchList ]],
            CommitID:     "[[ .DB.Info.CommitID ]]",
            Commits:      "[[ .DB.Info.Commits ]]",
            Contributors: "[[ .DB.Info.Contributors ]]",
            Database:     "[[ .Meta.Database ]]",
            Discussions:  "[[ .DB.Info.Discussions ]]",
            Forks:        "[[ .DB.Info.Forks ]]",
            FullDesc:     "[[ .DB.Info.FullDesc ]]",
            Licence:      "[[ .DB.Info.Licence ]]",
            LicenceURL:   "[[ .DB.Info.LicenceURL ]]",
            MaxRows:      "[[ .DB.MaxRows ]]",
            MRs:          "[[ .DB.Info.MRs ]]",
            MyStar:       "[[ .MyStar ]]",
            MyWatch:      "[[ .MyWatch ]]",
            OneLineDesc:  "[[ .DB.Info.OneLineDesc ]]",
            Owner:        "[[ .Meta.Owner ]]",
            Public:       "",
            Releases:     "[[ .DB.Info.Releases ]]",
            Size:         "[[ .DB.Info.DBEntry.Size ]]",
            SourceURL:    "[[ .DB.Info.SourceURL ]]",
            Stars:        "[[ .DB.Info.Stars ]]",
            Watchers:     "[[ .DB.Info.Watchers ]]",
            Tables:       [[ .DB.Info.Tables ]],
            Tags:         "[[ .DB.Info.Tags ]]",
            [[ if .Meta.LoggedInUser ]]
                Loggedin: "true",
            [[ else ]]
                Loggedin: "false",
            [[ end ]]
        }

        // Set the table name
        $scope.db = { Tablename: "[[ .Data.Tablename ]]"};

        // Set the displayed public/private value
        if ("[[ .DB.Info.Public ]]" === "true") {
            $scope.meta.Public = "Public";
        } else {
            $scope.meta.Public = "Private";
        }

        // Start out with the visualisation disabled
        $scope.showVis = false;
        $scope.columnNames = [[ .Data.ColNames ]];
        $scope.XAxisColumn = $scope.columnNames[0];
        $scope.YAxisColumn = $scope.columnNames[1];
        $scope.shouldAgg = "true";
        $scope.AggType = "SUM";
        $scope.aggTypes = ["SUM", "AVG"];

        // Retrieve the initial data for visualisation
        $scope.doVis = function() {
            let args = "table="+$scope.db.Tablename+"&xaxis="+$scope.XAxisColumn+"&yaxis="+$scope.YAxisColumn;
            if ($scope.shouldAgg === "true") {
                args +="&agg="+$scope.AggType;
            }
            $http.get("/x/vis/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&"+args).then(
                function (response) {
                    // Update table data
                    barChartData = response.data;
                    barChartData.Tablename = $scope.db.Tablename;
                    barChartData.Title = [[ .Meta.Database ]];
                    barChartData.XAxisLabel = $scope.XAxisColumn;
                    barChartData.YAxisLabel = $scope.YAxisColumn;

                    // Display the visualisation
                    $scope.showVis = true;
                    dataReceived = true;
                    draw_bar_chart(palette, barChartData, barChartOrderBy, barChartOrderDirection);
                }
            )
        };

        // Save the visualisation for easy later retrieval
        $scope.statusMessage = "";
        $scope.statusMessageColour = "red";
        $scope.saveAs = function(visName) {
            let args = "table="+$scope.db.Tablename;
            args += "&xaxis="+$scope.XAxisColumn;
            args += "&yaxis="+$scope.YAxisColumn;
            args += "&visname="+visName;
            args += "&orderby="+barChartOrderBy;
            args += "&orderdir="+barChartOrderDirection;
            if ($scope.shouldAgg === "true") {
                args +="&agg="+$scope.AggType;
            }
            $http.get("/x/vissave/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]&"+args).then(
                function success(response) {
                    $scope.statusMessageColour = "green";
                    $scope.statusMessage = "Visualisation saved";
                }, function failure(response) {
                    // The save failed, so display the returned error message
                    $scope.statusMessageColour = "red";
                    $scope.statusMessage = "Saving failed: " + response.data;
                }
            )
        };

        // Change the X Axis Column
        $scope.changeXAxisColumn = function(newcol) {
            $scope.XAxisColumn = newcol;
        };

        // Change the Y Axis Column
        $scope.changeYAxisColumn = function(newcol) {
            $scope.YAxisColumn = newcol;
        };

        // Change the Y Axis Column
        $scope.changeAggType = function(newagg) {
            $scope.AggType = newagg;
        };

        // Change the column sort approach
        $scope.ChartOrderName = "Category names";
        $scope.ChartOrderBy = ["Category names", "Item totals"];
        $scope.chartChangeOrder = function(ord) {
            if (ord === "Category names") {
                barChartOrderBy = 0;
            } else {
                barChartOrderBy = 1;
            }
            $scope.ChartOrderName = ord;
            draw_bar_chart(palette, barChartData, barChartOrderBy, barChartOrderDirection);
        };

        // Change the column sort direction
        $scope.ChartDirectionName = "Ascending";
        $scope.ChartDirectionBy = ["Ascending", "Descending"];
        $scope.chartChangeDirection = function(dir) {
            if (dir === "Ascending") {
                barChartOrderDirection = 0;
            } else {
                barChartOrderDirection = 1;
            }
            $scope.ChartDirectionName = dir;
            draw_bar_chart(palette, barChartData, barChartOrderBy, barChartOrderDirection);
        };

        // Retrieves the visualisation data for a different table, then updates the visualisation
        $scope.changeTable = function(newtable) {
            $scope.db.Tablename = newtable;
            $scope.doVis();
        };

        // Fork the database
        $scope.forkDB = function() {
            // Check if the user is logged in
            if ($scope.meta.Loggedin !== "true") {
                // User needs to be logged in
                lock.show();
                return;
            }

            // Only proceed if the database being forked doesn't already belong to the user
            if ("[[ .Meta.LoggedInUser ]]" !== "[[ .Meta.Owner ]]") {
                // Call the fork database code, which should bounce us to the forked database
                window.location = "/x/forkdb/[[ .Meta.Owner ]]/[[ .Meta.Database ]]?commit=[[ .DB.Info.CommitID ]]";
            }
        };

        // Sends the user to the forks page for the database
        $scope.forksPage = function() {
            window.location = "/forks/[[ .Meta.Owner ]]/[[ .Meta.Database ]]"
        };

        // Sends the user to the stars page for the database
        $scope.starsPage = function() {
            window.location = "/stars/[[ .Meta.Owner ]]/[[ .Meta.Database ]]"
        };

        // Sends the user to the login page (if not logged in), else toggles starring of the database for the user
        $scope.toggleStars = function() {
            if ($scope.meta.Loggedin !== "true") {
                // User needs to be logged in
                lock.show();
                return;
            }
            $http.get("/x/star/[[ .Meta.Owner ]]/[[ .Meta.Database ]]")
                .then(function (response) {
                    var tempval = response.data;
                    if (tempval !== "-1") {
                        // Update star button text
                        if ($scope.meta.MyStar !== "true") {
                            $scope.meta.MyStar = "true";
                        } else {
                            $scope.meta.MyStar = "false";
                        }
                        $scope.updateStarsText();

                        // Update displayed star count
                        $scope.meta.Stars = tempval;
                    }
                })
        };

        // Turns on watching for a database
        $scope.toggleWatchers = function() {
            if ($scope.meta.Loggedin !== "true") {
                // User needs to be logged in
                lock.show();
                return;
            }

            // Retrieve the branch list for the newly selected database
            $http.get("/x/watch/[[ .Meta.Owner ]]/[[ .Meta.Database ]]")
                .then(function (response) {
                    // Update watch button text
                    if ($scope.meta.MyWatch !== "true") {
                        $scope.meta.MyWatch = "true";
                    } else {
                        $scope.meta.MyWatch = "false";
                    }
                    $scope.updateWatchersText();

                    // Update displayed watcher count
                    $scope.meta.Watchers = response.data;
                });
        };

        // Update star button text to say "Stars" or "Unstar"
        $scope.starsText = "<i class=\"fa fa-star\"></i> Star";
        $scope.updateStarsText = function() {
            if ($scope.meta.MyStar !== "true") {
                $scope.starsText = "<i class=\"fa fa-star\"></i> Star";
            } else {
                $scope.starsText = "<i class=\"fa fa-star\"></i> Unstar";
            }
        };
        $scope.updateStarsText();

        // Update watchers button text to say "Watch" or "Unwatch"
        $scope.watchersText = "<i class=\"fa fa-eye\"></i> Watch";
        $scope.updateWatchersText = function() {
            if ($scope.meta.MyWatch !== "true") {
                $scope.watchersText = "<i class=\"fa fa-eye\"></i> Watch";
            } else {
                $scope.watchersText = "<i class=\"fa fa-eye\"></i> Unwatch";
            }
        };
        $scope.updateWatchersText();

        // Sends the user to the watchers page for the database
        $scope.watchersPage = function() {
            window.location = "/watchers/[[ .Meta.Owner ]]/[[ .Meta.Database ]]"
        };

        // Auth0 authentication
        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});
        $scope.showLock = function() {
            lock.show();
        };
    });
</script>
</body>
</html>
[[ end ]]
