[[ define "watchersPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="watchersView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div>
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <h2 style="text-align: center;">
                <span data-cy="pplwatch">People watching</span>
                <a class="blackLink" href="/[[ .Meta.Owner ]]" data-cy="ownerlnk">[[ .Meta.Owner ]]</a> /
                <a class="blackLink" href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]" data-cy="dblnk">[[ .Meta.Database ]]</a>
            </h2>
            <table ng-if="watchers.Watchers != ''" class="table table-striped table-responsive profileTable">
                <tr ng-repeat="row in watchers.Watchers">
                    <td>
                        <h4>• <a class="blackLink" href="/{{ row.Owner }}">{{ row.display_name}}</a></h4>
                        Started watching <span title="{{ row.DateEntry | date : 'medium' }}">{{ getTimePeriodTxt(row.DateEntry, true) }}</span>
                    </td>
                </tr>
            </table>
            <h3 ng-if="watchers.Watchers === null" style="text-align: center;">No-one is watching [[ .Meta.Owner ]]/[[ .Meta.Database ]] yet</h3>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    let app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
        app.controller('watchersView', function($scope) {
            $scope.watchers = { Watchers: [[ .Watchers ]] }

            // Returns a nicely presented "time elapsed" string
            $scope.getTimePeriodTxt = function(date1, includeOn) {
                return getTimePeriod(date1, includeOn)
            };
        });
</script>
</body>
</html>
[[ end ]]
