<html>
<head>
 <title>DBHub.io</title>
 <style>
  table {
   border-collapse: collapse;
  }

  th, td {
   border: 1px solid black;
   text-align: center;
   padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}
 </style>
</head>
<body>
<h1>DBHub.io website app v0.01</h1>
<h2>Users on the system</h2>
<table style="width: 100%">
 <tr>
  <th>Username</th>
  <th>Email address</th>
  <th>Password hash</th>
  <th>Date joined</th>
  <th>Certificate file</th>
  <th>Manage DBs</th>
  <th>Modify user</th>
  <th>Delete user</th>
 </tr>
{{range .}}
 <tr>
  <td>{{.Username}}</td>
  <td>{{.Email}}</td>
  <td>{{printf "%s" .PHash}}</td>
  <td>{{.DateJoined.Format "2006-Jan-02 15:04:05"}}</td>
  <td>
   <form action="/certdownload" method="POST">
    <input type="hidden" name="username" value="{{.Username}}">
    <input type="submit" value="↓">
   </form>
  </td>
  <td>
   <form action="/dbmanage" method="POST">
    <input type="hidden" name="username" value="{{.Username}}">
    <input type="submit" value="♺">
   </form>
  </td>
  <td>
   <form action="/usermod" method="POST">
    <input type="hidden" name="username" value="{{.Username}}">
    <input type="submit" value="→">
   </form>
  </td>
  <td>
   <form action="/userdel" method="POST">
    <input type="hidden" name="username" value="{{.Username}}">
    <input type="submit" value="✘">
   </form>
  </td>
 </tr>
{{end}}
</table>
<h3>Add a new user</h3>
<form action="/useradd" method="POST">
<table>
 <tr>
  <th align="left">Username:</th>
  <td><input type="text" name="username" required></td>
 </tr>
 <tr>
  <th align="left">Email address:</th>
  <td><input type="email" name="email" required></td>
 </tr>
 <tr>
  <th align="left">Password:</th>
  <td><input type="text" name="pword" value="abc123" required></td>
 </tr>
 <tr>
  <th align="left">Verify password:</th>
  <td><input type="text" name="pverify" value="abc123" required></td>
 </tr>
 <tr>
  <th align="left">&nbsp;</th>
  <td><input type="submit" value="Save"></td>
 </tr>
</table>
</form>
</body>
</html>
