<html>
<head>
 <title>DBHub.io</title>
 <style>
  table {
   border-collapse: collapse;
  }

  th, td {
   border: 1px solid black;
   text-align: center;
   padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}
 </style>
</head>
<body>
<h1>DBHub.io website app v0.01</h1>
<a href="/">← Back to the front page</a>
<h2>Modify user</h2>
<form action="/usermodaction" method="POST">
<table>
 <tr>
  <th align="left">Username:</th>
  <td><input type="hidden" name="username" size="40" value="{{.Username}}">{{.Username}}</td>
 </tr>
 <tr>
  <th align="left">Email address:</th>
  <td><input type="email" name="email" size="40" value="{{.Email}}" required></td>
 </tr>
 <tr>
  <th align="left">Password:</th>
  <td><input type="text" name="pword" size="40" value="" required></td>
 </tr>
 <tr>
  <th align="left">Verify password:</th>
  <td><input type="text" name="pverify" size="40" value="" required></td>
 </tr>
 <tr>
  <th align="left">Date joined:</th>
  <td><input type="text" name="djoined" size="40" value="{{.DateJoined}}" required></td>
 </tr>
 <tr>
  <th align="left">Client Certificate:</th>
  <td>{{printf "%s" .ClientCert}}</td>
 </tr>
 <tr>
  <th align="left">&nbsp;</th>
  <td><input type="submit" value="Update"></td>
 </tr>
</table>
</form>
<h3>Generate new client certificate</h3>
<form action="/certgenerate" method="POST">
 <table>
  <tr>
   <th>Certificate</th>
   <td>
    <input type="hidden" name="username" value="{{.Username}}">
    <input type="submit" value="Generate">
   </td>
  </tr>
 </table>
</form>
<h3>Upload new client certificate</h3>
<form action="/certupload" enctype="multipart/form-data" method="POST">
 <table>
  <tr>
   <th>Certificate</th>
   <td>
    <input type="hidden" name="username" value="{{.Username}}">
    <input type="file" name="cert">
    <input type="submit" value="Upload">
   </td>
  </tr>
 </table>
</form>
</body>
</html>