[[ define "errorPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="errorView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>[[ .Message ]]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    //    app.controller('errorView', function($scope) {
    //        $scope.users = { TBD }
    //    });
</script>
</body>
</html>
[[ end ]]