[[ define "footer" ]]
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive">
                <tr>
                    <th>About Us</th>
                    <th>Get Involved</th>
                    <th>Communication</th>
                    <th>Legal</th>
                </tr>
                <tr>
                    <td>What is DBHub.io?</td>
                    <td><a href="https://github.com/sqlitebrowser/dbhub-application">GitHub</a></td>
                    <td>Blog</td>
                    <td>Privacy Policy</td>
                </tr>
                <tr>
                    <td>Core Team</td>
                    <td>Crowdfunding</td>
                    <td><a href="https://twitter.com/sqlitebrowser">Twitter</a></td>
                    <td>Terms and Conditions</td>
                </tr>
                <tr>
                    <td>Contributors</td>
                    <td>&nbsp;</td><td>
                    <a href="https://lists.sqlitebrowser.org/mailman/listinfo/db4s-dev">Mailing List</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    // TODO: Make this configurable in server config settings
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84758461-2', 'auto');
    ga('send', 'pageview');

</script>
[[ end ]]