[[ define "footer" ]]
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive">
                <tr>
                    <th>About Us</th>
                    <th>Get Involved</th>
                    <th>Communication</th>
                    <th>Legal</th>
                </tr>
                <tr>
                    <td>What is DBHub.io?</td>
                    <td><a href="https://github.com/sqlitebrowser/dbhub-application">GitHub</a></td>
                    <td>Blog</td>
                    <td>Privacy Policy</td>
                </tr>
                <tr>
                    <td>Core Team</td>
                    <td>Crowdfunding</td>
                    <td><a href="https://twitter.com/sqlitebrowser">Twitter</a></td>
                    <td>Terms and Conditions</td>
                </tr>
                <tr>
                    <td>Contributors</td>
                    <td>&nbsp;</td><td>
                    <a href="https://lists.sqlitebrowser.org/mailman/listinfo/db4s-dev">Mailing List</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
[[ end ]]