[[ define "header" ]]
<div class="container">
    <div class="row" style="padding-top: 8px;">
        <div id="logo" class="col-md-6">
            <div class="pull-left">
              <a href="/"><img src="/images/sqlitebrowser.svg" height="25"/></a>
            </div>
        </div>
        <div id="auth" class="col-md-6">
            <div class="pull-right">
                <a href="/login">Login</a> | <a href="/register">Register</a>
            </div>
        </div>
    </div>
</div>
[[ end ]]