[[ define "prefPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="prefView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div class="container">
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-6">
            <h2 style="text-align: center;">Preferences</h2>
            <form action="/pref" method="post">
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <th>Maximum number of rows to display</th>
                        <td><input type="number" name="maxrows" value="[[ .MaxRows ]]" min="1" max="500"></td>
                    </tr>
                    <tr>
                        <td><b>Maximum number of columns to display</b><br /><i>Not yet implemented</i></td>
                        <td><input type="number" name="maxcols" value="10" min="1" max="500"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <input type="submit" value="Update">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    //    app.controller('prefView', function($scope) {
    //        $scope.users = { Meta: { Title: "Preferences" } }
    //    });
</script>
</body>
</html>
[[ end ]]