[[ define "profilePage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="profileView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <h2 id="viewuser" style="margin-top: 10px;">
                <div class="pull-left">
                    Your page
                </div>
            </h2>
        </div>
    </div>

    <div class="row col-md-12" style="margin-bottom: 10px">
        <button class="btn btn-primary" ng-click="uploadForm()">Upload database</button>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Public databases</h3>
            [[ if .PublicDBs ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr ng-repeat="row in pubdb.Databases">
                        <td><h4><a href="/{{ meta.Owner + '/' + row.Database }}">{{ row.Database }}</a>{{ row.Description }}</h4>
                            <b>Version:</b> {{ row.Version }} &nbsp; <b>Size:</b> {{ row.Size /1024 | number : 0 }} KB &nbsp;
                            <b>Watchers:</b> {{ row.Watchers }} &nbsp; <b>Stars:</b> {{ row.Stars }} &nbsp;
                            <b>Forks:</b> {{ row.Forks }} &nbsp; <b>Discussions:</b> {{ row. Discussions }} &nbsp;
                            <b>MRs:</b> {{ row.MRs }} &nbsp; <b>Updates:</b> {{ row.Updates }} &nbsp;
                            <b>Branches:</b> {{ row.Branches }} &nbsp; <b>Releases:</b> {{ row.Releases }} &nbsp;
                            <b>Contributors:</b> {{ row.Contributors }}<br />
                            <b>Last modified:</b> {{ row.LastModified | date : 'd MMMM, y h:mm a' : 'UTC' }}
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <td>
                            <h4>No public databases yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
        <div class="col-md-6">
            <h3>Private databases</h3>
            [[ if .PrivateDBs ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr ng-repeat="row in privdb.Databases">
                        <td><h4><a href="/{{ meta.Owner + '/' + row.Database }}">{{ row.Database }}</a>{{ row.Description }}</h4>
                            <b>Version:</b> {{ row.Version }} &nbsp; <b>Size:</b> {{ row.Size /1024 | number : 0 }} KB &nbsp;
                            <b>Watchers:</b> {{ row.Watchers }} &nbsp; <b>Stars:</b> {{ row.Stars }} &nbsp;
                            <b>Forks:</b> {{ row.Forks }} &nbsp; <b>Discussions:</b> {{ row. Discussions }} &nbsp;
                            <b>MRs:</b> {{ row.MRs }} &nbsp; <b>Updates:</b> {{ row.Updates }} &nbsp;
                            <b>Branches:</b> {{ row.Branches }} &nbsp; <b>Releases:</b> {{ row.Releases }} &nbsp;
                            <b>Contributors:</b> {{ row.Contributors }}<br />
                            <b>Last modified:</b> {{ row.LastModified | date : 'd MMMM, y h:mm a' : 'UTC' }}
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <td>
                            <h4>No private databases yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Databases you've starred</h3>
            [[ if .Stars ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr ng-repeat="row in stars.Stars">
                        <td>
                            <h4>
                                <a href="/{{ row.Owner }}">{{ row.Owner }}</a> /
                                <a href="/{{ row.Owner + '/' + row.DBName }}">{{ row.DBName }}</a>
                            </h4>
                            <b>Date starred:</b> {{ row.DateStarred | date : 'd MMMM, y h:mm a' : 'UTC' }}
                        </td>
                    </tr>
                </table>
            [[ else ]]
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <td>
                            <h4>No starred databases yet</h4>
                        </td>
                    </tr>
                </table>
            [[ end ]]
        </div>
        <div class="col-md-6">
            <h3>Databases you're watching</h3>
            <table class="table table-bordered table-striped table-responsive">
                <tr>
                    <td>
                        <h4>Not yet implemented</h4>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('profileView', function($scope) {
        $scope.meta = { Owner: "[[ .Meta.Owner ]]" }
        $scope.pubdb = { Databases: [[ .PublicDBs ]] }
        $scope.privdb = { Databases: [[ .PrivateDBs ]] }
        $scope.stars = { Stars: [[ .Stars ]] }

        $scope.uploadForm = function(newtable) {
            window.location = '/upload/'
        }
    });
</script>
</body>
</html>
[[ end ]]