<!doctype html>
<html ng-app="DBHub-front" ng-controller="rootView">
[[ template "head" . ]]
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="viewuser">
                <div class="pull-left">Users with public databases</div>
            </h2>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-responsive">
                <tr ng-repeat="user in users.List">
                    <td><h4><a href="/{{ user.Username }}">{{ user.Username }}</a></h4>
                        <b>Last modified:</b> {{ user.LastModified | date : 'd MMMM, y h:mm a' : 'UTC' }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub-front', ['ui.bootstrap', 'ngSanitize']);
    app.controller('rootView', function($scope) {
        $scope.users = { List: [[ .List ]] }
    });
</script>
</body>
</html>