[[ define "selectUsernamePage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="registerView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div class="container">
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-6">
            <h2 style="text-align: center;">Select preferred username</h2>
            <form action="/register" method="post">
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <th>Username:</th>
                        <td><input type="text" name="username"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <input type="submit">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
    app.controller('selectusernameView', function($scope) {
        var lock = new Auth0Lock("[[ .Auth0.ClientID ]]", "[[ .Auth0.Domain ]]", { auth: {
            redirectUrl: "[[ .Auth0.CallbackURL]]"
        }});

        $scope.showLock = function() {
            lock.show();
        };
    });
</script>
</body>
</html>
[[ end ]]