[[ define "starsPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="starsView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div class="container">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <h2 style="text-align: center;">
                People who starred <a href="/[[ .Meta.Owner ]]">[[ .Meta.Owner ]]</a> / <a href="/[[ .Meta.Owner ]]/[[ .Meta.Database ]]">[[ .Meta.Database ]]</a>
            </h2>
            <table class="table table-bordered table-striped table-responsive">
                <tr ng-repeat="row in stars.Stars">
                    <td>
                        <h4><a href="/{{ row.Owner }}">{{ row.Owner}}</a></h4>
                        Starred on: {{ row.DateStarred | date : 'd MMMM, y h:mm a' : 'UTC' }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub', ['ui.bootstrap', 'ngSanitize']);
        app.controller('starsView', function($scope) {
            $scope.stars = { Stars: [[ .Stars ]] }
        });
</script>
</body>
</html>
[[ end ]]