[[ define "uploadPage" ]]
<!doctype html>
<html ng-app="DBHub" ng-controller="uploadView">
[[ template "head" . ]]
<body>
[[ template "header" . ]]
<div class="container">
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-6">
            <h3>Upload new database</h3>
            <form action="/uploaddata/" enctype="multipart/form-data" method="POST">
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <th>Database</th>
                        <td><input type="file" name="database"></td>
                    </tr>
                    <tr>
                        <th>Public or private?</th>
                        <td>
                            <input type="radio" name="public" value="true"> Public - <i>Everyone has read access to it</i><br />
                            <input type="radio" name="public" value="false" checked> Private - <i>Only you have access to it</i>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <input type="submit" value="Upload">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub-', ['ui.bootstrap', 'ngSanitize']);
//    app.controller('uploadView', function($scope) {
//        $scope.meta = { Username: "[[ .Meta.Username ]]" }
//    });
</script>
</body>
</html>
[[ end ]]