<!doctype html>
<html ng-app="DBHub-front" ng-controller="userView">
[[ template "head" . ]]
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="viewuser">
                <div class="pull-left"><a href="/">/</a> [[ .Meta.Username ]]'s public databases</div>
            </h2>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-responsive">
                <tr ng-repeat="row in db.Databases">
                    <td><h4><a href="{{ meta.Username + '/' + row.Database }}">{{ row.Database }}</a>{{ row.Description }}</h4>
                        <b>Version:</b> {{ row.Version }} &nbsp; <b>Size:</b> {{ row.Size /1024 | number : 0 }} KB &nbsp;
                        <b>Watchers:</b> {{ row.Watchers }} &nbsp; <b>Stars:</b> {{ row.Stars }} &nbsp;
                        <b>Forks:</b> {{ row.Forks }} &nbsp; <b>Discussions:</b> {{ row. Discussions }} &nbsp;
                        <b>PRs:</b> {{ row.PRs }} &nbsp; <b>Updates:</b> {{ row.Updates }} &nbsp;
                        <b>Branches:</b> {{ row.Branches }} &nbsp; <b>Releases:</b> {{ row.Releases }} &nbsp;
                        <b>Contributors:</b> {{ row.Contributors }}<br />
                        <b>Last modified:</b> {{ row.LastModified | date : 'd MMMM, y h:mm a' : 'UTC' }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
[[ template "footer" . ]]
<script>
    var app = angular.module('DBHub-front', ['ui.bootstrap', 'ngSanitize']);
    app.controller('userView', function($scope) {
        $scope.meta = { Username: "[[ .Meta.Username ]]" }
        $scope.db = { Databases: [[ .DataRows ]] }
    });
</script>
</body>
</html>